<h3>Study settings</h3>

<form class="form-horizontal">
    {{#unless currentUser.srActivated}}
        <div class="form-group">
            <article class="col-sm-6">
                <h5 class="control-label">Activate 'Spaced Practice'<br>
                    <small>Watch the video below and then tap the toggle on your right.</small>
                </h5>
            </article>

            <div class="col-sm-6">
                <div class="togglebutton togglebutton-success">
                    <label class="margin-top-16 pull-right">
                        {{input type="checkbox" checked=currentUser.srActivated}}
                        <span class="toggle"></span>
                    </label>
                </div>
            </div>
        </div>
    {{/unless}}
    {{#if currentUser.srActivated}}
        {{#unless preparingSpacedRepetition}}
            <div class="form-group">
                <article class="col-sm-6">
                    <h5 class="control-label">Spaced Practice is ON<br>
                        <small>Spaced Practice sends you helpful notifications to optimise your studying!.</small>
                    </h5>
                </article>

                <div class="col-sm-6">
                    <div class="togglebutton togglebutton-danger">
                        <label class="margin-top-16 pull-right">
                            {{input type="checkbox" checked=currentUser.srActivated}}
                            <span class="toggle"></span>
                        </label>
                    </div>
                </div>
            </div>

        <br/>

            <div class="form-group">
                <article class="col-sm-6">
                    <h5 class="control-label">Study intensity <br>
                        <small>
                            Increase this as you come closer to exams. We will adjust the content
                            we send you according to this intensity.
                        </small>
                    </h5>
                </article>

                <div class="col-sm-4 margin-top-16">
                    {{input type="range" min=1 max=3 value=currentUser.srIntensityLevel class='inline-block'}}
                </div>
                <label class="col-sm-2 margin-top-16 control-label">
                    <strong>{{studyIntensityLabel}}</strong>
                </label>
            </div>

            <div class="form-group">
                <article class="col-sm-6">
                    <h5 class="control-label">Revision modules <br>
                        <small>
                            Select the tags for the modules you are currently revising for. This will make
                            sure you don't receive questions that you no longer want to revise.
                        </small>
                    </h5>
                </article>

                <div class="col-sm-6 margin-top-16">
                    {{module-tags tags=currentUser.moduleTags canEdit=true parentController=this
                    small=true}}
                </div>
            </div>

            <div class="form-group">
                <article class="col-sm-6">
                    <h5 class="control-label">Time Zone <br>
                        <small>Because afternoon to us might be bed time for you.</small>
                    </h5>
                </article>

                <div class="col-sm-4 col-sm-push-2">
                    {{view 'select' content=timeZones value=currentUser.timeZone class="form-control"}}
                </div>
            </div>

            <div class="form-group">
                <article class="col-sm-6">
                    <h5 class="control-label">Email <br>
                        <small>Reminders and updates will be emailed to you at {{currentUser.email}}.</small>
                    </h5>
                </article>

                <div class="col-sm-6">
                    <div class="togglebutton togglebutton-info">
                        <label class="margin-top-16 pull-right">
                            {{input type="checkbox" checked=currentUser.srNotifyByEmail}}
                            <span class="toggle"></span>
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <article class="col-sm-6">
                    <h5 class="control-label">Push Notifications <br>
                        <small>Reminders and updates will be sent to your smartphone/tablet.</small>
                    </h5>
                </article>

                <div class="col-sm-6">
                    <div class="togglebutton togglebutton-info">
                        <label class="margin-top-16 pull-right">
                            {{input type="checkbox" checked=currentUser.srNotifyByPush}}
                            <span class="toggle"></span>
                        </label>
                    </div>
                </div>
            </div>

            <h5>Do not disturb <br>
                <small>Everyone deserves a social life. Toggle on the hours and days when you <strong>do not</strong>
                    want to revise. We'll avoid sleeping hours anyways.
                </small>
            </h5>
            <section class="row margin-bottom-8">
                <article class="col-sm-4">
                    <strong>Day</strong>
                </article>
                {{#each slotsOfTheDay as |slot|}}
                    <article class="col-sm-2">
                        {{slot.times}}
                    </article>
                {{/each}}
            </section>
            {{#each currentUser.srDoNotDisturbTimes as |day dayIndex|}}
                <section class="row text-center margin-bottom-8">
                    <article class="col-sm-4 text-left">
                        {{day.label}}
                    </article>
                    {{#each day.slots as |slot slotIndex|}}
                        <article class="col-sm-2">
                            <div class="togglebutton togglebutton-info">
                                <label {{action 'toggleSlot' slotIndex dayIndex}}>
                                    {{input type="checkbox" checked=slot.active}}
                                    <span class="toggle"></span>
                                </label>
                            </div>
                        </article>
                    {{/each}}
                </section>
            {{/each}}

        {{else}}
            <h4 class="text-center">Preparing ...</h4>
        {{/unless}}
    {{/if}}

    {{#if currentUserDidDirty}}
        <hr class="full-hr"/>

        {{async-button default="Save Changes" action="saveChanges" pending="Saving..."
        fulfilled="Saved!" class="btn btn-success" reset=true}}
    {{/if}}
</form>