<div {{bind-attr class=":card :list-card :activity-car :margin-top-16"}}>
    <div class="left inline-top">
        <div class="author inline-block">
            {{profile-picture user=activity.actor}}
        </div>
    </div>

    <div class="right inline-top">
        <h4 class="margin-bottom-8 title">
            {{#link-to 'index.user' activity.actor.slug}}
                {{activity.actor.name}}
            {{/link-to}}

            {{#if createdTestActivity}}
                created a new
                {{#link-to 'category' activity.object.category.slug}}
                    {{activity.object.category.name}}
                {{/link-to}}
                quiz called
                {{#link-to 'testInfo' activity.object.slug}}
                    {{activity.object.title}}
                {{/link-to}}
            {{/if}}

            {{#if attemptActivity}}
                {{#if activity.object.score}}
                    scored {{activity.object.score}}% on
                {{else}}
                    took
                {{/if}}

                {{#link-to 'testInfo' activity.target.slug}}
                    {{activity.target.title}}
                {{/link-to}}
            {{/if}}

            {{#if followActivity}}
                started following
                {{#link-to 'index.user' activity.object.following.slug}}
                    {{activity.object.following.name}}
                {{/link-to}}
            {{/if}}
        </h4>

        <p class="margin-bottom-8 small description">{{activity.object.title.description}}</p>

        <div class="extra-actions-item-container">
            {{from-now time=activity.time showIcon=true mini=true
            class="margin-top-8 margin-right-8 margin-left-8"}}
        </div>

    </div>

    <hr class="full-hr margin-bottom-8 margin-top-8">

    <div class="bottom">
        <section class="row">
            <article class="col-xs-12 col-sm-6 col-sm-push-6">

                {{#if attemptActivity}}
                    <button class="btn btn-info btn-ghost"
                        {{action 'openModal' 'browse/modal/test-info' 'browse.modal.testInfo'
                        activity.target}}>
                        Take Quiz
                    </button>
                {{/if}}

                {{#if createdTestActivity}}
                    <button class="btn btn-info btn-ghost"
                        {{action 'openModal' 'browse/modal/test-info' 'browse.modal.testInfo'
                        activity.object}}>
                        Take Quiz
                    </button>
                {{/if}}

                {{#if showViewProfile}}
                    {{#link-to 'index.user' activity.object.following.slug tagName='button'
                    class="btn btn-info btn-ghost"
                    }}
                        View {{activity.object.following.firstName}}'s Profile
                    {{/link-to}}
                {{/if}}

            </article>
            <article class="col-xs-12 col-sm-6 col-sm-pull-6 text-left">

                <span class="like-button linkify margin-left-8 margin-right-8" {{action 'toggleLike'}}>
                    <i {{bind-attr class=":fa :fa-fw activity.liked:fa-thumbs-up:fa-thumbs-o-up"}}></i>
                    {{#if activity.object.likes}}
                        {{activity.object.likes}}
                    {{/if}}
                </span>

                {{#unless activity.object.likes}}
                    <small>Be the first to like this</small>
                {{/unless}}
            </article>
        </section>
    </div>
</div>