{{autocomplete-input value=inputValue
    data=inputData
    isFocused=isFocused
    array=array
    groups=groups
    selectedItem=selectedItem
    relativeLayout=relativeLayout
    activeSelection=activeSelection
    key=key
    class='form-control'}}
{{#if isFocused}}
    <div {{bind-attr class=":autocomplete-container relativeLayout"}}>
        {{#each group in groups}}
            <h4 class="group-title">{{group.title}} ({{group.totalRecords}})</h4>
            {{#each item in group.records itemController='component.item.autocomplete'}}
                <div {{bind-attr class=':autocomplete-row item.isFocused'}} {{action 'itemSelected' item}}>
                    {{#if item.imageUrl}}
                        {{render 'profile-image' item.imageUrl}}
                    {{/if}}
                    <div class="title"><p>{{item.key}}</p></div>
                </div>
            {{/each}}
        {{/each}}

        {{#each item in array itemController='component.item.autocomplete'}}
            <div {{bind-attr class=':autocomplete-row item.isFocused'}} {{action 'itemSelected' item}}>
                {{#if item.object.authorImageUrl}}
                    {{render 'profile-image' item.object.authorImageUrl}}
                {{/if}}
                <div class="title"><p>{{item.key}}</p></div>
            </div>
        {{/each}}

        {{#if numberOfItemsOmitted}}
            {{!--<div {{bind-attr class=':autocomplete-row :text-center item.isFocussed'}} {{action 'seeAllResults'}}>
                <p>See all results ({{numberOfItemsOmitted}}).</p>
            </div>--}}
        {{/if}}
    </div>
{{/if}}