{{#if isFocussed}}
    <div class="autocomplete-container">
        {{#each item in array itemController='component.item.autocomplete'}}
            <div class="autocomplete-row" {{bind-attr class=':autocomplete-row item.isFocussed'}} {{action 'itemSelected' item}}>
                {{render 'profile-image' item.object.authorImageUrl}}
                <div class="title"><p>{{item.key}}</p></div>
            </div>
        {{/each}}
        {{#if numberOfItemsOmitted}}
            <div class="autocomplete-row text-center" {{bind-attr class=':autocomplete-row item.isFocussed'}} {{action 'seeAllResults'}}>
                <p>See all results ({{numberOfItemsOmitted}}).</p>
            </div>
        {{/if}}
    </div>
{{/if}}