{{#if canEdit}}
    {{#unless test.category}}
        <section class="row">
            {{!-- Parent Category row --}}
            <article class="col-xs-12">
                {{view 'select'
                classNames='form-input'
                content=parentController.parentCategories
                optionValuePath="content"
                optionLabelPath="content.name"
                selection=parentController.parentCategory
                prompt="Please select a subject"}}
            </article>
        </section>
        {{#if parentController.childCategories.length}}
        {{!-- Child Category row --}}
            <section class="row">
                <div class="col-xs-12 margin-top-16">
                    {{view 'select'
                    classNames='form-input'
                    content=parentController.childCategories
                    optionValuePath="content"
                    optionLabelPath="content.name"
                    selection=parentController.childCategory
                    prompt="Please select a subject area"}}
                </div>
            </section>
        {{/if}}
    {{/unless}}
{{/if}}

{{#if test.category}}
{{!-- Category Tags --}}
    <div {{bind-attr class=":tags :margin-bottom-8 center:text-center"}}>
        {{#if test.category.parent}}
            <div {{action 'removeCategory' test.category.parent}}
                    {{bind-attr class=":category-tag inverseStyle:inverse small"}}>
                <i class="fa fa-fw fa-plane icon"></i>
                <span>{{test.category.parent.name}}</span>
            </div>
        {{/if}}
        <div {{action 'removeCategory' test.category}}
            {{bind-attr class=":category-tag inverseStyle:inverse small"}}>
            <i class="fa fa-fw fa-plane icon"></i>
            <span>{{test.category.name}}</span>
        </div>
    </div>
{{/if}}
