{{!-- input field --}}
{{input
type="text"
class="form-input"
value=searchTerm
focus-in='navbarSearchFocused'
focus-out='navbarSearchBlurred'
placeholder=searchPlaceholder}}
{{!-- /input field --}}

{{#if navbarSearchIsFocused}}
    <span class="fa fa-close close-icon"></span>
{{else}}
    {{#unless hideSearchIcon}}
        <span class="fa fa-search search-icon" {{action 'focusOnNavbarSearch'}}></span>
    {{/unless}}
{{/if}}

{{#if navbarSearchIsFocused}}
    <div {{bind-attr class=":search-popdown navbarSearchDual:dual inlineResults"}}>
        <div {{bind-attr class="inlineResults::container-fluid"}}>
            {{#unless searchTerm.length}}
                <p class="prompt-text margin-top-8">Type to search...</p>
            {{else}}
                {{#if navbarSearchFetching}}
                    <div class="icon-only-loader margin-top-8 margin-bottom-8"></div>
                {{else}}
                    {{#unless navbarSearchTotalResults}}
                        <p class="prompt-text margin-top-8">No results found.</p>
                    {{/unless}}
                {{/if}}
            {{/unless}}

            {{#if navbarSearchTotalResults}}
                <section {{bind-attr class=":row inlineResults::margin-top-8 :margin-bottom-16"}}>
                    {{#if navbarSearchResults.tests.length}}

                        <article {{bind-attr class="navbarSearchResults.users.length:col-xs-6:col-xs-12"}}>
                            {{#unless inlineResults}}
                                <h5>TESTS</h5>
                            {{/unless}}

                            {{#each navbarSearchResults.tests as |test|}}
                                {{test-card test=test parentController=parentController cardType="miniList"}}
                            {{/each}}
                        </article>

                    {{/if}}
                    {{#if navbarSearchResults.users.length}}

                        <article {{bind-attr class="navbarSearchResults.tests.length:col-xs-6:col-xs-12
                                    navbarSearchResults.tests.length:col-fix-right"}}>
                            {{#unless inlineResults}}
                                <h5>USERS</h5>
                            {{/unless}}

                            {{#each navbarSearchResults.users as |user|}}
                                {{#link-to 'index.user' user.slug tagName="div"}}
                                    {{user-card user=user parentController=parentController cardType="miniList"}}
                                {{/link-to}}
                            {{/each}}
                        </article>

                    {{/if}}
                </section>

                <section class="row">
                    {{#if navbarSearchMoreTestsToShow}}
                        <article {{bind-attr class="navbarSearchResults.users.length:col-xs-6:col-xs-12"}}>
                            <p class="prompt-text linkify small text-center"
                                {{action 'navbarSearchTakeToBrowseForResults'}}>
                                Show all {{navbarSearchTotalTestResults}} quizzes
                            </p>
                        </article>
                    {{/if}}
                </section>

            {{/if}}
        </div>
    </div>
{{/if}}
