<article {{bind-attr class=":about-profile :text-center memberType"}}>
    <div class="image-holder">
        <img src="img/icon-gradient-1024.png" class="image-mask"/>
        <div {{bind-attr style=memberImageStyle}} class="member-image"></div>
    </div>
    <div class="member-body">
        <div class="member-info text-center color4">
            {{!-- after beta <h3 class="member-name">{{#link-to 'index.user' slug}}{{name}}{{/link-to}}</h3> --}}
            <h3 class="member-name">{{name}}</h3>
            <p><strong>{{role}}</strong></p>
            {{#if bio}}
                <p class="member-bio">
                    {{bio}}
                </p>
            {{/if}}
        </div>
        <div class="member-social text-center">
            <ul>
                <li>
                    <a {{bind-attr href=mailTo title=emailTitle}} target="_blank">
                        <i class="fa fa-fw fa-envelope-square"></i>
                    </a>
                </li>
                <li>
                    <a {{bind-attr href=twitterUrl title=twitterTitle}} target="_blank">
                        <i class="fa fa-fw fa-twitter-square"></i>
                    </a>
                </li>
                <li>
                    <a {{bind-attr href=linkedInUrl title=linkedInTitle}} target="_blank">
                        <i class="fa fa-fw fa-linkedin-square"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</article>