{{#if defaultCard}}
    <div {{bind-attr class=":card :list-card :margin-top-16"}}>
        <div class="left inline-top">
            {{!--
             {{#if showMemoryStrength}}
                 <div class="memory-strength inline-top margin-right-16">
                     {{#tool-tipster title="Memory Strength" class='inline-block'}}
                         <div class="brain-bulb-fill" {{bind-attr style=test.memoryStrengthMeterStyle}}></div>
                         <div class="grey-fill" {{bind-attr style=test.memoryStrengthMeterInverseStyle}}></div>
                         <img {{bind-attr src=test.memoryStrengthSrc}} />
                         <label>
                             {{test.memoryStrength}}
                         </label>
                     {{/tool-tipster}}
                 </div>
             {{/if}}
                --}}

            {{#if showSRIcon}}
                <div class="special-icon inline-block">
                    <img src="/img/brain-bulb-small-gradient.png"/>
                </div>
            {{/if}}

            {{#if showProfilePicture}}
                <div class="author inline-block">
                    {{profile-picture user=test.author}}
                </div>
                <h6 class="margin-top-8 margin-right-8 text-center small">
                    {{test.author.name}}
                </h6>
            {{/if}}

            {{!--

            <div class="right-bottom">
                <button {{action 'openModal' 'browse/modal/test-info' 'browse.modal.testInfo' test}}
                        class="btn btn-primary">Take Test
                </button>
                {{#if showMenuOverFlow}}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-flat dropdown-toggle"
                                data-toggle="dropdown"
                                aria-expanded="false">
                            <i class="mdi-navigation-more-vert"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {{#if showEdit}}
                                {{#link-to 'edit' test.slug tagName='li'}}{{#link-to 'edit' test.slug}}
                                    Edit{{/link-to}}{{/link-to}}
                            {{/if}}
                            {{#if showSave}}
                                <li><a href="javascript:void(0)" {{action 'saveTest'}}>Save</a></li>
                            {{/if}}
                            {{#if showShare}}
                                <li><a href="javascript:void(0)" {{action 'shareTest'}}>Share</a></li>
                            {{/if}}
                            {{#if showDelete}}
                                <li><a href="javascript:void(0)" {{action 'deleteTest'}}>Delete</a></li>
                            {{/if}}
                            {{#if showRemove}}
                                <li><a href="javascript:void(0)" {{action 'removeTest'}}>Remove</a></li>
                            {{/if}}
                            {{#if showDismiss}}
                                <li><a href="javascript:void(0)" {{action 'dismissLatestSRTest'}}>Dismiss</a>
                                </li>
                            {{/if}}
                        </ul>
                    </div>
                {{/if}}
            </div>
            --}}
        </div>

        <div class="right inline-top">
            <h4 class="margin-bottom-8 title">
                {{#link-to 'testInfo' test.slug}}
                    {{test.title}}
                {{/link-to}}
            </h4>

            <p class="margin-bottom-8 small description">{{test.description}}</p>

            {{category-tags test=test parentController=this small=true class="inline-top"}}
            {{module-tags tags=test.tags parentController=this small=true class="inline-top"}}
            {{!--
            <ul class="tags">
                {{#if test.category}}
                    <li {{bind-attr class=":tag :category test.category.isActive"}}
                        {{action 'toggleCategoryFilter' test.category}}>
                        {{test.category.distinctName}}
                    </li>
                {{/if}}
                {{#each test.tags itemController="component.testCard.item.tag" as |tag|}}
                    <li {{bind-attr class=":tag tag.isActive"}} {{action 'toggleTagFilter' tag.model}}>
                        {{tag.model}}
                    </li>
                {{/each}}
            </ul>
            --}}
            <div class="extra-actions-item-container">
                {{#if showFavouritesIcon}}
                    <button class="btn btn-default right-border no-margin" {{action "toggleFavouriteTest"}}>
                        <i {{bind-attr class=":fa :fa-fw isTestSaved:fa-heart:fa-heart-o"}}></i>
                    </button>
                {{/if}}
                <button class="btn btn-default no-margin" {{action 'shareTest'}}>
                    <i class="fa fa-fw fa-share-alt"></i> Share
                </button>
                {{#if showMenuOverFlow}}
                    <div class="btn-group no-margin inline-block">
                        <button class="btn btn-default btn-flat dropdown-toggle no-margin"
                                data-toggle="dropdown"
                                aria-expanded="false">
                            <i class="mdi-navigation-more-vert"></i>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {{#if showEdit}}
                                {{#link-to 'edit' test.slug tagName='li'}}
                                    {{#link-to 'edit' test.slug}}
                                        Edit
                                    {{/link-to}}
                                {{/link-to}}
                            {{/if}}
                            {{#if showDelete}}
                                <li><a href="javascript:void(0)" {{action 'deleteTest'}}>Delete</a></li>
                            {{/if}}
                            {{#if showDismiss}}
                                <li>
                                    <a href="javascript:void(0)" {{action 'dismissLatestSRTest'}}>Dismiss</a>
                                </li>
                            {{/if}}
                        </ul>
                    </div>
                {{/if}}
            </div>
        </div>

        <hr class="full-hr margin-bottom-8 margin-top-8">

        <div class="bottom">
            <section class="row">
                <article class="col-xs-12 col-sm-6">

                    {{partial 'components/test-card/stats-box'}}

                </article>
                <article class="col-xs-12 col-sm-6">
                    <button class="btn btn-info btn-ghost"
                        {{action 'openModal'}}>
                        {{testActionLabel}}
                    </button>
                </article>
            </section>
        </div>
    </div>
{{/if}}

{{#if miniListCard}}
    <div class="card list-card margin-top-16 mini" {{action 'openModal'}}>
        <section class="row">
            <article class="col-xs-12">
                <div class="inline-top margin-top-4">
                    {{profile-picture user=test.author}}
                </div>
                <div class="inline-top right-mini">
                    <p class="title no-margin">{{test.title}}</p>

                    <p class="subtitle small">by {{test.author.name}}</p>
                </div>
            </article>
        </section>
    </div>
{{/if}}

{{#if hotTestCard}}
    <div {{bind-attr class=":card :list-card :hot-test :margin-top-16"}}>
        <div class="top">
            <div {{bind-attr style=coverImageStyle}} class="image"></div>
            {{module-tags test=test tags=test.moduleTags canEdit=false inverseStyle=true small=true}}
        </div>

        <div class="middle">
            <h4 class="title margin-bottom-8 margin-top-16">
                {{test.title}}
            </h4>

            <p class="description margin-bottom-16 small">{{text-preview test.description 200}}</p>
        </div>

        <hr class="full-hr margin-bottom-8 margin-top-8">

        <section class="row">
            <article class="col-xs-12 text-center">

                {{partial 'components/test-card/stats-box'}}

            </article>
        </section>

        <hr class="full-hr margin-bottom-8 margin-top-8">

        <div class="bottom">
            <button class="btn btn-info btn-ghost btn-block"
                {{action 'openModal'}}>
                {{testActionLabel}}
            </button>
        </div>
    </div>
{{/if}}

{{#if testInfoCard}}
    <div {{bind-attr class=":panel :panel-default :card :list-card :margin-bottom-16"}}>
        <div class="panel-heading">
            <h4 class="no-margin">Quiz Info</h4>
        </div>
        <div class="panel-body text-center">

            <p>
                {{test.description}}
            </p>

            <hr class="full-hr"/>

            {{partial 'components/test-card/stats-box'}}

        </div>
    </div>
{{/if}}


{{#if squareCard}}
    <div {{bind-attr class=":card :list-card :square"}} {{action 'openModal'}}>
        <div {{bind-attr style=coverImageStyle}} class="image"></div>
        {{module-tags test=test tags=test.tags canEdit=false inverseStyle=true small=true showMax=1}}
        <h5 class="title margin-bottom-8">
            {{test.title}}
        </h5>
    </div>
{{/if}}