<div class="row">
    <div class="col-xs-12">
        {{#unless mini}}
            <div {{bind-attr class=":card :test-info-card :margin-top-16"}}>
                <div class="left inline-top">
                    <h4>
                        {{test.title}}
                    </h4>

                    <p class="small margin-bottom-8">
                        {{test.totalQuestions}} {{pluralize-word 'question' test.totalQuestions}}
                    </p>

                    <p class="margin-bottom-8">{{text-preview test.description 120}}</p>

                    <ul class="tags">
                        {{#if test.category}}
                            <li {{bind-attr class=":tag :category test.category.isActive"}}
                                {{action 'toggleCategoryFilter' test.category}}>{{test.category.name}}
                            </li>
                        {{/if}}
                        {{#each test.tags itemController="component.testCard.item.tag" as |tag|}}
                            <li {{bind-attr class=":tag tag.isActive"}} {{action 'toggleTagFilter' tag.model}}>{{tag.model}}</li>
                        {{/each}}
                    </ul>
                </div>

                <div class="right inline-top">
                    {{#if showMemoryStrength}}
                        <div class="memory-strength inline-top margin-right-16">
                            {{#tool-tipster title="Memory Strength" class='inline-block'}}
                                <div class="brain-bulb-fill" {{bind-attr style=memoryStrengthMeterStyle}}></div>
                                <div class="grey-fill" {{bind-attr style=memoryStrengthMeterInverseStyle}}/>
                                <img {{bind-attr src=memoryStrengthSrc}} />
                                <label>
                                    {{test.memoryStrength}}
                                </label>
                            {{/tool-tipster}}
                        </div>
                    {{/if}}
                    {{#if showSRIcon}}
                        <div class="inline-top">
                            <img src="/img/brain-bulb-small-gradient.png" height="50px"/>
                        </div>
                    {{/if}}
                    {{#if showProfilePicture}}
                        <div class="author inline-top">
                            {{profile-picture user=test.author}}
                        </div>
                    {{/if}}

                    <div class="right-bottom">
                        <button {{action 'openModal' 'browse/modal/test-info' 'browse.modal.testInfo' test}}
                                class="btn btn-primary">Take Test
                        </button>
                        {{#if showMenuOverFlow}}
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-flat dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="mdi-navigation-more-vert"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {{#if showEdit}}
                                        {{#link-to 'edit' test.slug tagName='li'}}{{#link-to 'edit' test.slug}}
                                            Edit{{/link-to}}{{/link-to}}
                                    {{/if}}
                                    {{#if showSave}}
                                        <li><a href="javascript:void(0)" {{action 'saveTest'}}>Save</a></li>
                                    {{/if}}
                                    {{#if showShare}}
                                        <li><a href="javascript:void(0)" {{action 'shareTest'}}>Share</a></li>
                                    {{/if}}
                                    {{#if showDelete}}
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)" {{action 'deleteTest'}}>Delete</a></li>
                                    {{/if}}
                                    {{#if showRemove}}
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)" {{action 'removeTest'}}>Remove</a></li>
                                    {{/if}}
                                </ul>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{else}}
            <div {{bind-attr class=":card :test-info-card :margin-top-16 mini"}}
                {{action 'openModal' 'browse/modal/test-info' 'browse.modal.testInfo' test}}>
                <div class="card-fade"></div>
                <div class="mini">
                    <p class="title">{{test.title}}</p>

                    <p class="small">
                        {{test.totalQuestions}} {{pluralize-word 'question' test.totalQuestions}}
                        <strong class="pull-right">{{test.author.name}}</strong>
                    </p>
                    <ul class="tags text-center">
                        {{#if test.category}}
                            <li {{bind-attr class=":tag :category test.category.isActive"}}
                                {{action 'toggleCategoryFilter' test.category}}>{{test.category.name}}
                            </li>
                        {{/if}}
                    </ul>
                </div>
            </div>
        {{/unless}}
    </div>
</div>