<div class="row">
    <div class="col-xs-12">
        {{#unless mini}}
            <div {{bind-attr class=":card :list-card :margin-top-16"}}>
                <div class="left inline-top">
                    {{!--
                     {{#if showMemoryStrength}}
                         <div class="memory-strength inline-top margin-right-16">
                             {{#tool-tipster title="Memory Strength" class='inline-block'}}
                                 <div class="brain-bulb-fill" {{bind-attr style=test.memoryStrengthMeterStyle}}></div>
                                 <div class="grey-fill" {{bind-attr style=test.memoryStrengthMeterInverseStyle}}></div>
                                 <img {{bind-attr src=test.memoryStrengthSrc}} />
                                 <label>
                                     {{test.memoryStrength}}
                                 </label>
                             {{/tool-tipster}}
                         </div>
                     {{/if}}
                        --}}

                     {{#if showSRIcon}}
                         <div class="special-icon inline-block">
                             <img src="/img/brain-bulb-small-gradient.png"/>
                         </div>
                     {{/if}}

                    {{#if showProfilePicture}}
                        <div class="author inline-block">
                            {{profile-picture user=test.author}}
                        </div>
                    {{/if}}

                    {{!--

                    <div class="right-bottom">
                        <button {{action 'openModal' 'browse/modal/test-info' 'browse.modal.testInfo' test}}
                                class="btn btn-primary">Take Test
                        </button>
                        {{#if showMenuOverFlow}}
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-flat dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="mdi-navigation-more-vert"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {{#if showEdit}}
                                        {{#link-to 'edit' test.slug tagName='li'}}{{#link-to 'edit' test.slug}}
                                            Edit{{/link-to}}{{/link-to}}
                                    {{/if}}
                                    {{#if showSave}}
                                        <li><a href="javascript:void(0)" {{action 'saveTest'}}>Save</a></li>
                                    {{/if}}
                                    {{#if showShare}}
                                        <li><a href="javascript:void(0)" {{action 'shareTest'}}>Share</a></li>
                                    {{/if}}
                                    {{#if showDelete}}
                                        <li><a href="javascript:void(0)" {{action 'deleteTest'}}>Delete</a></li>
                                    {{/if}}
                                    {{#if showRemove}}
                                        <li><a href="javascript:void(0)" {{action 'removeTest'}}>Remove</a></li>
                                    {{/if}}
                                    {{#if showDismiss}}
                                        <li><a href="javascript:void(0)" {{action 'dismissLatestSRTest'}}>Dismiss</a>
                                        </li>
                                    {{/if}}
                                </ul>
                            </div>
                        {{/if}}
                    </div>
                    --}}
                </div>

                <div class="right inline-top">
                    <h4 class="margin-bottom-8 title">
                        {{test.title}}
                    </h4>

                    <p class="margin-bottom-8 small description">{{test.description}}</p>

                    {{category-tags test=test parentController=this small=true class="inline-top"}}
                    {{module-tags test=test parentController=this small=true class="inline-top"}}
                    {{!--
                    <ul class="tags">
                        {{#if test.category}}
                            <li {{bind-attr class=":tag :category test.category.isActive"}}
                                {{action 'toggleCategoryFilter' test.category}}>
                                {{test.category.distinctName}}
                            </li>
                        {{/if}}
                        {{#each test.tags itemController="component.testCard.item.tag" as |tag|}}
                            <li {{bind-attr class=":tag tag.isActive"}} {{action 'toggleTagFilter' tag.model}}>
                                {{tag.model}}
                            </li>
                        {{/each}}
                    </ul>
                    --}}
                    <div class="extra-actions-item-container">
                        {{#if showSave}}
                            <button class="btn btn-default right-border no-margin" {{action "saveTest"}}>
                                <i class="fa fa-fw fa-heart"></i> Add to Favourites
                            </button>
                        {{/if}}
                        <button class="btn btn-default no-margin">
                            <i class="fa fa-fw fa-share-alt"></i> Share
                        </button>
                        {{#if showMenuOverFlow}}
                            <div class="btn-group no-margin inline-block">
                                <button class="btn btn-default btn-flat dropdown-toggle no-margin"
                                        data-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="mdi-navigation-more-vert"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {{#if showEdit}}
                                        {{#link-to 'edit' test.slug tagName='li'}}{{#link-to 'edit' test.slug}}
                                            Edit{{/link-to}}{{/link-to}}
                                    {{/if}}
                                    {{#if showDelete}}
                                        <li><a href="javascript:void(0)" {{action 'deleteTest'}}>Delete</a></li>
                                    {{/if}}
                                    {{#if showRemove}}
                                        <li><a href="javascript:void(0)" {{action 'removeTest'}}>Remove</a></li>
                                    {{/if}}
                                    {{#if showDismiss}}
                                        <li><a href="javascript:void(0)" {{action 'dismissLatestSRTest'}}>Dismiss</a>
                                        </li>
                                    {{/if}}
                                </ul>
                            </div>
                        {{/if}}
                    </div>
                </div>

                <hr class="full-hr margin-bottom-8 margin-top-8">

                <div class="bottom">
                    <section class="row">
                        <article class="col-xs-12 col-sm-6">
                            <div class="stat-container">
                                <div class="stat-icon-container inline-block">
                                    <i class="fa fa-fw fa-question stat-icon"></i>
                                </div>
                                <span>{{test.totalQuestions}}</span>
                            </div>

                            <div class="vertical-separator"></div>

                            <div class="stat-container">
                                <div class="stat-icon-container inline-block">
                                    <i class="fa fa-fw fa-pencil stat-icon"></i>
                                </div>
                                <span class="inline-block">{{test.numberOfAttempts}}</span>
                            </div>

                            <div class="vertical-separator"></div>

                            <div class="stat-container">
                                <div class="stat-icon-container inline-block">
                                    <i class="fa fa-fw fa-flag-checkered stat-icon"></i>
                                </div>
                                <span class="inline-block">{{test.averageScore}}%</span>
                            </div>
                        </article>
                        <article class="col-xs-12 col-sm-6">
                            {{#link-to 'test' test.slug tagName="button" class="btn btn-info btn-ghost"}}
                                Take Test
                            {{/link-to}}
                        </article>
                    </section>
                </div>
            </div>
        {{else}}
            <div {{bind-attr class=":card :list-card :margin-top-16 mini"}}
                {{action 'openModal' 'browse/modal/test-info' 'browse.modal.testInfo' test}}>
                <div class="card-fade"></div>
                <div class="mini">
                    <p class="title">{{test.title}}</p>

                    <p class="subtitle">by {{test.author.name}}</p>

                    <div class="container-fluid">
                        <section class="row">
                            <article class="col-xs-8 col-fix-right">
                                <ul class="tags text-center">
                                    {{#if test.category}}
                                        <li {{bind-attr class=":tag :category test.category.isActive"}}>
                                            {{test.category.distinctName}}
                                        </li>
                                    {{/if}}
                                </ul>
                            </article>
                            <article class="col-xs-4 col-fix-right">
                                <p class="small text-right margin-top-8">
                                    {{test.totalQuestions}} {{pluralize-word 'mcq' test.totalQuestions}}
                                </p>
                            </article>
                        </section>
                        <section class="row">
                            <article class="col-xs-12 col-fix-right">
                                <ul class="tags">
                                    {{#each test.tags itemController="component.testCard.item.tag" as |tag|}}
                                        <li {{bind-attr class=":tag tag.isActive"}}>
                                            {{tag.model}}
                                        </li>
                                    {{/each}}
                                </ul>
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        {{/unless}}
    </div>
</div>