<div class="row">
    <div class="col-xs-12">
        {{#unless mini}}
            <div {{bind-attr class=":card :test-info-card :margin-top-16"}}>
                <div class="left inline-top">
                    <h4>
                        {{user.name}}
                    </h4>

                    <p class="small margin-bottom-8">
                        {{user.numberOfTestsCreated}} {{pluralize-word 'test' user.numberOfTestsCreated}}
                    </p>

                    <p class="margin-bottom-8">Education Cohort Details</p>
                </div>

                <div class="right inline-top">
                    {{#if showProfilePicture}}
                        <div class="author inline-top">
                            {{profile-picture user=user}}
                        </div>
                    {{/if}}

                    <div class="right-bottom">
                        <button {{action 'openModal' 'browse/modal/test-info' 'browse.modal.testInfo' test}}
                                class="btn btn-primary">Take Test
                        </button>
                        {{#if showMenuOverFlow}}
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-flat dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="mdi-navigation-more-vert"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {{#if showEdit}}
                                        {{#link-to 'edit' test.slug tagName='li'}}{{#link-to 'edit' test.slug}}
                                            Edit{{/link-to}}{{/link-to}}
                                    {{/if}}
                                    {{#if showSave}}
                                        <li><a href="javascript:void(0)" {{action 'saveTest'}}>Save</a></li>
                                    {{/if}}
                                    {{#if showShare}}
                                        <li><a href="javascript:void(0)" {{action 'shareTest'}}>Share</a></li>
                                    {{/if}}
                                    {{#if showDelete}}
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)" {{action 'deleteTest'}}>Delete</a></li>
                                    {{/if}}
                                    {{#if showRemove}}
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)" {{action 'removeTest'}}>Remove</a></li>
                                    {{/if}}
                                </ul>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{else}}
            <div {{bind-attr class=":card :test-info-card :margin-top-16 mini"}}>
                <div class="card-fade"></div>
                <div class="mini">
                    <div class="container-fluid">
                        <section class="row">
                            <article class="col-xs-4 col-fix-right">
                                {{profile-picture user=user}}
                            </article>
                            <article class="col-xs-8 col-fix-right">
                                <p class="title">{{user.name}}</p>
                            </article>
                        </section>
                        <section class="row">
                            <article class="col-xs-12 col-fix-right">
                            </article>
                        </section>
                    </div>
                </div>
            </div>
        {{/unless}}
    </div>
</div>