<div class="row">
    <div class="col-xs-12">
        {{#unless mini}}
            <div {{bind-attr class=":card :list-card :margin-top-16"}}>
                <div class="left inline-top">
                    <h4>
                        {{user.name}}
                    </h4>

                    <p class="small margin-bottom-8">
                        {{user.numberOfTestsCreated}} {{pluralize-word 'test' user.numberOfTestsCreated}}
                    </p>

                    {{#if user.educationCohort.currentYear}}
                        <p><i class="fa fa-group margin-right-8"></i>{{user.educationCohort.currentYear}}</p>
                    {{/if}}
                    {{#if user.educationCohort.studyField}}
                        <p><i class="fa fa-book margin-right-8"></i><a
                            {{bind-attr href=user.educationCohort.studyField.url}}
                                target="_blank">{{user.educationCohort.studyField.name}}</a></p>
                    {{/if}}
                    {{#if user.educationCohort.institution}}
                        <p><i class="fa fa-university margin-right-8"></i><a
                            {{bind-attr href=user.educationCohort.institution.url}}
                                target="_blank">{{user.educationCohort.institution.name}}</a></p>
                    {{/if}}
                </div>

                <div class="right inline-top">
                    {{#if showProfilePicture}}
                        <div class="author inline-top">
                            {{profile-picture user=user}}
                        </div>
                    {{/if}}

                    <div class="right-bottom">
                        <button {{action 'openModal' 'browse/modal/test-info' 'browse.modal.testInfo' test}}
                                class="btn btn-primary">Take Test
                        </button>
                        {{#if showMenuOverFlow}}
                            <div class="btn-group">
                                <button type="button" class="btn btn-default btn-flat dropdown-toggle"
                                        data-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="mdi-navigation-more-vert"></i>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    {{#if showEdit}}
                                        {{#link-to 'edit' test.slug tagName='li'}}{{#link-to 'edit' test.slug}}
                                            Edit{{/link-to}}{{/link-to}}
                                    {{/if}}
                                    {{#if showSave}}
                                        <li><a href="javascript:void(0)" {{action 'saveTest'}}>Save</a></li>
                                    {{/if}}
                                    {{#if showShare}}
                                        <li><a href="javascript:void(0)" {{action 'shareTest'}}>Share</a></li>
                                    {{/if}}
                                    {{#if showDelete}}
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)" {{action 'deleteTest'}}>Delete</a></li>
                                    {{/if}}
                                    {{#if showRemove}}
                                        <li class="divider"></li>
                                        <li><a href="javascript:void(0)" {{action 'removeTest'}}>Remove</a></li>
                                    {{/if}}
                                </ul>
                            </div>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{else}}
            <div class="card list-card margin-top-16 mini">
                <div class="card-fade"></div>
                <div class="text-nowrap">
                    <div class="inline-block margin-right-8">
                        {{profile-picture user=user}}
                    </div>
                    <div class="inline-block">
                        <p class="title no-margin">{{#link-to 'user.index' user.slug}}{{user.name}}{{/link-to}}</p>
                        {{#if user.educationCohort.currentYear}}
                            <p class="no-margin small">
                                <i class="fa fa-group fa-fw"></i>&nbsp; {{user.educationCohort.currentYear}}
                            </p>
                        {{/if}}
                        {{#if user.educationCohort.studyField}}
                            <p class="no-margin small">
                                <i class="fa fa-book fa-fw"></i>&nbsp; {{user.educationCohort.studyField.name}}
                            </p>
                        {{/if}}
                        {{#if user.educationCohort.institution}}
                            <p class="no-margin small">
                                <i class="fa fa-university fa-fw"></i>&nbsp; {{user.educationCohort.institution.name}}
                            </p>
                        {{/if}}
                    </div>
                </div>
            </div>
        {{/unless}}
    </div>
</div>