<h4><img src="img/logo.png" height="30px" width="30px"> {{title}}</h4>
<div>
    {{#if addressLine1}}<p><strong>{{addressLine1}}</strong></p>{{/if}}
    {{#if addressLine2}}
        <p>{{addressLine2}}</p>
    {{/if}}
    {{#if addressLine3}}
        <p>{{addressLine3}}</p>
    {{/if}}
    {{#if city}}<p>{{city}}</p>{{/if}}

    {{#if postcode}}<p>{{postcode}}</p>{{/if}}

    {{#if country}}<p>{{country}}</p>{{/if}}
</div>