<div class="card margin-top-16">
    {{#if response.chosenAnswer}}
        <div {{bind-attr class=":response-indicator :pull-left response.isCorrect:is-correct"}}></div>
    {{else}}
        <div class="response-indicator pull-left is-unimportant"></div>
    {{/if}}
    <div class="container-fluid response-right-container ">
        <p class="margin-bottom-16"><strong>Q{{response.itemNumber}}: {{response.question.stem}}</strong></p>
    </div>
    <div class="row no-margin">
        <div class="col-md-12">
            {{#if response.chosenAnswer}}
            <p {{bind-attr class="response.isCorrect:text-color-green:text-color-red"}}
                    >YOU {{#if response.isCorrect}}CORRECTLY {{/if}}CHOSE:<br>{{response.chosenAnswer}}</p>

            {{else}}
                <p class="text-color-unimportant">YOU SKIPPED THIS QUESTION</p>
            {{/if}}
            {{#unless response.isCorrect}}
                <p class="text-color-green">CORRECT ANSWER:<br>{{response.correctAnswer}}</p>

            {{/unless}}
            {{#if response.question.feedback}}
                <p class="">FEEDBACK:<br>{{response.question.feedback}}</p>

            {{/if}}
        </div>
    </div>
</div>