<i class="icon glyphicon {{unbound view.iconType}}"></i>
<a class="close-notification" {{action "close" target="view"}}>
    <i class="icon-remove glyphicon glyphicon-remove-sign"></i>
</a>
<strong>
    {{view.content.title}}
</strong>
<p>
    {{view.content.message}}
</p>
{{#if view.content.confirm}}
    <div class="notification-confirm">
        <a href='' class="confirm-negative" {{action 'confirmCallback' false target='view'}}>
            {{view.content.confirm.negative}}
        </a>
        <a href='' class="confirm-positive" {{action 'confirmCallback' true target='view'}}>
            {{view.content.confirm.positive}}
        </a>
    </div>
{{/if}}