{{#if view.isSRSNotification}}
    <img src="img/srs-icon.png" class="circular-image" style="height:30px;width:30px;margin-left: -37px;margin-right: 4px;"/>
{{else}}
    <i class="icon fa {{unbound view.iconType}}"></i>
{{/if}}
<a class="close-notification" {{action "close" target="view"}}>
    <i class="icon-remove fa fa-close"></i>
</a>
<p class="title no-margin">
    {{view.content.title}}
</p>
<p class="small message">
    {{view.content.message}}
</p>
{{#if view.content.confirm}}
    <div class="notification-confirm">
        <span class="linkify negative" {{action 'confirmCallback' false target='view'}}>
            {{view.content.confirm.negative}}
        </span>
        <span class="linkify positive" {{action 'confirmCallback' true target='view'}}>
            {{view.content.confirm.positive}}
        </span>
    </div>
{{/if}}