<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title">Select the course that you're currently enrolled in!</h4>
</div>
<div class="modal-body">

    <div id="course-selection" class="carousel slide" data-ride="carousel" data-pause="">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="container-fluid course-selection">
                    <p class="lead">Enter course information</p>

                    <div class="row">
                        <div class="col-md-12">
                            <p class="margin-top-16">Institution</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            {{autocomplete-field data=autocompleteInstitutionNames key='fullName'
                                value=newCourse.institutionName}}
                        </div>
                        <div class="col-md-1 text-center">
                            {{#if loading.autocompleteInstitutionNames}}
                                <div class="loading-spinner"></div>
                            {{/if}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <p>Course</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            {{autocomplete-field data=autocompleteCourseNames key='name'
                            value=newCourse.courseName}}
                        </div>
                        <div class="col-md-1 text-center">
                            {{#if loading.autocompleteCourseNames}}
                                <div class="loading-spinner"></div>
                            {{/if}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="margin-bottom-16">Current study year</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-11">
                            {{view Ember.Select
                            classNames='form-control'
                            content=courseYearsToChooseFrom
                            optionValuePath="content"
                            optionLabelPath="content"
                            selection=newCourse.yearName}}
                        </div>
                        <div class="col-md-1">
                        </div>
                    </div>
                    <hr>
                    <p class="lead">Or select one of these</p>
                    {{#each education}}
                        <div class="row hover-row" {{action 'courseSelected' this}}>
                            <div class="col-md-11">
                                <p class="margin-top-16">Institution: {{school.name}}</p>

                                <p>Course: {{concentration.0.name}}</p>

                                <p class="margin-bottom-16">Graduation year: {{year.name}}</p>
                            </div>
                            <div class="col-md-1">
                                <a href="#course-selection" role="button"
                                   data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </div>
                        </div>
                    {{/each}}
                </div>
            </div>
            <div class="item">
                <div class="container-fluid">
                    <a href="#course-selection" role="button"
                       data-slide="prev" class="margin-bottom-16">
                        <span class="glyphicon glyphicon-chevron-left"></span> Go back
                    </a>

                    <p class="lead margin-top-16">Are these details correct?</p>

                    <p class="margin-top-16">Institution: {{selectedCourse.school.name}}</p>

                    <p>Course: {{selectedCourse.concentration.0.name}}</p>

                    <p>Current year:
                        {{view Ember.Select
                        content=courseYearsToChooseFrom
                        optionValuePath="content"
                        optionLabelPath="content"
                        selection=selectedCourse.currentYear}}
                    </p>

                    <p class="margin-bottom-16">Total length of course (years):
                        {{view Ember.Select
                        content=courseLengthsToChooseFrom
                        optionValuePath="content"
                        optionLabelPath="content"
                        selection=selectedCourse.courseLength}}
                    </p>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    <button type="button" class="btn btn-primary" {{action 'saveCourseChanges'}}>Save changes</button>
</div>
