<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title">Education</h4>
</div>
<div class="modal-body">

    <div class="container-fluid course-selection">
        <p class="lead">Enter course information</p>

        <div class="row">
            <div class="col-md-12 margin-bottom-8">
                <p>I am studying at a</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{radio-button value='School' checked=studyingAt id="is-studying-at-school"}}
                <label for="is-studying-at-school">School</label>
            </div>
            <div class="col-md-12 margin-bottom-8">
                {{radio-button value='University' checked=studyingAt id="is-studying-at-university"}}
                <label for="is-studying-at-university">University</label>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <p>{{studyingAt}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {{search-suggestions
                type='educational-institutions'
                subtype=studyingAt
                labelPath='name'
                facebookSearch=true
                actionOnSelection='educationalInstitutionSelected'
                contextController=this
                defaultItem=newEducationCohort.institution
                }}
            </div>
        </div>
        {{#if studyingAtUniversity}}
            <div class="row">
                <div class="col-md-12 margin-top-16">
                    <p>Course</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{search-suggestions
                    type='study-fields'
                    labelPath='name'
                    facebookSearch=true
                    actionOnSelection='studyFieldSelected'
                    contextController=this
                    defaultItem=newEducationCohort.studyField
                    }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin-top-16">
                    <p>Current study year</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{view 'select'
                    classNames='form-control'
                    content=studyYearsToChooseFrom
                    optionValuePath="content"
                    optionLabelPath="content"
                    selection=newEducationCohort.currentYear
                    prompt="Select what year you are in"
                    }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 margin-top-16">
                    <p>Graduation year</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{rl-year-picker year=newEducationCohort.graduationYear}}
                </div>
            </div>
        {{/if}}
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
    {{#if newEducationCohort.isDirty}}
        {{async-button action='saveEducationCohort' class='btn btn-success' default='Save Changes'
        pending="Saving..." rejected="Error! Try again." fulfilled="Saved!" resest=true}}
    {{/if}}
</div>

