<div class="row">
    <div class="col-md-12">
        <div class="card test-info-card margin-top-16">
            {{#link-to 'user' authorSlug tagName="a" class='inline-block'}}{{render 'profile-image' authorImageUrl}}{{/link-to}}
            <div class="test-details inline-block">
                <h4>
                    {{#link-to 'testInfo' slug}}
                        {{highlight-string highlight.title title}}
                    {{/link-to}}
                </h4>
                <p>
                    {{#if categoryParentCategorySlug}}
                        <small>
                            {{#link-to 'category' categoryParentCategorySlug}}{{categoryParentCategoryName}}{{/link-to}}
                        </small>
                        /
                        {{#link-to 'subcategory' categoryParentCategorySlug categorySlug}}{{categoryName}}{{/link-to}}
                    {{else}}
                        {{#link-to 'category' categorySlug}}{{categoryName}}{{/link-to}}
                    {{/if}}
                </p>
                <p class="margin-bottom-8">{{highlight-string highlight.description description 80}}</p>
                <div class="statistics">
                    <div class="container-fluid">
                        <section class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-fix-right">
                                <label class="margin-right-8">
                                    {{#tool-tipster title="Total questions" position="top"}}
                                        Q{{numberOfQuestions}}
                                    {{/tool-tipster}}
                                </label>
                                {{!--
                                <label class="margin-right-8">
                                    {{#tool-tipster title="Number of community attempts" position="top"}}
                                        <i class='fa fa-bar-chart-o'></i>
                                        {{numberOfAttempts}}
                                    {{/tool-tipster}}
                                </label>
                                <label class="margin-right-8">
                                    {{#tool-tipster title="Community Average score" position="top"}}
                                        <i class='glyphicon glyphicon-stats'></i>
                                        {{math-round averageScore 2}}%
                                    {{/tool-tipster}}
                                </label>
                                --}}
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12 col-fix-middle">
                                <div class="pull-right">
                                    <label class="margin-right-8">
                                        {{#tool-tipster title="Take Test!" position="top"}}
                                            {{#link-to 'test' slug}}<i class="fa fa-pencil-square-o"></i>{{/link-to}}
                                        {{/tool-tipster}}
                                    </label>
                                    {{#if isCurrentUsersTest}}
                                        <label>
                                            {{#tool-tipster title="Edit Test" position="top"}}
                                                {{#link-to 'edit' slug tagName='a'}}
                                                    <i class="fa fa-file-text-o"></i>
                                                {{/link-to}}
                                            {{/tool-tipster}}
                                        </label>
                                    {{/if}}
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>