<div class="row">
    <div class="col-md-12">
        <div class="card action-card margin-top-16">
            {{#link-to 'user' slug
            tagName='a'}}{{render 'profile-image' profileImageUrl}}{{/link-to}}

            <div class="action-title">
                <p>{{#link-to 'user' slug}}
                    {{highlight-string highlight.name name}}
                {{/link-to}}
                </p>

                <div class="container-fluid">
                    <section class="row">
                        <article class="col-xs-12">
                            <p>
                                {{#if institutionName}}
                                    <i class="fa fa-university margin-right-8"></i>
                                    {{institutionName}}
                                {{/if}}
                                {{#if studyFieldName}}
                                    <i class="fa fa-book margin-left-8 margin-right-8"></i>
                                    {{studyFieldName}}
                                {{/if}}
                                {{#if currentYear}}
                                    <i class="fa fa-group margin-left-8 margin-right-8"></i>
                                    {{currentYear}}
                                {{/if}}
                            </p>
                        </article>
                    </section>
                    <div class="row margin-bottom-8">
                        <div class=col-md-4>
                            <p class="lead">
                                {{#link-to 'user.tests' slug}}
                                    {{#if numberOfTests}}{{numberOfTests}}{{else}}0{{/if}}
                                    <small> Tests</small>
                                {{/link-to}}
                            </p>
                        </div>
                        <div class=col-md-4>
                            <p class="lead">
                                {{#link-to 'user.following' slug}}
                                    {{#if user.numberFollowing}}{{numberFollowing}}{{else}}0{{/if}}
                                    <small> Following</small>
                                {{/link-to}}
                            </p>

                        </div>
                        <div class=col-md-4>
                            <p class="lead">
                                {{#link-to 'user.followers'slug}}
                                    {{#if numberOfFollowers}}{{numberOfFollowers}}{{else}}0{{/if}}
                                    <small> Followers</small>
                                {{/link-to}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="actions-top-right">
                {{#unless user.isCurrentUser}}
                    {{#if user.isFollowing}}
                        <a {{action 'unfollowUser' user}}><span class="glyphicon glyphicon-ok-circle"></span> following</a>
                    {{else}}
                        <a {{action 'followUser' user}}><span class="glyphicon glyphicon-unchecked"></span> follow</a>
                    {{/if}}
                {{/unless}}
            </div>
        </div>
    </div>
</div>