<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title">Log in or Sign up for FREE!</h4>
</div>
<div class="modal-body text-center">
    <div class="container-fluid">
        <button class="btn btn-facebook" style="width: 80%;font-size:large;padding: 8px;" {{action 'facebookConnect'}}
                >Connect with Facebook
        </button>
        <hr>
        <div class="row">
            <div class="row margin-bottom-16">
                <div class="col-md-12 text-center">
                    <h4>Log in using your email</h4>
                </div>
            </div>
            <div class="row margin-bottom-16">
                <div class="col-md-6 col-md-offset-3 text-center">
                    {{input type='text' value=email placeholder='Email' classNames='form-control'}}
                </div>
            </div>
            <div class="row margin-bottom-16">
                <div class="col-md-6 col-md-offset-3 text-center">
                    {{input type='password' value=password placeholder='Password' classNames='form-control'}}
                </div>
            </div>
            <div class="row margin-bottom-16">
                <div class="col-md-12 text-center">
                    <button class="btn btn-primary" {{action 'login' email password}}>Login</button>
                </div>
            </div>
            <div style="padding-top:16px;">
                {{#if loginMessage.error}}
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span class="alert alert-danger">{{loginMessage.error}}</span>
                        </div>
                    </div>
                {{/if}}
                {{#if loginMessage.connecting}}
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <span class="alert alert-info">{{loginMessage.connecting}}</span>
                        </div>
                    </div>
                {{/if}}
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12 text-center">
                <a href="javascript:void(0)">Sign up with your email</a>
            </div>
        </div>
    </div>
</div>