<h4 class="margin-bottom-16">Welcome to Synap, <strong>{{currentUser.firstName}}</strong>!</h4>

<section class="row">
    <div class="col-md-12">
        <div class="profile">
            <section class="row">
                <div class="col-sm-12">
                    <div class="col-xs-12 col-sm-8">
                        {{#if step1}}
                            {{#unless imageFile.isDefault}}
                                <h4>Are you happy with this profile picture?</h4>
                            {{else}}
                                <h4>Would you like to upload a profile picture?</h4>
                            {{/unless}}
                        {{/if}}
                        {{#if step2}}
                            {{#if currentUser.educationCohort}}
                                <h4>Are these details about your education correct?</h4>
                            {{else}}
                                <h4 id="ab-education-info-title">Would you like to add your education information?</h4>
                            {{/if}}
                            <p class="margin-bottom-16" id="ab-education-info-desc">We use your education information
                                to personalise Synap for you!
                                This includes suggesting the most relevant tests to take and authors to follow.</p>
                        {{/if}}
                        {{#if step3}}
                            {{#if userController.suggestedFollowingAll.length}}
                                <h4 class="margin-bottom-16">We have some users for you to follow, would you like to
                                    follow them all?</h4>
                                {{#each user in userController.suggestedFollowing}}
                                    {{#tool-tipster title=user.name position="top" class="inline-block margin-bottom-8"}}
                                        {{render 'profile-image' user}}
                                    {{/tool-tipster}}
                                {{/each}}
                                {{#if moreSuggestionsToShow}}
                                    <div class="inline-block"> and
                                        {{math-helper userController.suggestedFollowingAll.length "-" 5}} others...
                                    </div>
                                {{/if}}

                            {{else}}
                                {{#if currentUser.fbid}}
                                    <h4 class="margin-bottom-16">Sorry, we have no users to suggest to you at this
                                        point.</h4>
                                {{else}}
                                    <h4 class="margin-bottom-16">Sorry, we have no users to suggest to you at this
                                        point.</h4>
                                {{!-- TODO change this to ask if user wants to link to facebook
                                    <h4 class="margin-bottom-16">Would you like to find your Facebook friends on MyCQs?</h4>
                                    --}}
                                {{/if}}
                            {{/if}}
                        {{/if}}
                    </div>
                    <div class="col-xs-12 col-sm-4">
                        <figure>
                            {{#if step1}}
                                <img id="image-holder" {{bind-attr src=imageFile.url}} class="hidden"/>

                                <label class="circular-image margin-bottom-16 pull-right linkify" for="imageInput"
                                    {{bind-attr style=imageFile.style}}></label>
                            {{/if}}
                            {{#if step2}}
                                <div class="card margin-bottom-16">
                                    {{#if currentUser.educationCohort.isFulfilled}}
                                        {{#if currentUser.educationCohort.institution}}
                                            <p><i class="fa fa-university margin-right-8"></i><a
                                                {{bind-attr href=currentUser.educationCohort.institution.fbObject.link}}
                                                    target="_blank">{{currentUser.educationCohort.institution.name}}</a>
                                            </p>
                                        {{/if}}
                                        {{#if currentUser.educationCohort.studyField}}
                                            <p><i class="fa fa-book margin-right-8"></i><a
                                                {{bind-attr href=currentUser.educationCohort.studyField.fbObject.link}}
                                                    target="_blank">{{currentUser.educationCohort.studyField.name}}</a>
                                            </p>
                                        {{/if}}
                                        {{#if currentUser.educationCohort.currentYear}}
                                            <p>
                                                <i class="fa fa-group margin-right-8"></i>{{currentUser.educationCohort.currentYear}}
                                            </p>
                                        {{/if}}
                                    {{/if}}
                                </div>
                            {{/if}}
                            {{#if step3}}
                                <h1 class="text-center">{{userController.suggestedFollowingAll.length}}
                                    <small> suggestions</small>
                                </h1>
                            {{/if}}
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 divider">
                    <section class="row">
                        <div class="col-xs-6 emphasis">
                            {{#if step1}}
                                {{#unless imageFile.isDefault}}
                                    <input type="file" id="imageInput" class="hidden"
                                        {{action 'previewImage' on='change'}}/>
                                    <label class="btn btn-primary btn-lg margin-top-16"
                                           for="imageInput">
                                        Change Profile Picture
                                    </label>
                                {{else}}

                                {{/unless}}
                            {{/if}}
                            {{#if step2}}
                                {{#if currentUser.educationCohort}}
                                    <button class="btn btn-primary btn-lg margin-top-16"
                                        {{action 'openModal' 'user/modal/course-selection' 'user' currentUser}}>
                                        Change Education Info
                                    </button>
                                {{/if}}
                            {{/if}}
                            {{#if step3}}
                                {{#if userController.suggestedFollowingAll.length}}
                                    <button class="btn btn-primary btn-lg margin-top-16"
                                        {{action 'openModal' 'user/modal/suggested-following' 'user'}}>
                                        Show me who they are
                                    </button>
                                {{/if}}
                            {{/if}}
                        </div>
                        <div class="col-xs-6 emphasis">
                            {{#if step1}}
                                {{#unless imageFile.isDefault}}
                                    <button class="btn btn-success btn-lg margin-top-16 pull-right"
                                        {{action 'acceptProfilePicture'}}>
                                        Accept Picture
                                    </button>
                                {{else}}
                                    <input type="file" id="imageInput" class="hidden"
                                        {{action 'previewImage' on='change'}}/>
                                    <label class="btn btn-success btn-lg margin-top-16 pull-right"
                                           for="imageInput">
                                        Upload a picture
                                    </label>
                                {{/unless}}
                            {{/if}}
                            {{#if step2}}
                                {{#if currentUser.educationCohort}}
                                    <button class="btn btn-success btn-lg margin-top-16 pull-right"
                                        {{action 'acceptEducationInfo'}}>
                                        Looks good
                                    </button>
                                {{else}}
                                    <button class="btn btn-success btn-lg margin-top-16 pull-right"
                                        {{action 'openModal' 'user/modal/course-selection' 'user' currentUser}}>
                                        Add Education Info
                                    </button>
                                {{/if}}
                            {{/if}}
                            {{#if step3}}
                                {{#if userController.suggestedFollowingAll.length}}
                                    {{async-button default="Follow All" action='followAllSuggestedFollowing'
                                    pending='Following...' rejected='Error!' fulfilled='Done!' reset=true
                                    class='btn btn-success btn-lg pull-right margin-top-16'}}
                                {{else}}
                                    {{#if currentUser.fbid}}
                                        <button class="btn btn-success btn-lg margin-top-16 pull-right"
                                            {{action 'nextStep'}}>
                                            That is okay
                                        </button>
                                    {{else}}
                                    {{!-- TODO change this to 'Link with Facebook' --}}
                                        <button class="btn btn-success btn-lg margin-top-16 pull-right"
                                            {{action 'nextStep'}}>
                                            That is okay
                                        </button>
                                    {{/if}}
                                {{/if}}
                            {{/if}}
                        </div>
                    </section>
                    <section class="row">
                        <hr>
                        <div class="col-xs-6">
                            {{#if showGoBack}}
                                <span class="linkify" {{action 'previousStep'}}>Go back</span>
                            {{/if}}
                        </div>
                        <div class="col-xs-6">
                            {{#if showSkip}}
                                <span class="linkify pull-right" {{action 'nextStep'}}>Skip</span>
                            {{/if}}
                        </div>
                    </section>
                </div>
            </section>
        </div>
    </div>

</section>

<style>
    .profile {
        display: inline-block;
    }

    .profile .circular-image {
        height: 120px;
        width: 120px;
    }

    .divider {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
    }

    .emphasis h2 {
        margin-bottom: 0;
    }

    span.tags {
        background: #1abc9c;
        border-radius: 2px;
        color: #f5f5f5;
        font-weight: bold;
        padding: 2px 4px;
    }
</style>