<div {{action 'markMessageAsRead' item}}>
    {{#if item.test}}
        {{#link-to 'testInfo' item.test.slug tagName='div'}}
            {{render 'profile-image' item.from}}
            <div class="message-text">
                {{#if item.from}}
                    <p><strong>{{item.from.name}}</strong> {{item.messageToDisplay}}</p>
                {{else}}
                    <p>{{item.messageToDisplay}}</p>
                {{/if}}
                <p><strong>{{item.test.title}}</strong></p>

                <p class="time-ago pull-right">{{from-now time=item.createdAt classNames='pull-right'}}</p>
            </div>
        {{/link-to}}
    {{else}}
        {{#if item.attempt}}
            {{#link-to 'test' item.attempt.id tagName='div'}}
                <img class="circular-image" src="img/srs-icon.png"/>

                <div class="message-text">
                    <p>{{item.messageToDisplay}}</p>

                    <p class="time-ago pull-right">{{from-now time=item.createdAt classNames='pull-right'}}</p>
                </div>
            {{/link-to}}
        {{/if}}
    {{/if}}
</div>