<div class="full-width-cover-container margin-bottom-16">
    <div class="cover-image margin-top-16" {{bind-attr style=group.coverStyle}}>
        <div class="scrim"></div>
        <div class="cover-info">
            <div class="container">
                <section class="row">
                    <div class="col-md-8">
                        <h3>{{#link-to 'group' group.slug}}{{group.name}}{{/link-to}}</h3>
                        <p>
                            {{#if group.educationCohort}}
                                <i class="fa fa-calendar-o margin-right-8"></i>
                                {{group.educationCohort.currentYear}}
                                <i class="fa fa-book margin-right-8 margin-left-16"></i>
                                <a {{bind-attr href=group.educationCohort.studyField.fbObject.link}}
                                        target="_blank">{{group.educationCohort.studyField.name}}</a>
                                <i class="fa fa-university margin-right-8 margin-left-16"></i>
                                <a {{bind-attr href=group.educationCohort.institution.fbObject.link}}
                                        target="_blank" class="margin-right-16">{{group.educationCohort.institution.name}}</a>
                            {{/if}}

                            <i class="fa fa-group margin-right-8"></i>
                            <label class="text-capitalize margin-right-16">{{group.numberOfMembers}}</label>

                            <i class="fa fa-lock margin-right-8"></i>
                            <label class="text-capitalize margin-right-16">{{group.privacy}}</label>
                        </p>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>