<div class="modal-header">
    <h4 class="modal-title">Migrate Tests</h4>
</div>
<div class="modal-body">
    <form class="form-horizontal">
        {{#if explanation}}
            <p>We've noticed that you are a MyCQs user. Would you like us to transfer your
                tests over to Synap now? You can do it later in your 'Settings' page.</p>
        {{/if}}
        {{#if credentialChecking}}
            <div class="form-group">
                <label for="oldEmail" class="col-sm-6 control-label">MyCQs Email</label>

                <div class="col-sm-6">
                    {{input type="email" class="form-control" id="oldEmail" placeholder="Type your MyCQs email"
                    value=oldEmail}}
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="oldPassword" class="col-sm-6 control-label">MyCQs password</label>

                <div class="col-sm-6">
                    {{input type="password" class="form-control" id="oldPassword" placeholder="Type your MyCQs password"
                    value=oldPassword}}
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-6 col-sm-push-6">
                    {{async-button default="Check Credentials" class="btn btn-primary" action='checkCredentials'
                    pending="Checking..." reset=true rejected="Error!"}}
                    {{#if incorrectDetails}}
                        <h5 class="pull-right">Incorrect details</h5>
                    {{/if}}
                </div>
            </div>
        {{/if}}
        {{#if checkingFacebookUser}}
            <h5 class="text-center">Connecting to MyCQs with Facebook...</h5>
        {{/if}}
        {{#if fetchingOldTests}}
            <h5 class="text-center">Fetching tests...</h5>
        {{/if}}
        {{#if testSelection}}
            <h4>
                Select tests to migrate
            </h4>
            <ul class="migrate-test-selection">
                {{#each oldTests as |test|}}
                    <li {{bind-attr class="test.isSelected:is-active"}}
                        {{action "toggleTestSelect" test}}>
                        <h5>{{test.title}}
                            {{#if test.alreadyMigrated}}
                                <small>Already migrated.</small>
                            {{/if}}
                            <small class="pull-right">{{test.questions.length}} question(s)</small>
                        </h5>
                    </li>
                {{/each}}
            </ul>
            <h4>
                <small>Tests selected: {{testsToMigrate.length}}</small>
                <small class="pull-right">
                    <label for="select-all-tests" class="margin-right-8">Select all</label>
                    {{input type='checkbox' checked=selectAllTests id='select-all-tests'}}
                </small>
            </h4>
            {{#if testsToMigrateIncludesAlreadyMigratedTests}}
                <h4>
                    <small>
                        For already migrated tests, new changes made on Synap will be reverted to the MyCQs Version.
                    </small>
                </h4>
            {{/if}}
        {{/if}}
        {{#if migratingTests}}
            <h5 class="text-center">Migrating tests... {{migrationProgress}}%</h5>
            <h5 class="text-center small">
                This may take a few moments. Please do not press or click anything.
                Closing the browser will stop the migration and may cause problems.
            </h5>
        {{/if}}
    </form>
</div>
<div class="modal-footer">
    <div class="container-fluid margin-bottom-16">
        <section class="row">
            <article class="col-xs-12">
                {{#if explanation}}
                    <button type="button" class="btn btn-default" {{action "cleanUpModalAndDismiss"}}>
                        Later
                    </button>
                    <button type="button" class="btn btn-primary" {{action "explanationRead"}}>
                        Do it now
                    </button>
                {{/if}}

                {{#if testSelection}}
                    {{#if testsToMigrate.length}}
                        {{async-button default=migrateSelectedTestsLabel class="btn btn-default btn-small"
                        action='beginTestMigration' pending="Migrating..." reset=true rejected="Error!"}}
                    {{/if}}
                    {{async-button default="Migrate ALL tests" class="btn btn-primary"
                    action='migrateAllTests' pending="Migrating..." reset=true rejected="Error!"}}
                {{/if}}
            </article>
        </section>
    </div>
</div>