{{#each boxTypes as |boxType|}}
    <h4 class="margin-top-16 margin-bottom-8">{{boxType.title}}</h4>

    <div class="library-boxes-container">

        {{#each boxType.boxes as |box|}}
            <div {{bind-attr class=":library-box box.addItem:non-item box.remaining:non-item"}}>
                {{#if box.item}}
                    {{test-card test=box.item parentController=this cardType='square'}}
                {{/if}}

                {{#if box.addItem}}
                    {{#link-to box.addItemRoute}}
                        <i class="fa fa-fw fa-plus icon"></i>
                        <span class="lb-label">
                            {{box.addItemLabel}}
                        </span>
                    {{/link-to}}
                {{/if}}

                {{#if box.remaining}}
                    {{#link-to 'library.created'}}
                        <i class="fa fa-fw fa-plus icon"></i>
                    <span class="lb-label">
                        {{box.remaining}} more
                    </span>
                    {{/link-to}}
                {{/if}}
            </div>
        {{/each}}

    </div>

{{/each}}