<div class="row">
    <div class="col-md-9 col-sm-8">
        <div class="row">
            <div class="col-md-12">
                <h5><strong>QUESTION</strong></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div {{bind-attr class="validity.stem.errors.length:has-error validity.stem.warnings.length:has-warning"}}>
                    {{textarea placeholder="Type your question or statement here" classNames="form-control"
                    rows="3" value=model.stem}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 col-sm-4">
        <div class="row">
            <div class="col-md-12">
                <h5><strong>IMAGE</strong>
                    <small> (OPTIONAL)</small>
                </h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="file" id="questionImageInput" name='question-image' {{action 'addImage' on='change'}}
                       class="question-image-input"/>
                <img {{bind-attr src=imageFile.url}} id="question-image-holder" class="hide"/>
                {{#if imageFile.url.length}}
                    <div class="question-image-thumbnail margin-right-16"
                        {{bind-attr style=imageFile.style}}
                        {{action 'viewImage'}}></div>

                    <div class="inline-block">
                        <p><a href='' {{action 'editImage'}}>Edit/Annotate</a></p>

                        <p><a href='' {{action 'removeImage'}}>Remove</a></p>
                    </div>
                {{else}}
                    <label for="questionImageInput" class="question-image-add text-center">
                        <span class="glyphicon glyphicon-picture"></span>
                    </label>
                {{/if}}
            </div>
        </div>
    </div>
</div>

{{render "edit/question/views/input-validation-message" validity.stem}}
<div class="row">
    <div class="col-md-12">
        <h5><strong>OPTIONS</strong></h5>
    </div>
</div>
{{#each model.options itemController='edit.question.item.option' as |option|}}
    {{#if option.model.isCorrect}}
        <div class="row">
            <div class="col-md-12">
                <h5>CORRECT ANSWER</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div {{bind-attr class="option.validityOption.errors.length:has-error
                            option.validityOption.warnings.length:has-warning"}}>
                    {{textarea placeholder="Type the single correct answers here"
                    classNames="form-control" value=option.model.phrase}}
                </div>
            </div>
        </div>
        {{render "edit/question/views/input-validation-message" option.validityOption}}
    {{else}}
        <div class="row">
            <div class="col-md-12">
                {{#if option.isRequired}}
                    <h5>INCORRECT ANSWER</h5>
                {{else}}
                    <h5>INCORRECT ANSWER
                        <small>(OPTIONAL)</small>
                    </h5>
                {{/if}}
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div {{bind-attr class="option.validityOption.errors.length:has-error
                            option.validityOption.warnings.length:has-warning"}}>
                    {{textarea placeholder="Type one of the incorrect answers here"
                    classNames="form-control" value=option.model.phrase}}
                </div>
            </div>
        </div>
        {{render "edit/question/views/input-validation-message" option.validityOption}}
    {{/if}}
{{/each}}
<div class="row">
    <div class="col-md-12">
        <h5><strong>FEEDBACK</strong>
            <small>(OPTIONAL)</small>
        </h5>
    </div>
</div>
<div class="row margin-bottom-16">
    <div class="col-md-12">
        {{textarea placeholder="Give some feedback or an explanation for test takers."
        classNames="form-control" value=model.feedback}}
    </div>
</div>
