{{!-- {{outlet}} --}}

{{!-- Title and Category row --}}
<section class="row">

    {{!-- Title column --}}
    <article class="col-xs-12 col-md-7 margin-bottom-16">
        <section class="row">
            <article class="col-xs-12">
                <h4>Enter a Title</h4>
            </article>
        </section>
        <section class="row">
            <article class="col-xs-12">
                {{input type="text" placeholder="Name your Quiz" classNames="form-input"
                value=model.title}}
            </article>
        </section>
    </article>

    {{!-- Category column --}}
    <article class="col-xs-12 col-md-5 col-fix-right margin-bottom-16">
        <section class="row">
            <article class="col-xs-12">
                <h4>Select Subject</h4>
            </article>
        </section>

        {{category-tags test=model canEdit=true parentController=this}}

    </article>
</section>

{{!-- Tags row --}}
<section class="row margin-bottom-16">
    <article class="col-xs-12">
        {{module-tags tags=model.tags canEdit=true parentController=this}}
    </article>
</section>

<hr class="full-hr no-margin">

{{!-- Description row --}}
<section class="row margin-top-16">
    <article class="col-xs-12 margin-bottom-16">
        <section class="row">
            <article class="col-xs-12">
                <h4>Quiz Description</h4>
            </article>
        </section>
        <section class="row">
            <article class="col-xs-12">
                {{textarea placeholder="Enter a brief description of your test"
                classNames="form-input" value=model.description rows=3}}
            </article>
        </section>
    </article>
</section>

{{!-- Visbility row --}}
<section class="row">
    <article class="col-xs-12">
        <section class="row">
            <article class="col-xs-12  margin-bottom-8">
                <h4>Quiz Visibility</h4>
            </article>
        </section>

        <section class="row">
            <article class="col-xs-12 margin-bottom-8">
                <div class="privacy-switch">
                    {{input type="checkbox" checked=model.isPublic class="privacy-switch-checkbox"
                    id="privacy-switch"}}
                    <label class="privacy-switch-label" for="privacy-switch">
                        <span class="privacy-switch-inner"></span>
                        <span class="privacy-switch-switch"></span>
                    </label>
                </div>
            </article>
            <article class="col-xs-12 no-margin">
                <p class="small">
                    {{#if model.isPublic}}
                        This quiz will be visible to everyone.
                    {{else}}
                        Only you will see this quiz.
                    {{/if}}
                </p>
            </article>
        </section>
    </article>
</section>
