<div class="row margin-top-16">
    <div class="col-md-12">
        <h5>TITLE</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-bottom-16">
        {{input type="text" placeholder="Enter a title for your test" classNames="form-control" value=title}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>CATEGORY</h5>
    </div>
</div>
{{#unless category}}
    <div class="row">
        <div class="col-md-12">
            {{view Ember.Select
            classNames='form-control'
            content=parentCategories
            optionValuePath="content"
            optionLabelPath="content.name"
            selection=parentCategory
            prompt="Please select a subject"}}
        </div>
    </div>
    {{#if childCategories.length}}
        <div class="row">
            <div class="col-md-12 margin-top-16">
                {{view Ember.Select
                classNames='form-control'
                content=childCategories
                optionValuePath="content"
                optionLabelPath="content.name"
                selection=childCategory
                prompt="Please select a subject area"}}
            </div>
        </div>
    {{/if}}
{{else}}
    {{#if category.parent}}<div {{action 'removeCategory' category.parent}} class="tag category-edit">{{category.parent.name}}</div>{{/if}}
    <div {{action 'removeCategory' category}} class="tag category-edit">{{category.name}}</div>
{{/unless}}
<div class="row">
    <div class="col-md-12">
        <h5>DESCRIPTION</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-bottom-16">
        {{textarea placeholder="Enter a brief description of your test" classNames="form-control" value=description}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>SHARING</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <label class="switch-light well privacy-switch">
            {{input type="checkbox" checked=privacyBoolean}}
            <span>
                <span {{bind-attr class='privacyBoolean::is-active'}}>Private</span>
                <span {{bind-attr class='privacyBoolean:is-active'}}>Public</span>
              </span>
            <a class="btn btn-primary"></a>
        </label>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{#if privacy}}
            <p>This test is visible to everyone.</p>
        {{else}}
            <p>Only you can see this test.</p>
        {{/if}}
    </div>
</div>

{{#if model.id}}
    <!-- Delete test button -->
    <div class="row">
        <div class="col-md-12" style="margin-top:48px;">
            <button class="btn btn-danger" {{action 'openModal' 'edit/modal/confirmDelete' 'create'}}>Delete test</button>
        </div>
    </div>

{{/if}}