{{!-- {{outlet}} --}}

{{!-- Title and Category row --}}
<section class="row">

    {{!-- Title column --}}
    <article class="col-xs-12 col-md-7 margin-bottom-16">
        <section class="row">
            <article class="col-xs-12">
                <h4>Enter a Title</h4>
            </article>
        </section>
        <section class="row">
            <article class="col-xs-12">
                {{input type="text" placeholder="Name your Quiz" classNames="form-input"
                value=model.title}}
            </article>
        </section>
    </article>

    {{!-- @Deprecated Category column --}}
    {{!--
    <article class="col-xs-12 col-md-5 col-fix-right margin-bottom-16">
        <section class="row">
            <article class="col-xs-12">
                <h4>Select Subject</h4>
            </article>
        </section>

        {{category-tags test=model canEdit=true parentController=this}}

    </article>
    --}}

    {{!-- Tags row --}}
    <article class="col-md-5 col-fix-right">
        <section class="row">
            <article class="col-xs-12">
                <h4>Tags</h4>
            </article>
        </section>
        {{module-tags tags=model.tags canEdit=true parentController=this}}
    </article>
</section>

<hr class="full-hr no-margin">

{{!-- Description row --}}
<section class="row margin-top-16">
    <article class="col-xs-12 margin-bottom-16">
        <section class="row">
            <article class="col-xs-12">
                <h4>Quiz Description</h4>
            </article>
        </section>
        <section class="row">
            <article class="col-xs-12">
                {{textarea placeholder="Enter a brief description of your test"
                classNames="form-input" value=model.description rows=3}}
            </article>
        </section>
    </article>
</section>

{{!-- Visbility row --}}
<section class="row">
    <article class="col-xs-12">
        <section class="row margin-bottom-8">
            <article class="col-xs-12">
                <h4>Quiz Visibility</h4>
            </article>
        </section>

        <section class="row margin-bottom-16">
            <article class="col-xs-12">
                {{visibility-switch checked=model.isPublic}}
            </article>
        </section>
    </article>
</section>
