<div class="row margin-top-16">
    <div class="col-md-12">
        <h5>TITLE</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-bottom-16">
        {{input type="text" placeholder="Enter a title for your test" classNames="form-control" value=model.title}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>CATEGORY</h5>
    </div>
</div>
{{#unless model.category}}
    <div class="row">
        <div class="col-md-12 margin-bottom-16">
            {{view 'select'
            classNames='form-control'
            content=parentCategories
            optionValuePath="content"
            optionLabelPath="content.name"
            selection=parentCategory
            prompt="Please select a subject"}}
        </div>
    </div>
    {{#if childCategories.length}}
        <div class="row">
            <div class="col-md-12 margin-bottom-16">
                {{view 'select'
                classNames='form-control'
                content=childCategories
                optionValuePath="content"
                optionLabelPath="content.name"
                selection=childCategory
                prompt="Please select a subject area"}}
            </div>
        </div>
    {{/if}}
{{else}}
    {{#if model.category.parent}}
        <div {{action 'removeCategory' model.category.parent}}
                class="tag category-edit">{{model.category.parent.name}}</div>
    {{/if}}
    <div {{action 'removeCategory' model.category}} class="tag category-edit">{{model.category.name}}</div>
{{/unless}}
<div class="row">
    <div class="col-md-12">
        <h5>DESCRIPTION</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-bottom-16">
        {{textarea placeholder="Enter a brief description of your test" classNames="form-control" value=model.description}}
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <h5>VISIBILITY</h5>
    </div>
</div>
{{#if currentUser.groups.length}}
    <div class="row">
        <div class="col-md-12 margin-bottom-16">
            {{view 'select'
            classNames='form-control'
            content=currentUser.groups
            optionValuePath="content"
            optionLabelPath="content.name"
            value=selectedGroup
            prompt="Make test for a Group?"
            }}
        </div>
    </div>
{{/if}}
{{#unless selectedGroup.id}}
    <div class="row">
        <div class="col-md-4 margin-bottom-8">
            <div class="togglebutton togglebutton-info">
                <label>
                    <strong class="margin-right-8">Public</strong>
                    {{input type="checkbox" checked=model.isPublic}}<span class="toggle"></span>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{#if model.isPublic}}
                <p>This test is visible to everyone.</p>
            {{else}}
                <p>Only you can see this test.</p>
            {{/if}}
        </div>
    </div>


{{else}}
    <div class="row">
        <div class="col-md-12">
            <i class="fa fa-lock margin-right-8"></i>
            <label class='text-capitalize'>{{model.group.privacy}}</label>
        </div>
    </div>
{{/unless}}
{{#if model.id}}
    <!-- Delete test button -->
    <div class="row">
        <div class="col-md-12 margin-top-16">
            <button class="btn btn-danger" {{action 'openModal' 'edit/modal/confirmDelete' 'create'}}>Delete test
            </button>
        </div>
    </div>

{{/if}}