<div class="container">
    <section class="row">
        <article class="col-md-3">
            <div class="card margin-bottom-16 srs-overview">
                <h4>Spaced Repetition Service</h4>

                {{#if currentUser.privateData.spacedRepetitionActivated}}
                    <p><i class="fa fa-circle"></i><strong>Activated</strong></p>

                    <p><i class="fa fa-calendar"></i><strong>Started</strong>
                        {{simple-date currentUser.privateData.spacedRepetitionStartDate}}</p>

                    <p><i class="fa fa-calendar"></i><strong>Expires</strong>
                        {{simple-date currentUser.privateData.spacedRepetitionExpiryDate}}</p>

                    <p><i class="fa fa-credit-card"></i><strong>Current purchase</strong>
                        {{currentUser.privateData.spacedRepetitionLastPurchase}}</p>

                    {{#if currentUser.privateData.spacedRepetitionSubscriptionCancelled}}
                        <p><i class="fa fa-exclamation-triangle"></i><strong>Cancelled</strong>
                            - you will not be charged again.</p>
                    {{else}}
                        <p>
                            <button class="btn form-control"
                                {{action 'cancelSubscriptionToSRS'}}>Cancel subscription
                            </button>
                        </p>
                    {{/if}}
                {{else}}
                    <p><i class="fa fa-circle-thin"></i>Not active</p>
                {{/if}}
            </div>
        </article>
        <article class="col-md-9 col-fix-right">
            <div class="card srs-dashboard">
                <section class="row">
                    <article class="col-md-6">
                        <h4 class="margin-bottom-16">Intensity level <span class="pull-right"
                                >{{currentUser.spacedRepetitionIntensity}}</span></h4>

                        {{input type="range" min=1 max=4 value=currentUser.spacedRepetitionIntensity}}
                        <div class="text-center">
                            <p class="margin-top-16">{{intensityDescription}}</p>

                            <p class="small">
                                <i class="fa fa-clock-o"></i>
                                {{#each time in intensityTimes}}
                                    {{time-am-pm time}}
                                {{/each}}
                            </p>
                        </div>
                    </article>
                    <article class="col-md-6">
                        <h4 class="margin-bottom-16">Maximum questions per test<span class="pull-right"
                                >{{currentUser.spacedRepetitionMaxQuestions}}</span></h4>

                        {{input type="range" min=1 max=model.totalQuestions value=currentUser.spacedRepetitionMaxQuestions}}
                        <div class="text-center">
                            <p class="margin-top-16">
                                We will limit the number of questions to
                                {{currentUser.spacedRepetitionMaxQuestions}}
                            </p>

                            <p class="small">Note that sometimes,
                                you will not have any questions that you need to take.</p>
                        </div>
                    </article>
                    <article class="col-md-6 margin-top-16">
                        <h4>
                            <i class="fa fa-envelope"></i>
                            {{input type="checkbox" checked=currentUser.spacedRepetitionNotificationByEmail}}
                            Notify me by Email <br>
                            <small class="text-center">When spaced repetition questions are ready,
                                you will be sent an email to {{currentUser.privateData.email}}.
                            </small>
                        </h4>
                    </article>
                    <article class="col-md-6 text-center">
                        <h4>Time zone</h4>
                        {{view 'select' content=timeZones class="form-control" value=currentUser.timeZone}}
                    </article>
                </section>

                <section class="row">
                    <article class="col-md-6 margin-top-16">
                        <h4>
                            <i class="fa fa-bullhorn"></i>
                            {{input type="checkbox" checked=currentUser.spacedRepetitionNotificationByPush}}
                            Notify me by Push <br>
                            <small class="text-center">When spaced repetition questions are ready,
                                you will be alerted on your mobile device.
                            </small>
                        </h4>
                    </article>
                    {{#if currentUser.isDirty}}
                        <article class="col-md-6 text-center">
                            <button class="btn btn-success" {{action 'saveChangesToCurrentUser'}}>Save changes</button>
                        </article>
                    {{/if}}
                </section>

                <section class="row">
                    <article class="col-md-12">
                        <h4>Question bank ({{totalQuestions}})</h4>
                        <section class="row">
                            <article class="col-md-4 text-center">
                                {{#each box in intensityConfig.boxes itemController="dashboard.srs.item.box"}}
                                    <div class="srs-box" {{bind-attr style=box.boxStyle}}
                                        {{action 'selectBox' box.itemNumber box.uniqueResponses}}>
                                        <h4>Box {{box.itemNumber}}</h4>

                                        <p>{{box.uniqueResponses.length}} questions in this box</p>

                                        <p><i class="fa fa-clock-o"></i>{{box.model}} hours</p>
                                    </div>
                                {{/each}}
                            </article>
                            <article class="col-md-8 col-fix-right">
                                <div class="srs-box-questions-list" {{bind-attr style=questionListStyle}}>
                                    {{#if selectedBox}}
                                        <h4 class="margin-bottom-16">Questions in Box {{selectedBox}}</h4>
                                    {{else}}
                                        <h5>Click on a box to see which questions are currently in it.</h5>
                                        <hr>

                                        <h4>Adding more questions to the bank</h4>

                                        <p>In order to add more questions, take tests that you need to revise.
                                            You will be presented with options to add those questions on the results
                                            page, or to simply add the questions that you answered incorrectly.</p>

                                        <p>You can remove all questions from your spaced repetition bank by
                                            scrolling to the bottom of this page and pressing 'Remove all
                                            questions'.</p>
                                    {{/if}}
                                    {{#each uniqueResponse in uniqueResponsesInSelectedBox}}
                                        <p>{{uniqueResponse.question.stem}}</p>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <p>
                                                    <i class="fa fa-undo"></i>
                                                    Number of attempts {{uniqueResponse.numberOfResponses}}
                                                </p>
                                            </div>
                                            <div class="col-md-6 col-fix-right">
                                                {{from-now showIcon=true class="pull-right"
                                                time=uniqueResponse.latestResponse.createdAt}}
                                            </div>
                                        </div>
                                        <hr>
                                    {{/each}}
                                </div>
                            </article>
                            {{#if totalQuestions}}
                                <article class="col-md-4 pull-right margin-top-16">
                                    <a href="" {{action 'removeAllQuestionsFromSRS'}} class="pull-right">Remove all
                                        questions</a>
                                </article>
                            {{/if}}
                        </section>

                    </article>
                </section>
            </div>
        </article>
    </section>
</div>
