<article class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="study-profile">
        {{#if user.studying}}
            <h5 class="margin-bottom-8"><i class="fa fa-fw fa-book margin-right-8"></i>{{user.studying}}</h5>
        {{/if}}
        {{#if user.placeOfStudy}}
            <h5 class="margin-bottom-8"><i class="fa fa-fw fa-university margin-right-8"></i>{{user.placeOfStudy}}</h5>
        {{/if}}
        {{#if user.studyYear}}
            <h5 class="margin-bottom-8"><i class="fa fa-fw fa-group margin-right-8"></i>{{user.studyYear}}</h5>
        {{/if}}
        <hr>
        <h5><strong>Modules</strong></h5>

        {{#if fetchingModuleTags}}
            <section class="row">
                <article class="col-xs-12 text-center">
                    {{loading-bar isLoading=true class="inline-block margin-right-8"}}
                    <h5 class="inline-block">Fetching Modules...</h5>
                </article>
            </section>
        {{else}}
            <ul class="tags margin-bottom-16">
                {{module-tags canEdit=true tags=user.moduleTags parentController=this
                tagOrModule="Module"}}
            </ul>
        {{/if}}

    </div>
</article>

