<article class="col-sm-12 col-md-8 col-md-offset-2">
    {{#unless registrationComplete}}
        <section class="row margin-bottom-16">
            <article class="col-sm-8 col-sm-offset-2 text-center">
                <button class="btn btn-facebook no-margin" {{action "registerWithFacebook"}}>
                    <i class="fa fa-fw fa-facebook margin-right-8"></i>Fill Profile with Facebook
                </button>
            </article>
        </section>
        <section class="row">
            <div class="col-xs-12 text-center col-sm-5">
                <br>
                <input type="file" id="imageInput" class="hidden"
                    {{action 'previewImage' on='change'}}/>
                <img id="image-holder" {{bind-attr src=imageFile.url}} class="hidden"/>

                <label class="circular-image linkify" for="imageInput"
                    {{bind-attr style=imageFile.style}}></label>

                <h5><label for="imageInput" class="linkify">Set Profile Picture</label></h5>
            </div>
            <div class="col-xs-12 col-sm-7 col-fix-right">
                <br>

                <div class="form-control-wrapper onboarding-floatingInput">
                    {{input type="text" value=user.name id="onboarding-userFullName"
                    action="registerWithEmailAsyncButton"
                    classNameBindings=":form-control user.name.length::empty :input-lg"}}
                    <div class="floating-label">Full name</div>
                    <span class="material-input"></span>
                    {{#if signUpValidationErrors.name}}
                        <div class="col-xs-12 col-sm-8 col-sm-push-2 text-center sign-up-validation margin-bottom-16">
                            <span class="alert alert-danger">{{signUpValidationErrors.name}}</span>
                        </div>
                    {{/if}}
                </div>
                <br>

                <div class="form-control-wrapper onboarding-floatingInput margin-top-8">
                    {{input type="email" value=user.email action="registerWithEmailAsyncButton"
                    classNameBindings=":form-control user.email.length::empty"}}
                    <div class="floating-label">Email</div>
                    <span class="material-input"></span>
                    {{#if signUpValidationErrors.email}}
                        <div class="col-xs-12 col-sm-8 col-sm-push-2 text-center sign-up-validation margin-bottom-16">
                            <span class="alert alert-danger">{{signUpValidationErrors.email}}</span>
                        </div>
                    {{/if}}
                </div>
                <br>

                <div class="form-control-wrapper onboarding-floatingInput margin-top-8">
                    {{input type="password" value=user.password action="registerWithEmailAsyncButton"
                    classNameBindings=":form-control user.password.length::empty"}}
                    <div class="floating-label">Password</div>
                    <span class="material-input"></span>
                    {{#if signUpValidationErrors.password}}
                        <div class="col-xs-12 col-sm-8 col-sm-push-2 text-center sign-up-validation margin-bottom-16">
                            <span class="alert alert-danger">{{signUpValidationErrors.password}}</span>
                        </div>
                    {{/if}}
                </div>
                {{#if signUpValidationErrors.signUp}}
                    <div class="col-xs-12 col-sm-8 col-sm-push-2 text-center sign-up-validation margin-bottom-16">
                        <span class="alert alert-danger">{{signUpValidationErrors.signUp}}</span>
                    </div>
                {{/if}}
                <div class="row margin-top-16">
                    <div class="col-md-12 text-center">
                        <p class="small">By signing up, you accept that you have read (and agree to) our
                            {{#link-to 'privacyPolicy' target="_blank"}}Privacy Policy{{/link-to}}
                            and {{#link-to 'terms' target="_blank"}}Terms & Conditions{{/link-to}}.</p>
                    </div>
                </div>
            </div>
        </section>
    {{else}}
        <section class="row">
            <div class="col-xs-12 text-center">
                {{profile-picture user=currentUser height=200 width=200 doNotLink=true}}
            </div>
            <div class="col-xs-12 text-center">
                <h4><strong>{{currentUser.name}}</strong></h4>
                <table class="text-left" style="margin:auto;">
                    {{#if user.studying}}
                        <tr>
                            <td><i class="fa fa-fw fa-book margin-right-8"></i></td>
                            <td>{{user.studying}}</td>
                        </tr>
                    {{/if}}
                    {{#if user.placeOfStudy}}
                        <tr>
                            <td><i class="fa fa-fw fa-university margin-right-8"></i></td>
                            <td>{{user.placeOfStudy}}</td>
                        </tr>
                    {{/if}}
                    {{#if user.studyYear}}
                        <tr>
                            <td><i class="fa fa-fw fa-group margin-right-8"></i></td>
                            <td>{{user.studyYear}}</td>
                        </tr>
                    {{/if}}
                </table>
            </div>
        </section>
    {{/unless}}
</article>