<div class="row">
    <div class="col-md-12">
        <div class="card action-card margin-bottom-16">
            {{#link-to 'user' slug
            tagName='a'}}{{render 'profile-image' this}}{{/link-to}}

            <div class="action-title">
                <p class="lead">{{#link-to 'user' slug}}
                    {{name}}{{/link-to}}
                </p>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <p>
                                {{#link-to 'user.tests' slug}}
                                    {{#if numberOfTests}}{{numberOfTests}}{{else}}0{{/if}}
                                    <small> Tests</small>
                                {{/link-to}}
                            </p>
                        </div>
                        <div class="col-md-4">
                            <p>
                                {{#link-to 'user.following' slug}}
                                    {{#if numberFollowing}}{{numberFollowing}}{{else}}0{{/if}}
                                    Following
                                {{/link-to}}
                            </p>

                        </div>
                        <div class="col-md-4">
                            <p>
                                {{#link-to 'user.followers' slug}}
                                    {{#if numberOfFollowers}}{{numberOfFollowers}}{{else}}0{{/if}}
                                    Followers
                                {{/link-to}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="actions-top-right">
                {{#unless isCurrentUser}}
                    {{#if isFollowing}}
                        <a {{action 'unfollowUser' this}}>
                            <span class="glyphicon glyphicon-ok-circle"></span> following</a>
                    {{else}}
                        <a {{action 'followUser' this}}>
                            <span class="glyphicon glyphicon-unchecked"></span> follow</a>
                    {{/if}}
                {{/unless}}
                {{#if hasModeratorAccess}}
                    {{#tool-tipster title="Remove member from Group" position="top" class='inline-top'}}
                        <a href="javascript:void(0)"
                           class="margin-left-8" {{action 'removeMemberFromGroupPrompt' this}}>
                            <i class="fa fa-trash-o" title="remove member"></i>
                        </a>
                    {{/tool-tipster}}
                {{/if}}
            </div>
        </div>
    </div>
</div>