<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
            class="sr-only">Close</span></button>
    <h4 class="modal-title">{{title}}</h4>
</div>
<div class="container-fluid test-info-modal">
    <!-- Author info -->
    <h4>AUTHOR</h4>
    {{#link-to 'user' author.slug tagName="a"}}{{render 'profile-image' author}}{{/link-to}}
    <div class="author-info inline-block">
        <p>{{#link-to 'user' author.slug tagName="a"}}{{author.name}}{{/link-to}}</p>
        <p>{{author.numberOfFollowers}} followers</p>
        {{#unless isCurrentUser}}
            {{#if isFollowing}}
                <p><a href="" {{action 'unfollowUser' author}}>Following</a></p>
            {{else}}
                <p><a href="" {{action 'followUser' author}}>Follow</a></p>
            {{/if}}
        {{/unless}}
    </div>

    <hr>
    <h4>CATEGORY</h4>
    <p>{{#link-to 'category' category.parent.slug}}{{category.parent.name}}{{/link-to}} -
        {{#link-to 'category' category.slug}}{{category.name}}{{/link-to}}</p>
    {{#if description.length}}
        <hr>
        <h4>DESCRIPTION</h4>
        <p>{{description}}</p>
    {{/if}}
    <hr>
    <h4>STATS</h4>
    <p>{{_data.questions.length}} questions</p>
    <p>{{math-round averageScore 2}}% community average</p>
    <p>{{numberOfAttempts}} community attempts</p>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    {{#link-to 'test' slug tagName='a' classNames="btn btn-primary"}}Take test{{/link-to}}
</div>