<div class="row">
    <div class="col-md-12">
        <div class="card action-card margin-top-16">
            {{#link-to 'user' userAction.userSlug
            tagName='a'}}{{render 'profile-image' userAction.userProfileImageUrl}}{{/link-to}}

            <div class="action-title">
                <p>{{#link-to 'user' userAction.userSlug}}
                    {{userAction.userName}}{{/link-to}}
                    {{userAction.title}}</p>
                <p>
                    {{#if userAction.testTitle}}
                        {{#link-to 'testInfo' userAction.testSlug}}{{userAction.testTitle}}{{/link-to}}
                        <small> in </small>
                        {{#if userAction.test.category.parentCategorySlug}}
                            {{#link-to 'subcategory' userAction.test.category.parentCategorySlug userAction.testCategorySlug}}
                                {{userAction.testCategoryName}}
                            {{/link-to}}
                        {{else}}
                            {{#link-to 'category' userAction.testCategorySlug}}
                                {{userAction.testCategoryName}}
                            {{/link-to}}
                        {{/if}}
                    {{/if}}
                </p>
            </div>
            <small class="moments-ago pull-right">
                {{from-now time=userAction.createdAt}}
            </small>
        </div>
    </div>
</div>