<div class="row">
    <div class="col-md-12">
        <div class="card test-info-card margin-top-16">
            {{#link-to 'user' attempt.userSlug tagName="a" class="inline-block"}}{{render 'profile-image'
            attempt.userProfileImageUrl}}{{/link-to}}

            <div class="test-details inline-block">
                <h4>
                    {{#link-to 'testInfo' attempt.testSlug tagName='a'}}
                        {{attempt.testTitle}}
                    {{/link-to}}
                </h4>
                <small class="moments-ago pull-right">
                    {{from-now time=attempt.createdAt}}
                </small>
                <p>
                    {{#link-to 'category' attempt.testCategorySlug tagName='a'}}
                        {{#if attempt.test.category.parentCategorySlug}}
                            {{#link-to 'subcategory' attempt.test.category.parentCategorySlug attempt.testCategorySlug}}
                                {{attempt.testCategoryName}}
                            {{/link-to}}
                        {{else}}
                            {{#link-to 'category' attempt.testCategorySlug}}{{attempt.testCategoryName}}{{/link-to}}
                        {{/if}}
                    {{/link-to}}
                </p>
                <div class="statistics">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="text-center">Questions {{attempt.totalQuestions}}</div>
                            </div>
                            <div class="col-md-3">
                                <div class="text-center">
                                    {{#link-to 'result' attempt.id tagName='a'}}
                                        <p>Scored {{math-round attempt.score 2}}%</p>
                                    {{/link-to}}</div>
                            </div>
                            <div class="col-md-5">
                                <div class="text-center">Community Avg. {{math-round attempt.testAverageScore 2}}%
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>