<div class="row">
    <div class="col-md-12">
        <div class="card test-info-card margin-top-16">
            {{#link-to 'user' attempt.userSlug tagName="a"}}{{render 'profile-image'
            attempt.userProfileImageUrl}}{{/link-to}}

            <small class="moments-ago pull-right">
                {{from-now time=attempt.createdAt}}
            </small>
            <br>

            <div class="title-and-category">
                <h4>
                    {{#link-to 'testInfo' attempt.testSlug tagName='a'}}
                        {{attempt.testTitle}}
                    {{/link-to}}
                </h4>
                <p>
                    {{#link-to 'category' attempt.testCategorySlug tagName='a'}}
                        {{attempt.testCategoryName}}
                    {{/link-to}}
                </p>
            </div>

            <div class="statistics">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center">Questions {{attempt.totalQuestions}}</div>
                        </div>
                        <div class="col-md-3">
                            <div class="text-center">
                                {{#link-to 'result' attempt.id tagName='a'}}
                                    <p>Scored {{math-round attempt.score 2}}%</p>
                                {{/link-to}}</div>
                        </div>
                        <div class="col-md-5">
                            <div class="text-center">Community Avg. {{math-round attempt.testAverageScore 2}}%
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>