<div class="row">
    <div class="col-md-12">
        <div class="card test-info-card margin-top-16">
            {{#link-to 'user' attempt.user.slug tagName="a"}}{{render 'profile-image' attempt.user}}{{/link-to}}

            <small class="moments-ago pull-right">
                {{from-now time=attempt.createdAt}}
            </small>
            <br>

            <div class="title-and-category">
                <h4>
                    {{#if attempt._data.test._data.title.length}}
                        {{#link-to 'testInfo' attempt._data.test._data.slug tagName='a'}}
                            {{attempt._data.test._data.title}}
                        {{/link-to}}
                    {{else}}
                        {{#link-to 'testInfo' attempt.test.slug tagName='a'}}
                            {{attempt.test.title}}
                        {{/link-to}}
                    {{/if}}

                </h4>

                <p>
                    {{#link-to 'category' attempt._data.test.category.slug tagName='a'}}
                        {{attempt._data.test.category.name}}
                    {{/link-to}}
                </p>
            </div>

            <div class="statistics">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center">Questions {{attempt._data.test._data.questions.length}}</div>
                        </div>
                        <div class="col-md-3">
                            <div class="text-center">
                                {{#link-to 'result' attempt.id tagName='a'}}
                                    <p>Scored {{math-round attempt.score 2}}%</p>
                                {{/link-to}}</div>
                        </div>
                        <div class="col-md-5">
                            <div class="text-center">Community Avg. {{math-round attempt._data.test.averageScore 2}}%
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>