<div class="row">
    <div class="col-md-12">
        <div class="card test-info-card margin-top-16">
            {{#link-to 'user' authorSlug tagName="a"  class='inline-block'}}{{render 'profile-image' authorProfileImageUrl}}{{/link-to}}

            <div class="test-details inline-block">
                <h4>
                    <a href="javascript:void(0)"
                        {{action 'openModal' 'browse/modal/test-info' 'browse.modal.testInfo' this}}>
                        {{title}}
                    </a>
                </h4>

                <p class="margin-bottom-8">
                    {{#if category.parentCategorySlug}}
                        <small>
                            {{#link-to 'category' category.parentCategorySlug}}{{category.parentCategoryName}}{{/link-to}}
                        </small>
                        /
                        {{#link-to 'subcategory' category.parentCategorySlug category.slug}}{{category.name}}{{/link-to}}
                    {{else}}
                        {{#link-to 'category' category.slug}}{{category.name}}{{/link-to}}
                    {{/if}}
                </p>
                <div class="statistics">
                    <div class="container-fluid">
                        <section class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12 col-fix-right">
                                <label class="margin-right-8">
                                    {{#tool-tipster title="Total questions" position="top"}}
                                        Q{{totalQuestions}}
                                    {{/tool-tipster}}
                                </label>
                                <label class="margin-right-8">
                                    {{#tool-tipster title="Your last score" position="top"}}
                                        {{#if latestAttempt}}
                                            <i class='fa fa-calendar-o'></i>
                                            {{#link-to 'result' latestAttempt}}
                                                {{math-round latestAttempt.score}}%
                                            {{/link-to}}
                                        {{else}}
                                            No attempts
                                        {{/if}}
                                    {{/tool-tipster}}
                                </label>
                                <label class="margin-right-8">
                                    {{#tool-tipster title="Your average score" position="top"}}
                                        <i class='glyphicon glyphicon-stats'></i>
                                        {{math-round averageScore 2}}%
                                    {{/tool-tipster}}
                                </label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="pull-right">
                                    <label class="margin-right-8">
                                        {{#tool-tipster title="Take Test!" position="top"}}
                                            {{#link-to 'test' slug}}<i class="fa fa-pencil-square-o"></i>{{/link-to}}
                                        {{/tool-tipster}}
                                    </label>
                                    <label class="margin-right-8">
                                        {{#tool-tipster title="Edit Test" position="top"}}
                                            {{#link-to 'edit' slug tagName='a'}}
                                                <i class="fa fa-file-text-o"></i>
                                            {{/link-to}}
                                        {{/tool-tipster}}
                                    </label>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>