<div class="row">
    <div class="col-md-12">
        <div class="card test-info-card margin-top-16">
            {{#link-to 'user' author.id tagName="a"}}{{render 'profile-image' author}}{{/link-to}}

            <small class="moments-ago pull-right"
                    >{{view 'from-now' valueBinding="updatedAt"}}</small>
            <br>
            <small class="test-actions">
                {{#if isCurrentUsersTest}}
                    {{#link-to 'edit' this tagName='a'}}Edit{{/link-to}}
                {{/if}}
            </small>

            <div class="title-and-category">
                <p class="lead">
                    {{#link-to 'test' this tagName='a'}}{{title}}{{/link-to}}
                </p>

                <p>
                    {{#link-to 'category' category.id tagName='a'}}{{category.name}}{{/link-to}}
                </p>
            </div>

            <div class="statistics">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="text-center"><p class="lead">Q - {{_data.questions.length}}</p></div>
                        </div>
                        <div class="col-md-4">
                            {{#if latestAttempt}}
                                <div class="text-center"><p class="lead">LA - {{latestAttempt.score}}%</p></div>
                            {{else}}
                                <div class="text-center"><p>No attempts</p></div>
                            {{/if}}
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>