<div class="row">
    <div class="col-md-12">
        <div class="card action-card margin-top-16">
            {{#link-to 'user' user.slug
            tagName='a'}}{{render 'profile-image' user}}{{/link-to}}

            <div class="action-title">
                <p>{{#link-to 'user' user.slug}}
                    {{user.name}}{{/link-to}}
                </p>

                <div class="container-fluid">
                    <div class="row">
                        <div class=col-md-8>
                            <p>
                                {{#link-to 'user.followers' user.slug}}
                                    {{#if user.numberOfFollowers}}{{user.numberOfFollowers}}{{else}}0{{/if}}
                                    <small> Followers</small>
                                {{/link-to}}
                            </p>
                        </div>
                    </div>
                </div>

            </div>

            <div class="actions-bottom-right">
                {{#unless user.isCurrentUser}}
                    {{#if user.isFollowing}}
                        <a {{action 'unfollowUser' user}}><span class="glyphicon glyphicon-ok-circle"></span> following</a>
                    {{else}}
                        <a {{action 'followUser' user}}><span class="glyphicon glyphicon-unchecked"></span> follow</a>
                    {{/if}}
                {{/unless}}
            </div>
        </div>
    </div>
</div>