<div class="row">
    <div class="col-md-12">
        <h5>NAME</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-bottom-16">
        {{input type="text" placeholder="Enter a name for this group" classNames="form-control" value=name}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>PRIVACY</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{#each privacyOption in privacyOptions}}
            {{#if privacyOption.isSelected}}
                <label class="text-capitalize margin-right-16 margin-bottom-8">
                    <input type="radio" name="privacy" {{bind-attr value=privacyOption.value}}
                           checked class="margin-right-8"/>
                    {{privacyOption.value}}
                </label>

                <p class="margin-bottom-16">{{privacyOption.description}}</p>
            {{else}}
                <label class="text-capitalize margin-right-16 margin-bottom-8">
                    <input type="radio" name="privacy" {{bind-attr value=privacyOption.value}}
                        {{action "setPrivacy" privacyOption.value on="change"}}
                           class="margin-right-8"/>
                    {{privacyOption.value}}
                </label>

                <p class="margin-bottom-16">{{privacyOption.description}}</p>
            {{/if}}
        {{/each}}
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-bottom-16">
        <label>
            {{input type="checkbox" checked=isForCourse class="margin-right-8"}}
            Is this group for a particular course, class or degree?</label>
    </div>
</div>
{{#if isForCourse}}
    <div class="row">
        <div class="col-md-12">
            <h5>COURSE</h5>
        </div>
    </div>
    <div class="row">
        {{!--
        <div class="col-md-12 margin-bottom-16">
            {{input type="text" placeholder="E.g. Medicine" classNames="form-control" value=courseName}}
        </div>
        --}}
        <div class="col-md-12 margin-bottom-16">
            {{#tool-tipster title="Select from course suggestions or type a new one" position='top'}}
                {{search-suggestions
                type='courses'
                labelPath="name"
                secondaryLabelPath="institutionFullName"
                defaultItem=course
                limit=0
                contextController=this
                actionOnSelection='courseSelected'
                }}
            {{/tool-tipster}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Institution</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-bottom-16">
            {{#tool-tipster title="Select from insitution suggestions or type a new one" position='top'}}
                {{search-suggestions
                type='institutions'
                labelPath="fullName"
                defaultItem=institution
                limit=0
                contextController=this
                actionOnSelection='institutionSelected'
                }}
            {{/tool-tipster}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Year or Grade</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-bottom-16">
            {{input type="text" placeholder="E.g. 2, Foundation, etc." classNames="form-control" value=yearOrGrade}}
        </div>
    </div>
{{/if}}
<div class="row">
    <div class="col-md-12">
        <h5>PATH</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-bottom-16">
        <p>https://mycqs.com/group/{{suggestedSlug}}</p>
    </div>
</div>
{{!--
{{#if model.id}}
    <!-- Delete test button -->
    <div class="row">
        <div class="col-md-12 margin-top-16">
            <button class="btn btn-danger" {{action 'openModal' 'edit/modal/confirmDelete' 'group'}}>Delete group</button>
        </div>
    </div>

{{/if}}
--}}