<div class="row">
    <div class="col-md-12">
        <h5>NAME</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-bottom-16">
        {{input type="text" placeholder="Enter a name for this group" classNames="form-control" value=name}}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h5>PRIVACY</h5>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {{#each privacyOption in privacyOptions}}
            {{#if privacyOption.isSelected}}
                <label class="text-capitalize margin-right-16 margin-bottom-8">
                    <input type="radio" name="privacy" {{bind-attr value=privacyOption.value}}
                           checked class="margin-right-8"/>
                    {{privacyOption.value}}
                </label>

                <p class="margin-bottom-16">{{privacyOption.description}}</p>
            {{else}}
                <label class="text-capitalize margin-right-16 margin-bottom-8">
                    <input type="radio" name="privacy" {{bind-attr value=privacyOption.value}}
                        {{action "setPrivacy" privacyOption.value on="change"}}
                           class="margin-right-8"/>
                    {{privacyOption.value}}
                </label>

                <p class="margin-bottom-16">{{privacyOption.description}}</p>
            {{/if}}
        {{/each}}
    </div>
</div>
<div class="row">
    <div class="col-md-12 margin-bottom-16">
        <label>
            {{input type="checkbox" checked=isForEducationCohort class="margin-right-8"}}
            Is this group for a particular course, class or degree?</label>
    </div>
</div>
{{#if isForEducationCohort}}
    <div class="row">
        <div class="col-md-12">
            <h5>Institution?</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-bottom-16">
            {{#tool-tipster title="Select from insitution suggestions or type a new one" position='top'}}
                {{search-suggestions
                type='educational-institutions'
                labelPath="name"
                defaultItem=defaultEducationCohort.institution
                limit=0
                contextController=this
                facebookSearch=true
                actionOnSelection='educationalInstitutionSelected'
                }}
            {{/tool-tipster}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5>Study field</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 margin-bottom-16">
            {{#tool-tipster title="Select from course suggestions or type a new one" position='top'}}
                {{search-suggestions
                type='study-fields'
                labelPath="name"
                secondaryLabelPath="institutionFullName"
                defaultItem=defaultEducationCohort.studyField
                limit=0
                contextController=this
                facebookSearch=true
                actionOnSelection='studyFieldSelected'
                }}
            {{/tool-tipster}}
        </div>
    </div>
    {{#if defaultEducationCohort.studyField}}
        <div class="row">
            <div class="col-md-12">
                <h5>Year</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 margin-bottom-16">
                {{view 'select'
                classNames='form-control'
                content=studyYearsToChooseFrom
                optionValuePath="content"
                optionLabelPath="content"
                selection=defaultEducationCohort.currentYear
                prompt="Select what year you are in"
                actionOnSelection='studyFieldSelected'
                }}
            </div>
        </div>
    {{/if}}
{{/if}}
{{!--
{{#if model.id}}
    <!-- Delete test button -->
    <div class="row">
        <div class="col-md-12 margin-top-16">
            <button class="btn btn-danger" {{action 'openModal' 'edit/modal/confirmDelete' 'group'}}>Delete group</button>
        </div>
    </div>

{{/if}}
--}}