<div class="test-info-base">

    <div class="test-author-image">
        <div class="gloss-overlay"></div>
        {{#if model.author}}
            {{profile-picture user=model.author}}
        {{else}}
            <img src="img/icon-gradient-1024.png"/>
        {{/if}}
    </div>

    <div class="container-fluid">
        <section class="row">
            <article class="col-xs-12">
                <h4 class="modal-title text-center margin-bottom-0">{{model.title}}</h4>
                <h5 class="by-label text-center margin-top-8 margin-bottom-8">BY</h5>
            </article>
        </section>
    </div>

    {{user-card user=model.author cardType="modal" class="margin-bottom-0" parentController=this}}

    <div class="test-stats-container">
        <div class="stat-container">
            <div class="stat-icon-container inline-block">
                <i class="fa fa-fw fa-question stat-icon"></i>
            </div>
            <span>{{model.totalQuestions}}</span>
        </div>
        <div class="stat-container border-left">
            <div class="stat-icon-container inline-block">
                <i class="fa fa-fw fa-pencil-square stat-icon"></i>
            </div>
            <span>{{model.numberOfAttempts}}</span>
        </div>
        <div class="stat-container border-left">
            {{difficulty-indicator difficulty=model.difficulty}}
        </div>
    </div>

    <div class="container-fluid">
        <section class="row">
            <article class="col-xs-12 margin-bottom-8">
                {{category-tags test=model canEdit=false inverseStyle=false center=true}}
                {{module-tags tags=model.tags canEdit=false inverseStyle=false center=true}}
            </article>
        </section>
        <section class="row">
            <article class="col-xs-12">
                <p class="text-center description">
                    {{model.description}}
                </p>
            </article>
        </section>
    </div>
</div>