<!-- Author info -->
<h4>AUTHOR</h4>
{{#link-to 'user' model.author.slug tagName="a"}}{{profile-picture user=model.author}}{{/link-to}}
<div class="author-info inline-block">
    <p>{{#link-to 'user' model.author.slug tagName="a"}}{{model.author.name}}{{/link-to}}</p>

    <p>{{model.author.numberOfFollowers}} followers</p>
    {{#if currentUser}}
        {{#unless isCurrentUser}}
            {{#if isFollowing}}
                <p><a href="javascript:void(0)" {{action 'unfollowUser' model.author.content}}>Following</a></p>
            {{else}}
                <p><a href="javascript:void(0)" {{action 'followUser' model.author.content}}>Follow</a></p>
            {{/if}}
        {{/unless}}
    {{/if}}
</div>

<hr>
<h4>CATEGORY</h4>

<p>
    {{#if model.category.parentCategorySlug}}
        {{#link-to 'category' model.category.parentCategorySlug}}
            {{model.category.parentCategoryName}}
        {{/link-to}} /
        {{#link-to 'subcategory' model.category.parentCategorySlug model.category.slug}}
            {{model.category.name}}
        {{/link-to}}
    {{else}}
        {{#link-to 'category' model.category.slug}}{{model.category.name}}{{/link-to}}
    {{/if}}
</p>

{{#if model.description.length}}
    <hr>
    <h4>TEST DESCRIPTION</h4>

    <p>{{model.description}}</p>
{{/if}}
<hr>
<h4>STATS</h4>

<p>{{model.questions.length}} <strong>multiple choice {{pluralize-word "question" model.questions.length ""}}</strong></p>

<p>{{math-round averageScore 2}}% community average</p>

<p class="margin-bottom-16">{{numberOfAttempts}} community {{pluralize-word "attempt" numberOfAttempts ""}}</p>