<div class="tab-pane active" id="tab_default_1">
    <div class="container-fluid">
        <blockquote>
            <p>
                Pabst iPhone marfa, cray bespoke skateboard cold-pressed pour-over gentrify sriracha tumblr swag four
                dollar
                toast humblebrag. Pork belly fixie vice, four dollar toast tattooed waistcoat photo booth flexitarian
                marfa
                put a bird on it direct trade taxidermy. Disrupt church-key actually bushwick truffaut sartorial,
                pickled
                migas small batch keytar. VHS bushwick shabby chic iPhone yr, tofu fanny pack lomo organic.
            </p>
        </blockquote>
        <div class="row">
            <div class="col-xs-12">
                <h2 class="text-center">The Synap Team</h2>
            </div>
        </div>
        <div class="row margin-bottom-16">
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-push-2 margin-bottom-16">
                {{team-member name="James Gupta" role="Founder & CEO" email="james@synap.ac"
                imageUrl="img/james-small.jpg" twitter="gupta_james" linkedIn="jamesgupta"
                memberType="founder" bio="James is blah blah blah."}}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-md-push-2 margin-bottom-16">
                {{team-member name="Omair Vaiyani" role="Founder & CTO" email="omair@synap.ac"
                imageUrl="img/omair-small.jpg" twitter="omairvaiyani" linkedIn="omairvaiyani"
                memberType="founder" bio="Omair is blah blah blah."}}
            </div>
        </div>
        <hr>
        <div class="row margin-bottom-16">
            <div class="col-xs-12 col-sm-6 col-md-3 margin-bottom-16">
                {{team-member name="Stuart Clarke" role="Head of Operations" email="stuart@synap.ac"
                imageUrl="img/stuart-small.jpg" twitter="stuartclarkeuk" linkedIn="stuartclarkestrategy"
                memberType="director"}}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 margin-bottom-16">
                {{team-member name="Jason Gaved" role="Head of Technology" email="jason@synap.ac"
                imageUrl="img/jason-gaved.jpg" twitter="jasongaved" linkedIn="jasongaved"
                memberType="director"}}
            </div>
            <div class="col-xs-12 col-sm-6 col-md-3 margin-bottom-16">
                {{team-member name="Oscar Price" role="Creative Director" email="oscar@synap.ac"
                imageUrl="img/oscar-price.jpg" twitter="synap" linkedIn="oscar-price"
                memberType="director"}}
            </div>
        </div>
        <hr>
        <div class="row margin-bottom-16">
            <div class="col-xs-12 col-sm-6 col-md-3 margin-bottom-16">
                {{team-member name="Shaunna Gaved" role="Social Media Manager" email="shaunna@synap.ac"
                imageUrl="img/shaunna-gaved.jpg" twitter="shaunnagaved" linkedIn="shaunna-gaved"
                memberType="employee"}}
            </div>
        </div>
    </div>
</div>