<ol class="breadcrumb margin-right-16 margin-bottom-8">
    {{#unless selectedLevel1}}
        <li class="active">All Categories</li>
    {{else}}
        <li>
            <span class="linkify" {{action 'selectLevelInType' 'Back' null}}>
                <i class="fa fa-arrow-circle-o-left margin-right-8"></i>Back</span>
        </li>
        <li>
            <span class="linkify" {{action 'selectLevelInType' '1' selectedLevel1}}>All Categories</span>
        </li>
    {{/unless}}

    {{#if selectedLevel1}}
        {{#unless selectedLevel2}}
            <li class="active">{{selectedLevel1}}</li>
        {{else}}
            <li>
                <span class="linkify"
                    {{action 'selectLevelInType' '2' selectedLevel2}}
                        >{{selectedLevel1}}</span>
            </li>
        {{/unless}}
    {{/if}}

    {{#if selectedLevel2}}
        {{#unless selectedLevel3}}
            <li class="active">{{selectedLevel2}}</li>
        {{else}}
            <li>
                <span class="linkify"
                    {{action 'selectLevelInType' '3' selectedLevel3}}>{{selectedLevel2}}</span>
            </li>
        {{/unless}}
    {{/if}}


    {{#if selectedLevel3}}
        <li class="active">{{selectedLevel3}}</li>
    {{/if}}
</ol>