{{#unless isAdded}}
    <article class="col-sm-3 col-fix-right margin-top-8 margin-bottom-8">
        <div class="card professional-bank-category">
            {{#if levels.length}}
                <p class="inline-block linkify" {{action 'selectLevelInType' levelType title}}>
                    {{#tool-tipster title='View subcategories'}}
                        {{title}}
                    {{/tool-tipster}}
                </p>
            {{else}}
                <p class="inline-block">
                    {{title}}
                </p>
            {{/if}}
            <span class="inline-block text-center"
                {{action 'addLevelInType' this}}>
                {{#tool-tipster title='Add questions'}}
                    <i class="fa fa-plus-circle"></i>
                {{/tool-tipster}}
            </span>
        </div>
    </article>
{{/unless}}