<div class="mycqs-page-header index-page">
    <div class="container relative-container">
        <div style="max-width: 500px;" class="margin-bottom-16">

        <h1 class="margin-top-16">study smart, not hard.</h1>

        <h3>Synap knows what you should be studying and when, intelligently optimising your revision
            so you can learn more in less time.</h3>
        </div>
    </div>
</div>
<div class="guest-page-actions margin-bottom-16">
    <div class="container">
        <div class="row">
            <div class="col-sm-push-3 col-sm-6 create-column text-center margin-top-16">
                {{#link-to 'join' tagName='a' classNames='btn btn-info'}}
                    Get Started
                {{/link-to}}
            </div>
        </div>
    </div>
</div>


<div class="parallax-follower">
    <div class="container">
        <section class="row">
            <article class="col-sm-12 text-center margin-top-16">
                <button class="btn btn-primary" {{action 'indexLearnMoreScroll'}}
                        >Learn more <i class="fa fa-arrow-circle-down margin-left-8"></i></button>
            </article>
        </section>
        <h3 class="text-center" id="learn-more-flag">Features</h3>

        <div class="row">
            <div class="col-md-4 col-sm-4 text-center">
                <img src="img/create-features.png" class="margin-top-16" style="max-width: 100%;width:150px;"/>

                <h3>{{#link-to 'create'}}Create{{/link-to}}</h3>
                <h4>Write tests in the multiple-choice questions (MCQs) format</h4>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <img src="img/practice-features.png" class="margin-top-16" style="max-width: 100%;width:150px;"/>

                <h3>{{#link-to 'browse'}}Practice{{/link-to}}</h3>
                <h4>Take tests and monitor your progress over time</h4>
            </div>
            <div class="col-md-4 col-sm-4 text-center">
                <img src="img/share-features.png" class="margin-top-16" style="max-width: 100%;width:150px;"/>

                <h3>{{#link-to 'groups'}}Share{{/link-to}}</h3>
                <h4>Publish tests to the growing MyCQs Community or find tests created by others</h4>
            </div>
        </div>
        <hr>
        {{#if stats}}
            <h3 class="text-center">Growing Community</h3>

            <div class="row text-center">
                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{stats.numberOfUsers}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Users</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{stats.numberOfTests}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Tests</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{stats.numberOfQuestions}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Questions</h3>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-sm-3 col-xs-6">
                    <div class="row">
                        <div class="col-md-12">
                            <h2>{{stats.numberOfAttempts}}</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Attempts</h3>
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}
        <hr>
        <h3 class="text-center">Featured by</h3>

        <div class="row margin-top-16 margin-bottom-16 achievements-row">
            <div class="col-md-2 col-sm-4 col-xs-6 margin-bottom-16">
                <a href="http://www.yorkshireeveningpost.co.uk/news/the-great-war/university-of-leeds-students-aiming-to-get-top-marks-for-smartphone-app-1-5058922"
                   target="_blank">
                    <img src="img/yorkshire-evening-post-logo.png"/>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 margin-bottom-16">
                <a href="http://www.tablecrowd.com/blog/2014/06/startup-spotlight-james-gupta-mycqs/" target="_blank">
                    <img src="img/table-crowd-logo.png"/>
                </a>
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 margin-bottom-16">
                <a href="http://www.theguardian.com/technology/appsblog/2012/oct/26/best-ios-apps-me-books-collins-atlas"
                   target="_blank">
                    <img src="img/guardian-logo.png"/>
                </a>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 margin-bottom-16">
                <a href="http://www.jisc.ac.uk/student-innovation" target="_blank">
                    <img src="img/jisc-logo.png"/>
                </a>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 margin-bottom-16">
                <a href="http://kairossociety.co.uk/fellows/" target="_blank">
                    <img src="img/kairos-logo.png"/>
                </a>
            </div>

            <div class="col-md-2 col-sm-4 col-xs-6 margin-bottom-16">
                <a href="http://fote-conference.com/2014/09/24/fote14-pitchfest-finalist-mycqs/" target="_blank">
                    <img src="img/fote-logo.png"/>
                </a>
            </div>
        </div>
    </div>
</div>
