<video autoplay loop id="index-page-video">
    <source src="/assets/index-cover-video.mp4" type="video/mp4">
</video>

{{#if showFullAnimationVideo}}
    <div class="full-animation-video-container">
        <iframe width="960" height="540" src="https://www.youtube.com/embed/pia1tog0oiY"
                frameborder="0" allowfullscreen id="embeddedVideo"></iframe>
    </div>
{{/if}}

<div class="index-page-cover" id="join-beta-flag">
    <div class="dark-overlay"></div>

    <div class="play-video" {{action 'toggleAnimationVideoContainer'}}>
        <i class="fa fa-fw fa-play-circle-o icon margin-right-8"></i>
        <h4 class="play-title">See How</h4>
    </div>

    <div class="container text-center">
        <h1 class="margin-top-16">
            <strong>Learn more in less time. For free.</strong>
        </h1>
        {{#if betaUnlocked}}
            <button class="btn btn-danger btn-with-icon"
                {{action 'openModal' 'application/modal/register'}}>
                <span class="inline-block">GET STARTED</span>
            <span class="right-section inline-block">
                <i class="fa fa-arrow-right"></i>
            </span>
            </button>
        {{/if}}

    </div>
    <div class="guest-page-actions page-header-action-container">
        {{#if betaUnlocked}}
            <div class="input-group">
                {{main-search
                parentController=this
                hideSearchIcon=true
                searchTerm=navbarSearchTerm
                searchPlaceholder="Search for revision material"
                }}
                <span class="input-group-addon search-icon">
                    <i class="fa fa-search"></i>
                </span>
            </div>
        {{else}}
            <h3 class="title-header">Join the Synap Beta while you can!</h3>

            <div class="input-group margin-top-8">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                    <form action="//synap.us11.list-manage.com/subscribe/post?u=51ca31008b1ce9e8b014cb7fd&amp;id=847d861af1"
                          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
                          target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <div class="mc-field-group">
                                {{input type="email" class="form required email" value=synapBetaEmail
                                placeholder="Enter your email and we'll be in touch" id="mce-EMAIL"
                                name="EMAIL" action="subscribeEmailForBeta"}}
                            </div>
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none"></div>
                            </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;">
                                <input type="text" name="b_51ca31008b1ce9e8b014cb7fd_847d861af1" tabindex="-1" value="">
                            </div>
                            <div class="clear">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                                       class="hidden">
                            </div>
                            <span class="input-group-addon search-icon" {{action "subscribeEmailForBeta"}}>
                                <i class="fa fa-envelope fa-fw"></i>
                            </span>
                        </div>
                    </form>
                </div>

                <!--End mc_embed_signup-->
            </div>
        {{/if}}
    </div>
</div>
{{!--
<div class="guest-page-actions onboarding-firstSection margin-bottom-16">
   <div class="container">
       <section class="row">

           <article class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
               <div class="form-control-wrapper onboarding-floatingInput">
                   {{input type="text" value=onboardingFirstInput id="onboarding-firstInput"
                   classNameBindings=":form-control onboardingFirstInput.length::empty"
                   action="onboardingFirstCTA"}}
                   <div class="floating-label">I am studying</div>
                   <span class="material-input"></span>
               </div>
               <div class="onboarding-studyExamples margin-top-8 text-center">
                   {{#each onboardingStudyExamples as |example|}}
                       <span {{action 'onboardingFillFirstInput' example}}>{{example}}</span>
                   {{/each}}
                   <small class="inline-block">or type just about anything else</small>
               </div>
           </article>
       </section>
       <section class="row">
           <article class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
               <button class='btn btn-info' id="onboarding-firstCTA" {{action "onboardingFirstCTA"}}>
                   Optimize my learning
               </button>
           </article>
        </section>
    </div>
</div>
--}}
<div class="index-page-main">
    <div class="container-fluid">
        <div class="container">
            <section class="row">
                <article class="col-sm-12 text-center margin-top-16">
                    <h4 class="inline-block margin-right-16">Want to find out how Synap will improve your learning?</h4>
                    <button class="btn btn-ghost btn-with-icon" {{action 'indexLearnMoreScroll'}}>
                        <span class="inline-block">LEARN MORE</span>
                        <span class="right-section inline-block">
                            <i class="fa fa-arrow-circle-down"></i>
                        </span>
                    </button>
                </article>
            </section>
        </div>
        <div class="features-container margin-top-16">
            <hr class="no-margin">
            <div class="container">
                <section class="row">
                    <article class="col-xs-12 col-sm-6">
                        <br>

                        <h3 class="text-center" id="learn-more-flag">Let Us Handle Your Learning</h3>
                        <hr class="mini-hr">
                        <br>
                        <br>
                        <h4 class="text-center">Synap intelligently tracks what you study,
                            generating revision material that you need, when you need it.</h4>
                        <br>
                        <br>
                        <h4 class="text-center">
                            {{#link-to 'about.howItWorks'}}
                                <strong>See How it Works!</strong>
                            {{/link-to}}
                        </h4>
                    </article>
                    <article class="col-xs-12 col-sm-6">
                        <img src="img/iphone-mockup-home.png"/>
                    </article>
                </section>
            </div>
        </div>
        <section class="row stats-row" id="stats-row">
            <div class="icon-overlay"></div>
            <div class="container">
                <h3 class="text-center">Growing Community</h3>
                <hr class="mini-hr">
                <div class="row text-center">
                    <div class="col-sm-3 col-xs-6 margin-bottom-16">
                        <i class="stat-icon fa fa-fw fa-users inline-block"></i>

                        <div class="stat-right inline-block">
                            <p class="stat-number">
                                {{#if showStats}}
                                    {{count-up startVal=0 endVal=stats.numberOfUsers duration=2 decimals=0 useEasing=true
                                    useGrouping=true separator=',' decimal='.'}}
                                {{/if}}
                            </p>

                            <p class="stat-title">Users</p>
                        </div>
                    </div>

                    <div class="col-sm-3 col-xs-6 stats-column margin-bottom-16">
                        <i class="stat-icon fa fa-fw fa-th-list inline-block"></i>

                        <div class="stat-right inline-block">
                            <p class="stat-number">
                                {{#if showStats}}
                                    {{count-up startVal=0 endVal=stats.numberOfTests duration=2 decimals=0 useEasing=true
                                    useGrouping=true separator=',' decimal='.'}}
                                {{/if}}
                            </p>

                            <p class="stat-title">Tests</p>
                        </div>
                    </div>

                    <div class="col-sm-3 col-xs-6">
                        <i class="stat-icon fa fa-fw fa-question-circle inline-block"></i>

                        <div class="stat-right inline-block">
                            <p class="stat-number">
                                {{#if showStats}}
                                    {{count-up startVal=0 endVal=stats.numberOfQuestions duration=2 decimals=0 useEasing=true
                                    useGrouping=true separator=',' decimal='.'}}
                                {{/if}}
                            </p>

                            <p class="stat-title">Questions</p>
                        </div>
                    </div>

                    <div class="col-sm-3 col-xs-6">
                        <i class="stat-icon fa fa-fw fa-play inline-block"></i>

                        <div class="stat-right inline-block">
                            <p class="stat-number">
                                {{#if showStats}}
                                    {{count-up startVal=0 endVal=stats.numberOfAttempts duration=2 decimals=0 useEasing=true
                                    useGrouping=true separator=',' decimal='.'}}
                                {{/if}}
                            </p>

                            <p class="stat-title">Attempts</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="row featured-by-row">
            <div class="container">

                <h3 class="text-center">Featured by</h3>
                <hr class="mini-hr">

                <div class="row margin-top-16 margin-bottom-16 achievements-row">
                    <div class="col-sm-4 col-xs-6 achievement-cell">
                        <a href="http://uk.businessinsider.com/synaps-app-students-edtech-oxford-lse-1st-quiz-exams-2015-10"
                           target="_blank">
                            <img src="img/bi-logo.png"/>
                        </a>
                    </div>
                    <div class="col-sm-4 col-xs-6 achievement-cell">
                        <a href="http://thetab.com/uk/leeds/2015/10/29/leeds-medical-student-launches-app-18802?utm_source=local&utm_medium=facebook&utm_campaign=pages"
                           target="_blank">
                            <img src="img/tab-logo.png"/>
                        </a>
                    </div>
                    <div class="col-sm-4 col-xs-6 achievement-cell">
                        <a href="http://www.theguardian.com/simply-business-partner-zone/2015/oct/07/become-graduate-entrepreneur-guide-startups"
                           target="_blank">
                            <img src="img/guardian-logo.png"/>
                        </a>
                    </div>

                    <div class="col-sm-4 col-xs-6 achievement-cell">
                        <a href="http://www.huffingtonpost.co.uk/james-gupta/the-death-of-the-universi_b_8173492.html" target="_blank">
                            <img src="img/hp-logo.png"/>
                        </a>
                    </div>

                    <div class="col-sm-4 col-xs-6 achievement-cell">
                        <a href="https://www.crowdcube.com/investment/synap-19333" target="_blank">
                            <img src="img/crowdcube-logo.png"/>
                        </a>
                    </div>

                    <div class="col-sm-4 col-xs-6 achievement-cell">
                        <a href="http://www.thebusinessdesk.com/yorkshire/news/725346-edtech-entrepreneurs-launch-180-000-crowdfunding-campaign.html"
                           target="_blank">
                            <img src="img/business-desk-logo.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="row">
            <article class="col-xs-12 text-center">
                <button class="btn btn-ghost btn-with-icon" {{action 'indexBackToTopScroll'}}>
                    <span class="inline-block">Join the Synap beta today!</span>
                        <span class="right-section inline-block">
                            <i class="fa fa-arrow-circle-up"></i>
                        </span>
                </button>
            </article>
        </section>

    </div>
</div>
