<video autoplay loop id="index-page-video">
    <source src="https://s3-eu-west-1.amazonaws.com/synap-dev-assets/assets/index-cover-video.mp4" type="video/mp4">
</video>
<div class="index-page-cover">
    <div class="dark-overlay"></div>
    <div class="container text-center">
        <h1 class="margin-top-16">Studying optimised, just for you.</h1>
        <button class="btn btn-danger btn-with-icon"
            {{action 'openModal' 'application/modal/register'}}>
            <span class="inline-block">GET STARTED</span>
            <span class="right-section inline-block">
                <i class="fa fa-arrow-right"></i>
            </span>
        </button>
    </div>
    <div class="guest-page-actions">
        <div class="input-group">
            {{main-search
            parentController=this
            hideSearchIcon=true
            searchTerm=navbarSearchTerm
            searchPlaceholder="Search for revision material"
            }}
            <span class="input-group-addon search-icon">
                <i class="fa fa-search"></i>
            </span>
        </div>
    </div>
</div>
{{!--
<div class="guest-page-actions onboarding-firstSection margin-bottom-16">
   <div class="container">
       <section class="row">

           <article class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
               <div class="form-control-wrapper onboarding-floatingInput">
                   {{input type="text" value=onboardingFirstInput id="onboarding-firstInput"
                   classNameBindings=":form-control onboardingFirstInput.length::empty"
                   action="onboardingFirstCTA"}}
                   <div class="floating-label">I am studying</div>
                   <span class="material-input"></span>
               </div>
               <div class="onboarding-studyExamples margin-top-8 text-center">
                   {{#each onboardingStudyExamples as |example|}}
                       <span {{action 'onboardingFillFirstInput' example}}>{{example}}</span>
                   {{/each}}
                   <small class="inline-block">or type just about anything else</small>
               </div>
           </article>
       </section>
       <section class="row">
           <article class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
               <button class='btn btn-info' id="onboarding-firstCTA" {{action "onboardingFirstCTA"}}>
                   Optimize my learning
               </button>
           </article>
        </section>
    </div>
</div>
--}}
<div class="index-page-main">
    <div class="container-fluid">
        <div class="container">
            <section class="row">
                <article class="col-sm-12 text-center margin-top-16">
                    <h4 class="inline-block margin-right-16">Want to find out how Synap will improve your learning?</h4>
                    <button class="btn btn-ghost btn-with-icon" {{action 'indexLearnMoreScroll'}}>
                        <span class="inline-block">LEARN MORE</span>
                    <span class="right-section inline-block">
                        <i class="fa fa-arrow-circle-down"></i>
                    </span>
                    </button>
                </article>
            </section>
        </div>
        <div class="features-container margin-top-16">
            <hr class="no-margin">
            <div class="container">

                <h3 class="text-center" id="learn-more-flag">Features</h3>
                <hr class="mini-hr">

                <div class="row features-row">
                    <div class="col-md-4 col-sm-4 text-center">
                        <img src="img/create-features.png" class="margin-top-16" style="max-width: 100%;width:150px;"/>

                        <h3>Create</h3>
                        <h4 class="description">Write tests in the multiple-choice questions (MCQs) format</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <img src="img/practice-features.png" class="margin-top-16"
                             style="max-width: 100%;width:150px;"/>

                        <h3>Practice</h3>
                        <h4 class="description">Take tests and monitor your progress over time</h4>
                    </div>
                    <div class="col-md-4 col-sm-4 text-center">
                        <img src="img/share-features.png" class="margin-top-16" style="max-width: 100%;width:150px;"/>

                        <h3>Share</h3>
                        <h4 class="description">Publish tests to the growing MyCQs Community or find tests created by
                            others</h4>
                    </div>
                </div>
            </div>
        </div>
        <section class="row stats-row">
            <div class="icon-overlay"></div>
            <div class="container">
                <h3 class="text-center">Growing Community</h3>
                <hr class="mini-hr">
                <div class="row text-center">
                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <i class="stat-icon fa fa-fw fa-users inline-block"></i>

                        <div class="stat-right inline-block">
                            <p class="stat-number">{{number-wizard stats.numberOfUsers}}</p>

                            <p class="stat-title">Users</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6 stats-column">
                        <i class="stat-icon fa fa-fw fa-th-list inline-block"></i>

                        <div class="stat-right inline-block">
                            <p class="stat-number">{{number-wizard stats.numberOfTests}}</p>

                            <p class="stat-title">Tests</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <i class="stat-icon fa fa-fw fa-question-circle inline-block"></i>

                        <div class="stat-right inline-block">
                            <p class="stat-number">{{number-wizard stats.numberOfQuestions}}</p>

                            <p class="stat-title">Questions</p>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-3 col-xs-6">
                        <i class="stat-icon fa fa-fw fa-play inline-block"></i>

                        <div class="stat-right inline-block">
                            <p class="stat-number">{{number-wizard stats.numberOfAttempts}}</p>

                            <p class="stat-title">Attempts</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="row featured-by-row">
            <div class="container">

                <h3 class="text-center">Featured by</h3>
                <hr class="mini-hr">

                <div class="row margin-top-16 margin-bottom-16 achievements-row">
                    <div class="col-sm-4 col-xs-6 achievement-cell">
                        <a href="http://www.yorkshireeveningpost.co.uk/news/the-great-war/university-of-leeds-students-aiming-to-get-top-marks-for-smartphone-app-1-5058922"
                           target="_blank">
                            <img src="img/yorkshire-evening-post-logo.png"/>
                        </a>
                    </div>
                    <div class="col-sm-4 col-xs-6 achievement-cell">
                        <a href="http://www.tablecrowd.com/blog/2014/06/startup-spotlight-james-gupta-mycqs/"
                           target="_blank">
                            <img src="img/table-crowd-logo.png"/>
                        </a>
                    </div>
                    <div class="col-sm-4 col-xs-6 achievement-cell">
                        <a href="http://www.theguardian.com/technology/appsblog/2012/oct/26/best-ios-apps-me-books-collins-atlas"
                           target="_blank">
                            <img src="img/guardian-logo.png"/>
                        </a>
                    </div>

                    <div class="col-sm-4 col-xs-6 achievement-cell">
                        <a href="http://www.jisc.ac.uk/student-innovation" target="_blank">
                            <img src="img/jisc-logo.png"/>
                        </a>
                    </div>

                    <div class="col-sm-4 col-xs-6 achievement-cell">
                        <a href="http://kairossociety.co.uk/fellows/" target="_blank">
                            <img src="img/kairos-logo.png"/>
                        </a>
                    </div>

                    <div class="col-sm-4 col-xs-6 achievement-cell">
                        <a href="http://fote-conference.com/2014/09/24/fote14-pitchfest-finalist-mycqs/"
                           target="_blank">
                            <img src="img/fote-logo.png"/>
                        </a>
                    </div>
                </div>
            </div>
        </section>

    </div>
</div>
