<section class="row margin-bottom-16">
    <article class="col-sm-9">
        {{outlet}}
    </article>

    {{!-- Right Side column --}}
    <article class="col-sm-3 col-fix-right">

        <div class="tiles-container">
            {{#if showSrLatestTestBox}}
                {{user-tile tile=currentUser.srLatestTestTile class=srLatestTestTile.type parentController=this}}
            {{/if}}
        </div>

        <div class="card">
            {{profile-picture user=currentUser}}
            <div class="inline-top margin-top-4">
                {{#link-to 'user' currentUser.slug}}
                    <p class="margin-bottom-8"><strong>{{currentUser.name}}</strong></p>
                {{/link-to}}
                <p>{{currentUser.level.title}}</p>
            </div>
            {{level-progress points=currentUser.points level=currentUser.level}}
        </div>
    </article>

</section>