<div class="row">
    <div class="col-md-3 col-md-push-9 col-fix-right">
        <section class="row">
            <article class="col-md-12">
                <div class="card">
                    {{profile-picture user=currentUser}}
                    <div class="inline-top">
                        {{#link-to 'user' currentUser.slug}}
                            <strong><p class="margin-bottom-8">{{currentUser.name}}</p></strong>
                        {{/link-to}}
                        <p>{{currentUser.level.title}}</p>
                    </div>
                    {{level-progress points=currentUser.points level=currentUser.level}}
                </div>
            </article>
        </section>
    </div>
    <div class="col-md-9 col-md-pull-3">

        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation">
                    <a href="#overview" aria-controls="overview" role="tab" data-toggle="tab">Overview</a>
                </li>
                <li role="presentation">
                    <a href="#activities" aria-controls="activities" role="tab" data-toggle="tab">Activities</a>
                </li>
                <li role="presentation" class="active">
                    <a href="#my-tests" aria-controls="my-tests" role="tab" data-toggle="tab">Tests</a>
                </li>
                <li role="presentation">
                    <a href="#my-progress" aria-controls="my-progress" role="tab" data-toggle="tab">Progress</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="overview">Overview tiles will go here</div>
                <div role="tabpanel" class="tab-pane" id="activities">Activity list will go here</div>
                <div role="tabpanel" class="tab-pane active" id="my-tests">{{partial 'index/user/my-tests'}}</div>
                <div role="tabpanel" class="tab-pane" id="my-progress">{{partial 'index/user/my-progress'}}</div>
            </div>

        </div>
    </div>
</div>
<div class="margin-bottom-16"></div>