<div class="row">
    <div class="col-md-3 col-md-push-9 col-fix-right">
        <section class="row">
            <article class="col-md-12">
                <div class="card">
                    {{profile-picture user=currentUser}}
                    <div class="inline-top">
                        {{#link-to 'user' currentUser.slug}}
                            <strong><p class="margin-bottom-8">{{currentUser.name}}</p></strong>
                        {{/link-to}}
                        <p>{{currentUser.level.title}}</p>
                    </div>
                    {{level-progress points=currentUser.points level=currentUser.level}}
                </div>
            </article>
        </section>
    </div>
    <div class="col-md-9 col-md-pull-3">

        <div role="tabpanel">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                {{#each navigationTabs as |tab|}}
                    <li role="presentation" {{bind-attr class="tab.active"}}>
                        <a href="javascript:void(0)" role="tab" data-toggle="tab" {{action "switchTab" tab}}>
                            {{tab.title}}
                        </a>
                    </li>
                {{/each}}
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                {{#each navigationTabs as |tab|}}
                    <div role="tabpanel" {{bind-attr class=":tab-pane tab.active"}}>
                        {{partial tab.partial}}
                    </div>
                {{/each}}
            </div>

        </div>
    </div>
</div>
<div class="margin-bottom-16"></div>