<div class="row">
    <div class="col-md-3">
        <section class="row">
            <article class="col-md-12">
                <div class="card home-overview">
                    {{#link-to 'user' currentUser.slug}}{{render 'profile-image' currentUser}}{{/link-to}}
                    {{#link-to 'user' currentUser.slug}}<h4 class="name">{{currentUser.name}}</h4>{{/link-to}}
                    <hr>
                    <h4>Overview</h4>

                    <p>Tests created:
                        <small class="pull-right">{{currentUser.numberOfTests}}</small>
                    </p>
                    <p>Questions created:
                        <small class="pull-right">{{currentUser.numberOfQuestions}}</small>
                    </p>
                    <p>Test attempts:
                        <small class="pull-right">{{currentUser.numberOfAttempts}}</small>
                    </p>
                    <p>Average score:
                        <small class="pull-right">{{currentUser.averageScore}}%</small>
                    </p>
                    <p>First time attempts:
                        <small class="pull-right">{{currentUser.uniqueNumberOfAttempts}}</small>
                    </p>
                    <p class="margin-bottom-16">First time average:
                        <small class="pull-right">{{currentUser.uniqueAverageScore}}%</small>
                    </p>

                    <p><strong>Community stats on your tests</strong></p>

                    <p>Test attempts:
                        <small class="pull-right">{{currentUser.communityNumberOfAttempts}}</small>
                    </p>
                    <p>Average score:
                        <small class="pull-right">{{currentUser.communityAverageScore}}%</small>
                    </p>

                    <p>First time attempts:
                        <small class="pull-right">{{currentUser.communityUniqueNumberOfAttempts}}</small>
                    </p>
                    <p>First time average:
                        <small class="pull-right">{{currentUser.communityUniqueAverageScore}}%</small>
                    </p>
                </div>
            </article>
        </section>
        {{!--
        <section class="row">
            <article class="col-md-12">
                <div class="card margin-top-16">
                    <h4>Spaced Repetition Service</h4>

                    {{#if currentUser.privateData.spacedRepetitionActivated}}
                        {{#link-to 'dashboard.srs' tagName='button' class='form-control btn margin-bottom-16'}}
                            Open SRS dashboard
                        {{/link-to}}

                        <h5>Overview:</h5>

                        {{#unless currentUser.latestSRSAttempt.isProcessed}}
                            <p>Your spaced repetition test is ready to take!</p>

                            <p>We have prepared {{currentUser.latestSRSAttempt.questions.length}} questions
                                for you. {{#link-to 'test' currentUser.latestSRSAttempt}}Take now!{{/link-to}}</p>
                        {{else}}
                            <p>You scored {{currentUser.latestSRSAttempt.score}}% for the
                                {{currentUser.latestSRSAttempt.questions.length}} questions we
                                sent to you earlier.</p>

                            <p>
                                {{#link-to 'result' currentUser.latestSRSAttempt}}See your
                                    answers{{/link-to}} or
                                {{#link-to 'test' currentUser.latestSRSAttempt.id}}Repeat the test{{/link-to}}.</p>
                            {{from-now time=currentUser.latestSRSAttempt.updatedAt showIcon=true}}
                        {{/unless}}
                        <hr>

                        {{from-now time=currentUser.spacedRepetitionNextDue showIcon=true prefix="Next due "}}

                        <button class="btn btn-skype form-control margin-top-16"
                            {{action 'openModal' 'application/modal/srs-sales' 'application.stripe'}}>
                            Learn more
                        </button>
                    {{else}}
                        <button class="btn btn-skype form-control"
                            {{action 'openModal' 'application/modal/srs-sales' 'application.stripe'}}>
                            Learn more
                        </button>
                    {{/if}}
                </div>
            </article>
        </section>
    --}}
    </div>
    <div class="col-md-9 col-fix-right">

        <div class="row">
            <div class="col-md-12">
                <div class="card home-navigation">
                    <button {{bind-attr class='homeIsActivities:current'}}
                        {{action 'changeHomeNavigation' 'activities'}}>Activities
                    </button>
                    <button {{bind-attr class='homeIsTests:current'}}
                        {{action 'changeHomeNavigation' 'tests'}}>My Tests
                    </button>
                    <button {{bind-attr class='homeIsAttempts:current'}}
                        {{action 'changeHomeNavigation' 'attempts'}}>Attempts
                    </button>
                    {{#if homeIsTests}}
                        <!-- Order selection -->
                        <div class="order-tests btn-group pull-right">
                            <button type="button" class="btn btn-default dropdown-toggle text-capitalize"
                                    data-toggle="dropdown">
                                {{orderTests}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="javascript:void(0)" {{action 'changeOrderOfTests' 'title'}}>Title</a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)" {{action 'changeOrderOfTests' 'recent'}}>Recent</a>
                                </li>
                                <li><a href="javascript:void(0)" {{action 'changeOrderOfTests' 'categorical'}}>Categorical</a>
                                </li>
                            </ul>
                        </div>
                    {{/if}}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{#if homeIsActivities}}
                            {{#each userAction in followingActions}}
                                {{partial "user/item/action-card"}}
                            {{/each}}
                        {{/if}}
                        {{#if homeIsTests}}
                            {{#if testsAreOrderedByTitle}}
                                {{#each testsOrderedByTitle itemController='user/item/test'}}
                                    {{partial "user/item/test-card"}}
                                {{/each}}
                            {{/if}}
                            {{#if testsAreOrderedByDate}}
                                {{#each testsOrderedByDate itemController='user/item/test'}}
                                    {{partial "user/item/test-card"}}
                                {{/each}}
                            {{/if}}
                            {{#if testsAreOrderedByCategory}}
                                {{#each testsOrderedByCategory}}
                                    <div class="card margin-top-16"><p class="lead">{{name}} ({{tests.length}})</p>
                                    </div>
                                    {{#each tests itemController='user/item/test'}}
                                        {{partial "user/item/test-card"}}
                                    {{/each}}
                                {{/each}}
                            {{/if}}
                        {{/if}}
                        {{#if homeIsAttempts}}
                            {{#each attempt in currentUser.attempts}}
                                {{partial "user/item/attempt-card"}}
                            {{/each}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="margin-bottom-16"></div>