<section class="row margin-top-16 text-center">
    <article class="col-xs-6 col-sm-3">
        <div class="panel panel-primary">
            <div class="panel-body">
                {{currentUser.createdTests.length}}
            </div>
            <div class="panel-footer">
                <h3 class="panel-title">Tests Created</h3>
            </div>
        </div>
    </article>
    <article class="col-xs-6 col-sm-3 col-fix-right">
        <div class="panel panel-primary">
            <div class="panel-body">
                {{currentUser.testAttempts.length}}
            </div>
            <div class="panel-footer">
                <h3 class="panel-title">Tests Taken</h3>
            </div>
        </div>
    </article>
    <article class="col-xs-6 col-sm-3 col-fix-right">
        <div class="panel panel-primary">
            <div class="panel-body">
                45%
            </div>
            <div class="panel-footer">
                <h3 class="panel-title">Average Score</h3>
            </div>
        </div>
    </article>
    <article class="col-xs-6 col-sm-3 col-fix-right">
        <div class="panel panel-primary">
            <div class="panel-body">
                Very Good
            </div>
            <div class="panel-footer">
                <h3 class="panel-title">Something Else</h3>
            </div>
        </div>
    </article>
</section>
<section class="row margin-top-16">
    <article class="col-xs-10 col-xs-push-1 col-fix-middle" id="recentAttemptsChartHolder">
        {{#if showRecentAttemptsChart}}
            {{#if recentAttemptsChartData}}
                {{ember-chart type='Line' data=recentAttemptsChartData width=recentAttemptsChartWidth
                options=recentAttemptChartOptions height=300}}
                <ul class="progress-chart-legends">
                    <li>Average Daily Score</li>
                </ul>
            {{else}}
                <h5>Preparing Progress Graph</h5>
            {{/if}}
        {{/if}}
    </article>
</section>
<section class="row">
    <article class="col-md-3">
        <div class="well mini-well margin-top-16">
            <h4 class="no-margin">ATTEMPTS</h4>
            {{#each myProgressListTypes as |listType|}}
                <div class="radio radio-primary">
                    <label>
                        {{radio-button name='myProgressListSelection' value=listType checked=myProgressListType}}
                        <span class="circle"></span><span class="check"></span>
                        {{listType.label}}
                    </label>
                </div>
            {{/each}}
        </div>
    </article>
    <article class="col-md-9 col-fix-right">
        {{#each myProgressList as |attempt|}}
            {{test-card test=attempt.test parentController=this}}
        {{/each}}
    </article>
</section>