<section class="row margin-bottom-16">
    <article class="col-xs-12">
        {{#if model}}
            <div class="card">
                <section class="row">
                    <article class="col-xs-5">
                        {{profile-picture user=model height=80 width=80 class="inline-top margin-right-8"}}
                        <div class="inline-top">
                            <h3 class="no-margin">{{model.name}}</h3>

                            <p>{{model.level.title}}</p>
                            {{level-progress points=model.points level=model.level}}
                        </div>
                    </article>

                    <article class="col-xs-7">
                        <div class="overview-stat-container inline-block">
                            <h4 class="stat">
                                {{model.numberOfTestsCreated}}
                            </h4>
                            <h4 class="small">
                                Quizzes Created
                            </h4>
                        </div>

                        <div class="vertical-separator"></div>

                        <div class="overview-stat-container inline-block">
                            <h4 class="stat">
                                {{model.numberOfAttempts}}
                            </h4>
                            <h4 class="small">
                                Quizzes Taken
                            </h4>
                        </div>

                        <div class="vertical-separator"></div>

                        <div class="overview-stat-container inline-block">
                            <h4 class="stat">
                                {{model.numberOfBadgesUnlocked}}
                            </h4>
                            <h4 class="small">
                                Badges Unlocked
                            </h4>
                        </div>

                        <div class="vertical-separator"></div>

                        <div class="overview-stat-container inline-block">
                            <h4 class="stat">
                                {{model.numberOfFollowers}}
                            </h4>
                            <h4 class="small">
                                Followers
                            </h4>
                        </div>
                    </article>
                </section>
            </div>
        {{else}}
            <br>
            <br>
            <br>
            <p class="text-center">
                Hmm... we don't have a user with that name. Please check your link and try again!
            </p>
        {{/if}}
    </article>
</section>

{{#if model}}
    <section class="row">

        <article class="col-xs-12 col-sm-8">
            {{partial 'index/user/my-tests'}}
        </article>

        <article class="col-xs-12 col-sm-4 col-fix-right">
            <div class="panel panel-default card">

                <div class="panel-heading">
                    <h4 class="no-margin">
                        Achievements
                    </h4>
                </div>
                <div class="panel-body">
                    {{#each model.badgeProgressions as |badgeProgression|}}
                        {{synap-badge badgeProgression=badgeProgression}}
                    {{/each}}
                </div>

            </div>
        </article>


        <article class="col-xs-12 col-sm-4 col-fix-right">
            <div class="panel panel-default card">

                <div class="panel-heading">
                    <h4 class="no-margin">
                        Friends
                    </h4>
                </div>

                <div class="panel-body friends-list">
                    <ul class="nav nav-tabs margin-bottom-16 no-background">
                        <li {{bind-attr class="friendsShouldShowFollowers:active"}}
                            {{action "switchTabInFriendsList" "followers"}}>
                            <a href="javascript:void(0)"
                                {{bind-attr class="friendsShouldShowFollowers:active"}}>
                                Followers
                            </a>
                        </li>

                        <li {{bind-attr class="friendsShouldShowFollowing:active"}}
                            {{action "switchTabInFriendsList" "following"}}>
                            <a href="javascript:void(0)"
                                {{bind-attr class="friendsShouldShowFollowing:active"}}>
                                Following
                            </a>
                        </li>

                        <li {{bind-attr class="friendsShouldShowSearch:active"}}
                            {{action "switchTabInFriendsList" "search"}}>
                            <a href="javascript:void(0)"
                                {{bind-attr class="friendsShouldShowSearch:active"}}>
                                Find
                            </a>
                        </li>
                    </ul>

                    {{#if friendsShouldShowFollowers}}

                        {{#each model.followers as |follower|}}
                            {{profile-picture user=follower height=50 width=50 border=0
                            class="inline-top margin-right-8 margin-bottom-12"}}
                        {{/each}}

                    {{/if}}

                    {{#if friendsShouldShowFollowing}}

                        {{#each model.following as |following|}}
                            {{profile-picture user=following height=50 width=50 border=0
                            class="inline-top margin-right-8 margin-bottom-12"}}
                        {{/each}}

                    {{/if}}

                    {{#if friendsShouldShowSearch}}

                        <p>Search Function Not Built Yet</p>

                    {{/if}}
                </div>

            </div>
        </article>


    </section>
{{/if}}

