<li class="activity-notifications dropdown">
    <a data-toggle="dropdown">
        {{#if currentUser.totalUnseenNotifications}}
            <span class="badge notification-counter pull-right">{{currentUser.totalUnseenNotifications}}</span>
        {{/if}}
        <span class="fa fa-fw fa-bell"></span>
    </a>
    <div class="activity-notifications-dropdown dropdown-menu" role="menu">
        <div class="top-controls"></div>
        <hr class="full-hr"/>
        <div class="notifications-container">
            {{#each currentUser.notifications as |notification|}}
                {{activity-notification activity=notification parentController=this}}
                <hr class="full-hr"/>
            {{/each}}
            {{#unless currentUser.notifications.length}}
                <p class="no-message">You have no messages.</p>
            {{/unless}}
        </div>
    </div>
</li>

{{#link-to 'index.user' currentUser.slug  tagName='li'}}
    {{#link-to 'index.user' currentUser.slug tagName='a' classNames='navbar-right-adjust'}}
        {{profile-picture user=currentUser height=30 width=30 doNotLink=true}}
        <span class="inline-block">{{currentUser.firstName}}</span>
    {{/link-to}}
{{/link-to}}
<li>
    <a id="accountDropdown"
       data-toggle="dropdown"><span class="caret"></span></a>
    <ul class="account-dropdown dropdown-menu" role="menu" aria-labelledby="accountDropdown">
        <li role="presentation">
            {{#link-to 'settings.index' role="menuitem" tabindex="-1"}}
                Settings
            {{/link-to}}
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="http://support.synap.ac" target="_blank">
                Help
            </a>
        </li>
        <li role="presentation"><a role="menuitem" tabindex="-1"
            {{action 'logout'}}>Logout</a>
        </li>
    </ul>
</li>