{{!--
<section class="row">
    <article class="col-xs-12">
        <div class="card margin-top-16">
            {{input type="text" class="form-control floating-label" placeholder="Filter tests" value=myTestsListFilter}}

            {{#if activeCategories.length}}
                <ul class="tags">
                    <div class="margin-top-8">
                        <h5 class="small">CATEGORIES</h5>
                    </div>
                    {{#each activeCategories as |category|}}
                        <li class="tag category" {{action 'toggleCategoryFilter' category}}>{{category.name}}</li>
                    {{/each}}
                </ul>
            {{/if}}
            {{#if activeTags.length}}
                <ul class="tags">

                    <div class="margin-top-8">
                        <h5 class="small">TAGS</h5>
                    </div>
                    {{#each activeTags as |tag|}}
                        <li class="tag" {{action 'toggleTagFilter' tag}}>{{tag}}</li>
                    {{/each}}
                </ul>
            {{/if}}

            {{#each myTestsListTypes as |listType|}}
                <div class="radio radio-primary">
                    <label>
                        {{radio-button name='myTestsListSelection' value=listType checked=myTestsListType}}
                        <span class="circle"></span><span class="check"></span>
                        {{listType.label}}
                    </label>
                </div>
            {{/each}}
        </div>
    </article>
</section>
--}}
<section class="row">
    <article class="col-xs-3 col-sm-4">
        <h5>{{myTestsList.length}} {{pluralize-word 'test' myTestsList.length}}</h5>
    </article>
    <article class="col-xs-3 col-sm-4 col-fix-middle text-right">
        <label for="my-tests-list-order" class="margin-top-8">Sort by</label>
    </article>
    <article class="col-xs-6 col-sm-4 col-fix-right pull-right">
        {{view 'select' class="form-control pull-right" content=listOrders value=listOrder
        optionLabelPath='content.label' optionValuePath='content' id="my-tests-list-order"}}
    </article>
</section>

{{#each myTestsList as |test|}}
    {{test-card test=test parentController=this}}
{{/each}}
