<nav class="navbar navbar-main" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-navbar-collapsing">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index' tagName='a' classNames='navbar-brand navbar-brand-adjust'}}
                {{#if loadingItems}}
                    <div class="logo-spinner"></div>
                {{else}}
                    <img src="img/mycqs-icon-256.png" height="30px" class="logo-icon"/>
                {{/if}}
                <!--<img src="img/logo-text.png" height="30px" class="logo-text"/>-->
            {{/link-to}}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapsing">
            <ul class="nav navbar-nav">
                {{#link-to 'index' tagName='li'}}{{#link-to 'index' tagName='a'}}Home{{/link-to}}{{/link-to}}
                {{#link-to 'browse' tagName='li'}}{{#link-to 'browse' tagName='a'}}Browse{{/link-to}}{{/link-to}}
                {{#link-to 'create' tagName='li'}}{{#link-to 'create' tagName='a'}}Create{{/link-to}}{{/link-to}}
            </ul>
            {{#if currentUser}}
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-messages">
                        <a id="navbar-messages-dropdown" data-toggle="dropdown">
                            {{#if currentUser.messages.length}}
                                <span class="badge pull-right">{{currentUser.messages.length}}</span>
                            {{/if}}
                            <span class="glyphicon glyphicon-envelope"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="navbar-messages-dropdown">
                            {{#each message in currentUser.messages}}
                                <li role="presentation">
                                    <a role="menuitem">{{message.message}}</a>
                                </li>
                            {{/each}}
                            {{#unless currentUser.messages.length}}
                                <li role="presentation">
                                    <a disabled="disabled">You have no messages.</a>
                                </li>
                            {{/unless}}
                        </ul>
                    </li>
                    <li>
                        {{#link-to 'user' currentUser.slug tagName='a' classNames='navbar-right-adjust'}}
                            <img {{bind-attr src=currentUser.profileImageURL}} />

                            <div>{{currentUser.firstName}}</div>
                        {{/link-to}}
                    </li>
                    <li>
                        <a id="accountDropdown"
                           data-toggle="dropdown"><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="accountDropdown">
                            <li role="presentation"><a role="menuitem" tabindex="-1"
                                {{action logout}}>Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            {{else}}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href='' {{action 'openModal' 'application/modal/login-or-register' 'application'}}
                                >Log in | Sign up</a>
                    </li>
                </ul>
            {{/if}}
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>