<nav class="navbar navbar-main" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-navbar-collapsing">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {{#link-to 'index' tagName='a' classNames='navbar-brand navbar-brand-adjust'}}
                {{#if loadingItems}}
                    <div class="logo-spinner"></div>
                {{else}}
                    <img src="img/mycqs-icon-header.png" height="30px" class="logo-icon"/>
                {{/if}}
                <!--<img src="img/logo-text.png" height="30px" class="logo-text"/>-->
            {{/link-to}}
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-navbar-collapsing">
            <ul class="nav navbar-nav">
                {{#link-to 'index' tagName='li' title='Home'}}{{#link-to 'index' tagName='a' class='nav-icons'}}{{svg-icon icon='home'}}{{/link-to}}{{/link-to}}
                {{#link-to 'browse' tagName='li' title='Browse tests'}}{{#link-to 'browse' tagName='a' class='nav-icons'}}{{svg-icon icon='browse'}}{{/link-to}}{{/link-to}}
                {{#link-to 'create' tagName='li' title='Create a test'}}{{#link-to 'create' tagName='a' class='nav-icons'}}{{svg-icon icon='create'}}{{/link-to}}{{/link-to}}
                {{#link-to 'about' tagName='li' title='About us'}}{{#link-to 'about' tagName='a' class='nav-icons'}}{{svg-icon icon='about'}}{{/link-to}}{{/link-to}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{#if currentUser}}
                    {{partial 'application/navbar/user-messages'}}
                    <!-- account actions -->
                    {{partial 'application/navbar/current-user'}}
                {{else}}
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href='' {{action 'openModal' 'application/modal/login-or-register' 'application'}}
                                    >Log in | Sign up</a>
                        </li>
                    </ul>
                {{/if}}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>