{{#unless minimalNavbar}}
    <nav {{bind-attr class=":navbar :navbar-main navbarTransparent navbarHidden:hidden"}} role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle sidebar-toggle pull-left">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {{#link-to 'index' tagName='a' classNames='navbar-brand navbar-brand-adjust'}}
                    {{#if loadingItems}}
                        <img src="img/loading-white.gif" height="45px" class="logo-icon"/>
                    {{else}}
                        <img src="img/logo-wide.png" height="45px" class="logo-icon"/>
                    {{/if}}
                {{/link-to}}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-navbar-collapsing">
                <ul class="nav navbar-nav">
                    {{#if currentUser}}
                        {{#link-to 'create' tagName='li' title='MCQ Quiz Maker'}}
                            {{#link-to 'create' tagName='a'}}
                                Create
                            {{/link-to}}
                        {{/link-to}}
                        {{#link-to 'index' tagName='li' title='My Quizzes'}}
                            {{#link-to 'index' tagName='a'}}
                                Practice
                            {{/link-to}}
                        {{/link-to}}
                    {{/if}}
                    {{#link-to 'browse' tagName='li' title='Search for quizzes'}}
                        {{#link-to 'browse' tagName='a'}}
                            Browse
                        {{/link-to}}
                    {{/link-to}}
                    <!-- About dropdown menu-->
                    {{#unless currentUser}}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                About <span class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                {{#link-to 'about.index' tagName='li' title='About us'}}
                                    {{#link-to 'about.index' tagName='a'}}
                                        Overview
                                    {{/link-to}}
                                {{/link-to}}
                                {{#link-to 'about.team' tagName='li' title='MyCQs Team'}}
                                    {{#link-to 'about.team' tagName='a'}}
                                        Team
                                    {{/link-to}}
                                {{/link-to}}
                                <li class="divider"></li>
                                {{#link-to 'contact' tagName='li' title='Contact us'}}
                                    {{#link-to 'contact' tagName='a'}}
                                        Contact
                                    {{/link-to}}
                                {{/link-to}}
                                {{#link-to 'support' tagName='li' title='Support'}}
                                    {{#link-to 'support' tagName='a'}}
                                        Support
                                    {{/link-to}}
                                {{/link-to}}
                            </ul>
                        </li>
                    {{/unless}}
                </ul>
                {{partial 'application/navbar/search-bar'}}
                <ul class="nav navbar-nav navbar-right">
                    {{#if currentUser}}
                        {{partial 'application/navbar/user-messages'}}
                        <!-- account actions -->
                        {{partial 'application/navbar/current-user'}}
                    {{else}}
                        <li>
                            <a href="javascript:void(0)" {{action 'openModal' 'application/modal/login'
                            'application'}}>
                                Log in
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)" {{action 'openModal' 'application/modal/register'
                            'application'}}>
                                Register
                            </a>
                        </li>
                    {{/if}}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
{{else}}
    <nav class="navbar navbar-main">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                {{#link-to 'index' tagName='a' classNames='navbar-brand navbar-brand-adjust'}}
                    {{#if loadingItems}}
                        <img src="img/loading-white.gif" height="45px" class="logo-icon"/>
                    {{else}}
                        <img src="img/logo-wide.png" height="45px" class="logo-icon"/>
                    {{/if}}
                {{/link-to}}
            </div>
        </div>
    </nav>
{{/unless}}