<div class="page-header with-action-container">
    <div class="dark-overlay"></div>
    <div class="content-body">
        <h1 class="title">Browse</h1>
        <p class="subtitle">Search quizzes from hundreds of subjects!</p>
    </div>
    <div class="page-header-action-container">
        <div class="input-group">
            {{main-search
            parentController=this
            hideSearchIcon=true
            searchTerm=navbarSearchTerm
            searchPlaceholder="Search for revision material"
            }}
            <span class="input-group-addon search-icon">
                    <i class="fa fa-search"></i>
                </span>
        </div>
    </div>
</div>

<div class="container margin-top-16 margin-bottom-16">

    <section class="row margin-top-16">

        <article class="col-sm-3">
            {{partial "browse/category-list"}}
        </article>

        <article class="col-sm-9 col-fix-right">
            {{!-- Hot Tests --}}
            <h3 class="hot-tests-title text-center margin-top-0">
                <i class="fa fa-fw fa-fire icon"></i>
                Hot Tests
            </h3>
            <hr class="full-hr"/>

            <section class="row">
                <article class="col-xs-12">
                    <div class="hot-tests-container text-center">
                        {{#each hotTests as |test|}}
                            {{test-card test=test parentController=this cardType="hotTest" class="inline-block"}}
                        {{/each}}
                    </div>
                </article>
            </section>

        </article>


    </section>




    {{!-- Subjects --}}
    {{!--
    <h3 class="text-center">
        All Subjects
    </h3>
    <hr class="mini-hr"/>

    <section class="row">
        <article class="col-xs-12 text-center">
            <div class="subject-grid-container">
                {{#each category in content}}
                    <div class="subject-container inline-block">
                        {{#link-to 'category' category.slug}}
                            {{svg-icon icon=category.name width=100 height=100 margin='auto'}}
                        {{/link-to}}
                        <h4>
                            {{#link-to 'category' category.slug tagName='a'}}
                                {{category.name}}
                            {{/link-to}}
                        </h4>

                        <p class="subtitle">{{category.totalTests}} tests</p>
                    </div>
                {{/each}}
            </div>
        </article>
    </section>
    --}}

</div>