<div class="mycqs-page-header">
    <div class="container">
        <h1>Browse</h1>

        <p>Select a subject and discover thousands of tests!</p>
    </div>
</div>
{{!--
<div class="container">
    {{#each category in content}}
        <div class="row margin-bottom-16">
            <div class="col-md-12">
                <div class="card">
                    <span class="title margin-right-16">
                        {{#link-to 'category' category.slug tagName='a'}}
                            {{category.name}}
                        {{/link-to}}
                    </span>
                    <span class="subtitle">{{category.totalTests}} tests</span>
                </div>
            </div>
        </div>
    {{/each}}
</div>
--}}
<div class="container">
    <div class="row">
        <div class="col-md-12 freewall margin-bottom-16" id='top-category-container'>
            {{#each category in content itemController='browse.item.category'}}
                <div {{bind-attr style=category.style class=':item :card isGridReady::hidden'}}>
                    {{#link-to 'category' category.slug}}
                        {{svg-icon icon=category.name width=100 height=100 margin='auto'}}
                    {{/link-to}}
                    <h4>
                        {{#link-to 'category' category.slug tagName='a'}}
                            {{category.name}}
                        {{/link-to}}
                    </h4>
                    <p class="subtitle">{{category.totalTests}} tests</p>
                </div>
            {{/each}}
        </div>
    </div>
</div>