<div class="mycqs-page-header">
    <div class="container">
        {{#if browseAll}}
            <h1>Browse</h1>

            <h4>Search from thousands of mcq tests in MyCQs.</h4>
        {{else}}
            <div class='inline-block svg-icon-white'>
                {{#if parentCategoryName}}
                    {{svg-icon icon=parentCategoryName height=120 width=120 colour="white"}}
                {{else}}
                    {{svg-icon icon=name height=120 width=120 colour="white"}}
                {{/if}}
            </div>
            <h1 class="inline-block">{{seoPageHeader}}</h1>

            <h4>Search from over {{math-round totalTests 10}}
                {{#if secondaryName}}{{secondaryName}}{{else}}{{name}}{{/if}} mcqs{{#if seoChildCategories.length}} on
                    a range of subjects such as {{seoChildCategories}}{{/if}}.</h4>
        {{/if}}
    </div>
</div>
<div class="container">
    <ol class="breadcrumb">
        {{#link-to 'browse' tagName='li'}}{{#link-to 'browse'}}Browse{{/link-to}}{{/link-to}}
        {{#if hasChildren}}
            {{#link-to 'category' slug tagName='li'}}
                {{name}}
            {{/link-to}}
        {{else}}
            {{#if parentCategorySlug}}
                {{#link-to 'category' parentCategorySlug tagName='li'}}
                    {{#link-to 'category' parentCategorySlug}}
                        {{parentCategoryName}}
                    {{/link-to}}
                {{/link-to}}
            {{/if}}
            {{#link-to 'subcategory' parentCategorySlug slug tagName='li'}}
                {{name}}
            {{/link-to}}
        {{/if}}
    </ol>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <h5>Search:</h5>

                <div class="search-box">
                    {{input type='text' value=searchTerm placeholder='Type here to search' action='searchTests'
                    classNames='form-control margin-bottom-16'}}
                    {{#if loadingItems}}
                        <div class="loading-spinner"></div>
                    {{else}}
                        <span class="glyphicon glyphicon-search" {{action 'searchTests'}}></span>
                    {{/if}}
                </div>

                {{#if childCategories.length}}
                    <h5>Filter {{tests.count}} results</h5>

                    <ul class="nav nav-pills nav-stacked">
                        {{#each category in childCategories itemController='category.item.childCategory'}}
                            {{#if browseAll}}
                                <li>
                                    {{#link-to 'category' category.slug}}
                                        {{category.name}}
                                        <small>({{category.totalTests}})</small>
                                    {{/link-to}}
                                </li>
                            {{else}}
                            {{!--<p>{{{input type="checkbox" checked=category.isChecked}}
                                {{#link-to 'category' this.slug
                                (query-params categoryFilter=category.slug page=1)}}
                                    {{category.name}}
                                {{/link-to}}
                                <small>({{category.totalTests}})</small>
                            </p>--}}
                                {{#link-to 'subcategory' category.parentCategorySlug category.slug tagName='li'}}
                                    {{#link-to 'subcategory' category.parentCategorySlug category.slug tagName='a'}}
                                        {{category.name}}
                                        <small>({{category.totalTests}})</small>
                                    {{/link-to}}
                                {{/link-to}}
                            {{/if}}
                        {{/each}}
                    </ul>

                {{/if}}
            </div>
        </div>
        <div class="col-md-9 col-fix-right">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <!-- Order selection -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle text-capitalize"
                                    data-toggle="dropdown">
                                {{order}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="javascript:void(0)" {{action 'changeOrder' 'relevance'}}>Relevance</a></li>
                                <li><a href="javascript:void(0)" {{action 'changeOrder' 'title'}}>Title</a></li>
                                <li><a href="javascript:void(0)" {{action 'changeOrder' 'recent'}}>Recent</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <!-- Pagination -->
                        <ul class="pagination pull-right">
                            <li {{bind-attr class='previousPage::disabled'}}>
                                {{#if previousPage}}
                                    {{#link-to 'category' (query-params page=previousPage)
                                    tagName='a'}}Prev{{/link-to}}
                                {{else}}
                                    <a href="javascript:void(0)" {{action 'changePage' previousPage}}>Prev</a>
                                {{/if}}
                            </li>
                            {{#each page in pagesInPagination}}
                                {{#link-to 'category' (query-params page=page) tagName='li'}}
                                    {{#link-to 'category' (query-params page=page) tagName='a'}}{{page}}{{/link-to}}
                                {{/link-to}}
                            {{/each}}
                            <li {{bind-attr class='nextPage::disabled'}}>
                                {{#if nextPage}}
                                    {{#link-to 'category' (query-params page=nextPage)
                                    tagName='a'}}Next{{/link-to}}
                                {{else}}
                                    <a href="javascript:void(0)" {{action 'changePage' nextPage}}>Next</a>
                                {{/if}}
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            {{#each testsOnPage itemController='browse.item.test'}}
                {{partial 'browse/test-card'}}
            {{/each}}
        </div>
    </div>
</div>