<div class="page-header" {{bind-attr style=model.pageHeaderCoverImageStyle}}>
    <div class="dark-overlay"></div>
    <div class="content-body">
        {{#if model.browseAll}}
            <h1 class="title">{{seoPageHeader}}</h1>

            <p class="subtitle">Search from thousands of MCQ Quizzes in Synap.</p>
        {{else}}
            <h1 class="title">{{seoPageHeader}}</h1>
            <p class="subtitle">{{text-preview seoPageDescription 140}}</p>
        {{/if}}
    </div>
</div>

<div class="container margin-bottom-16">
    <ol class="breadcrumb">
        {{#link-to 'browse' tagName='li'}}{{#link-to 'browse'}}Browse{{/link-to}}{{/link-to}}
        {{#if hasChildren}}
            {{#link-to 'category' model.slug tagName='li'}}
                {{model.name}}
            {{/link-to}}
        {{else}}
            {{#if model.parent.slug}}
                {{#link-to 'category' model.parent.slug tagName='li'}}
                    {{#link-to 'category' model.parent.slug}}
                        {{model.parent.name}}
                    {{/link-to}}
                {{/link-to}}
            {{/if}}
            {{#link-to 'subcategory' model.parent.slug model.slug tagName='li'}}
                {{model.name}}
            {{/link-to}}
        {{/if}}
    </ol>
    <div class="row" id="top-of-results">
        <div class="col-md-3">
            {{partial "browse/category-list"}}
        </div>

        <div class="col-md-9 col-fix-right">
            <section class="row">
                <article class="col-xs-12 col-sm-4">
                    <div class="search-box">
                        <div class="form-control-wrapper">
                            {{input type="text" classNameBindings=":form-control searchTerm.length::empty" value=searchTerm}}
                            <div class="floating-label">Search</div>
                            <span class="material-input"></span>
                            <span class="fa fa-search search-icon"></span>
                        </div>
                    </div>
                </article>
                <div class="col-xs-12 col-sm-3 col-sm-push-5">
                    <!-- Order selection -->
                    {{view 'select' content=listOrders optionLabelPath='content.label'
                    optionValuePath='content' class="form-control" value=listOrder}}
                </div>
            </section>

            <section class="row">
                <article class="col-xs-12 margin-top-8">
                    <small>
                        {{#if totalResults}}
                            {{totalResults}} {{pluralize-word 'quiz' totalResults 'quizzes'}} found
                        {{else}}
                            No results{{#if searchTerm.length}} for '{{searchTerm}}'.{{/if}}
                        {{/if}}
                    </small>
                </article>
            </section>

            {{#each tests as |test|}}
                {{test-card test=test parentController=this}}
            {{/each}}
            {{#infinite-scroll content=tests hasMore=moreResultsToFetch}}
                <div class="icon-only-loader margin-top-8 margin-bottom-8"></div>
            {{/infinite-scroll}}
        </div>
    </div>
</div>