<div class="mycqs-page-header">
    <div class="container">
        {{#if browseAll}}
            <h1>Browse</h1>

            <h4>Search from thousands of mcq tests in MyCQs.</h4>
        {{else}}
            <div class='inline-block svg-icon-white'>
                {{#unless model.hasChildren}}
                    {{#if model.parent}}
                        {{svg-icon icon=model.parent.name height=60 width=60 colour="white"}}
                    {{/if}}
                {{else}}
                    {{svg-icon icon=model.name height=60 width=60 colour="white"}}
                {{/unless}}
            </div>
            <h1 class="inline-block">{{seoPageHeader}}</h1>

            <h4>Search from over {{math-round model.totalTests 10}}
                {{#if model.secondaryName}}{{model.secondaryName}}{{else}}{{model.name}}{{/if}} mcqs
                {{#if seoChildCategories.length}} on
                    a range of subjects such as {{seoChildCategories}}{{/if}}.</h4>
        {{/if}}
    </div>
</div>
<div class="container margin-bottom-16">
    <ol class="breadcrumb">
        {{#link-to 'browse' tagName='li'}}{{#link-to 'browse'}}Browse{{/link-to}}{{/link-to}}
        {{#if hasChildren}}
            {{#link-to 'category' model.slug tagName='li'}}
                {{model.name}}
            {{/link-to}}
        {{else}}
            {{#if model.parent.slug}}
                {{#link-to 'category' model.parent.slug tagName='li'}}
                    {{#link-to 'category' model.parent.slug}}
                        {{model.parent.name}}
                    {{/link-to}}
                {{/link-to}}
            {{/if}}
            {{#link-to 'subcategory' model.parent.slug model.slug tagName='li'}}
                {{model.name}}
            {{/link-to}}
        {{/if}}
    </ol>
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                {{#if filterActive}}
                    <h5>FILTERS</h5>
                {{/if}}
                {{#if activeCategories.length}}
                    <ul class="tags">
                        <div class="margin-top-8">
                            <h5 class="small">CATEGORY</h5>
                        </div>
                        {{#each activeCategories as |category|}}
                            <li class="tag category" {{action 'toggleCategoryFilter' category}}>{{category.name}}</li>
                        {{/each}}
                    </ul>
                {{/if}}
                {{#if activeTags.length}}
                    <ul class="tags">

                        <div class="margin-top-8">
                            <h5 class="small">TAGS</h5>
                        </div>
                        {{#each activeTags as |tag|}}
                            <li class="tag" {{action 'toggleTagFilter' tag}}>{{tag}}</li>
                        {{/each}}
                    </ul>
                {{/if}}

                <h5>ALL CATEGORIES</h5>

                <ul class="nav nav-pills nav-stacked category-list">
                    {{#each topLevelCategories itemController='category.item.parentCategory' as |parentCategory|}}
                        {{#link-to 'category' parentCategory.model.slug tagName='li'
                        classNameBindings="parentCategory.isSemiActive:semi-active"}}
                            {{#link-to 'category' parentCategory.model.slug tagName='a'
                            classNameBindings="parentCategory.isSemiActive:semi-active"}}
                                {{parentCategory.model.name}}
                            {{/link-to}}
                            {{#if parentCategory.isActive}}
                                <ul class="inner-list nav nav-pills nav-stacked margin-left-16">
                                    {{#each childCategories itemController='category.item.childCategory' as |category|}}
                                        {{#link-to 'subcategory' parentCategory.model.slug
                                        category.model.slug tagName='li'}}
                                            {{#link-to 'subcategory' parentCategory.model.slug
                                            category.model.slug tagName='a'}}
                                                {{category.model.name}}
                                            {{/link-to}}
                                        {{/link-to}}
                                    {{/each}}
                                </ul>
                            {{/if}}
                        {{/link-to}}
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="col-md-9 col-fix-right">
            <div class="row">
                <article class="col-xs-12 col-sm-4">
                    <div class="search-box">
                        {{input type='text' value=searchTerm placeholder='Search' action='searchTests'
                        classNames='form-control'}}
                        {{#if loadingItems}}
                            <div class="loading-spinner"></div>
                        {{else}}
                            <span class="fa fa-search"></span>
                        {{/if}}
                    </div>
                </article>
                <div class="col-xs-12 col-sm-3 col-sm-push-5">
                    <!-- Order selection -->
                    {{view 'select' content=orderTypes optionLabelPath='content.label'
                    optionValuePath='content.value' class="form-control"}}
                </div>
                {{!--
                <div class="col-md-6">
                    <!-- Pagination -->
                    <ul class="pagination pull-right">
                        <li {{bind-attr class='previousPage::disabled'}}>
                            {{#if previousPage}}
                                {{#link-to (query-params page=previousPage)
                                tagName='a'}}Prev{{/link-to}}
                            {{else}}
                                <a href="javascript:void(0)" {{action 'changePage' previousPage}}>Prev</a>
                            {{/if}}
                        </li>
                        {{#each page in pagesInPagination}}
                            {{#link-to (query-params page=page) tagName='li'}}
                                {{#link-to (query-params page=page) tagName='a'}}{{page}}{{/link-to}}
                            {{/link-to}}
                        {{/each}}
                        <li {{bind-attr class='nextPage::disabled'}}>
                            {{#if nextPage}}
                                {{#link-to (query-params page=nextPage)
                                tagName='a'}}Next{{/link-to}}
                            {{else}}
                                <a href="javascript:void(0)" {{action 'changePage' nextPage}}>Next</a>
                            {{/if}}
                        </li>
                    </ul>
                </div>
                --}}
            </div>
            {{#each testsOnPage as |test|}}
                {{test-card test=test parentController=this}}
            {{/each}}
        </div>
    </div>
</div>