<div class="container">
    <section class="row">
        <article class="col-md-3">
            <div class="card margin-bottom-16 srs-overview">
                <h4>Premium</h4>
                {{#unless currentUser.privateData.isFulfilled}}
                    Checking...
                {{/unless}}
                {{#if currentUser.privateData.isPremium}}
                    <p class="margin-bottom-8"><i class="fa fa-circle"></i><strong>Activated</strong></p>

                    {{#if currentUser.privateData.premiumStartDate}}
                        <p class="margin-bottom-8"><i class="fa fa-calendar"></i><strong>Started</strong>
                            {{simple-date currentUser.privateData.premiumStartDate}}</p>
                    {{/if}}

                    {{#if currentUser.privateData.premiumNextPayment}}
                        <p class="margin-bottom-8"><i class="fa fa-calendar"></i><strong>Next Payment</strong>
                            {{simple-date currentUser.privateData.premiumNextPayment}}</p>
                    {{/if}}

                    {{#if currentUser.privateData.premiumTrialStartDate}}
                        <p class="margin-bottom-8"><i class="fa fa-calendar"></i><strong>Trial Started</strong>
                            {{simple-date currentUser.privateData.premiumTrialStartDate}}</p>
                    {{/if}}

                    {{#if currentUser.privateData.premiumTrialExpiryDate}}
                        <p class="margin-bottom-8"><i class="fa fa-calendar"></i><strong>Trial Expires</strong>
                            {{simple-date currentUser.privateData.premiumTrialExpiryDate}}</p>
                    {{/if}}

                    {{#if currentUser.privateData.premiumExpiryDate}}
                        <p class="margin-bottom-8"><i class="fa fa-calendar"></i><strong>Expires</strong>
                            {{simple-date currentUser.privateData.premiumExpiryDate}}</p>
                    {{/if}}
                    {{#if premiumCancelled}}
                        <p class="margin-bottom-8"><i class="fa fa-exclamation-triangle"></i><strong>Cancelled</strong>
                            - you will not be charged again.</p>

                        <button class="btn btn-success" {{action 'openModal' 'application/modal/premium-payment'}}>
                            Reactivate Premium
                        </button>
                    {{else}}
                        {{#unless currentUser.privateData.premiumTrialExpiryDate}}
                            <span class="linkify"
                                {{action 'cancelPremium'}}>Cancel subscription</span>
                        {{else}}
                            <button class="btn btn-success" {{action 'openModal' 'application/modal/premium-payment' true}}>
                                Extend Subscription
                            </button>
                        {{/unless}}
                    {{/if}}
                {{else}}
                    <p><i class="fa fa-circle-thin margin-bottom-8"></i>Not active</p>
                    <button class="btn btn-success" {{action 'openModal' 'application/modal/premium-payment' true}}>
                        Get Premium
                    </button>
                {{/if}}
            </div>
        </article>
        <article class="col-md-9 col-fix-right">
            {{outlet}}
        </article>
    </section>
</div>
