<div class="page-header">
    <div class="dark-overlay"></div>
    <div class="content-body">
        <h1 class="title margin-top-0">
            <span class="editable" {{action 'openEditInfoModal'}}>
                {{model.title}}
            </span>
        </h1>
        <h4 class="subtitle">
            <span class="editable" {{action 'openEditInfoModal'}}>
                {{model.description}}
            </span>
        </h4>

        <div class="extras">
            {{category-tags test=model canEdit=false inverseStyle=true center=true class="inline-top"
            overrideAction='openEditInfoModal' parentController=this}}
            {{module-tags tags=model.tags canEdit=false inverseStyle=true center=true class="inline-top"
            overrideAction='openEditInfoModal' parentController=this}}
        </div>
    </div>
</div>

<div class="container">
    <section class="row">

        {{!-- Questions List --}}
        <article class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>QUESTIONS LIST</strong>
                </div>
                <div class="panel-body">
                    {{#each model.questions itemController='edit.item.question' as |question index|}}
                        {{#link-to 'editQuestion' question.model tagName='div' class='question-list-item-row row'}}
                            <div {{bind-attr class=':col-md-12 :question-list-item question.isCurrent:active-question'}}>
                                {{#link-to 'editQuestion' question.model}}
                                    Q{{friendly-index index}}: {{question.model.stem}}
                                {{/link-to}}
                                <i class="fa fa-minus-circle" {{action 'deleteQuestion'
                                question.model question.isCurrent}} title="Delete this question"></i>
                            </div>
                        {{/link-to}}
                    {{/each}}
                    <div class="row">
                        <div {{bind-attr class=':col-md-12 :question-list-item isCreatingNewQuestion:active-question'}}>
                            {{#link-to 'edit.newQuestion' this.model}}
                                + New question
                            {{/link-to}}
                        </div>
                    </div>
                </div>
            </div>
        </article>

        {{!-- Edit Question Outlet --}}
        <article class="col-sm-8 col-md-6 col-lg-7 col-fix-middle">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>QUESTION</strong>
                </div>
                <div class="panel-body">
                    {{outlet}}
                </div>
            </div>
        </article>

        {{!-- Action Panel --}}
        <article class="col-sm-12 col-md-3 col-lg-2">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>FINALIZE</strong>
                </div>
                <div class="panel-body text-center">
                    <div class="margin-bottom-8">
                        <div class="privacy-switch text-left margin-auto">
                            {{input type="checkbox" checked=model.isPublic class="privacy-switch-checkbox"
                            id="privacy-switch"}}
                            <label class="privacy-switch-label" for="privacy-switch">
                                <span class="privacy-switch-inner"></span>
                                <span class="privacy-switch-switch"></span>
                            </label>
                        </div>
                    </div>

                    <button class="btn btn-success btn-with-icon action-button"
                        {{action "finishedEditing"}}>
                        <span class="inline-block">Save</span>
                            <span class="right-section inline-block">
                                <i class="fa fa-fw fa-save"></i>
                            </span>
                    </button>

                    <hr class="full-hr">

                    <span class="linkify" {{action "deleteTest" model}}>
                        <i class="fa fa-fw fa-trash-o margin-right-8"></i>
                        Delete Quiz
                    </span>

                </div>
            </div>
        </article>

    </section>
</div>
