<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-12">
                        <h3>{{title}}</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-info margin-right-16"
                                data-toggle="collapse"
                                data-target="#editTestDetail">
                            Edit test details
                        </button>
                        <button type="button" class="btn btn-success" {{action 'saveTest'}}>
                            Save test
                        </button>
                    </div>
                </div>
                <div id="editTestDetail" class="collapse out">
                    {{partial "edit/test-detail"}}
                </div>
                <small class="edit-test-saved text-center">
                    <span>Test saved {{from-now time=updatedAt}}</span>
                </small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="card margin-top-16">
                <div class="row">
                    <div class="col-md-12">
                        <h5>QUESTIONS LIST</h5>
                        {{#each question in questions itemController='edit.item.question'}}
                            <div class="row">
                                <div class="col-md-12">
                                    {{input type="checkbox" checked=question.isChecked}}
                                    {{#link-to 'editQuestion' question}}
                                        Q{{question.itemNumber}}: {{text-preview question.stem 30}}
                                    {{/link-to}}
                                </div>
                            </div>
                        {{/each}}
                        <div class="row">
                            <div class="col-md-12">
                                {{#link-to 'edit.newQuestion' this}}
                                    + Add a new question
                                {{/link-to}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-fix-right">
            {{outlet}}
        </div>
    </div>
</div>
