<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="row">
                    <div class="col-md-12 margin-bottom-16">
                        <h3>{{#link-to 'testInfo' slug}}{{title}}{{/link-to}} <small>{{category.name}}</small></h3>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-info margin-right-16"
                                data-toggle="collapse"
                                data-target="#editTestDetail">
                            Edit test details
                        </button>
                        <button type="button" class="btn btn-success  margin-right-16" {{action 'saveTest'}}>
                            Save test
                        </button>
                        {{#link-to 'test' slug tagName="button" class="btn btn-xing"}}
                            Take test
                        {{/link-to}}
                    </div>
                </div>
                <div id="editTestDetail" class="collapse out">
                    {{partial "edit/test-detail"}}
                </div>
                <small class="edit-test-saved text-center">
                    <span>Test saved {{from-now time=updatedAt}}</span>
                </small>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <div class="card margin-top-16">
                <div class="row">
                    <div class="col-md-12">
                        <h5>QUESTIONS LIST</h5>
                        {{#if questions.length}}
                            {{#if showQuestionListCheckBoxes}}
                                <a href='' {{action 'toggleQuestionListCheckboxes'}} >Done editing</a>
                            {{else}}
                                <a href='' {{action 'toggleQuestionListCheckboxes'}} >Edit list</a>
                            {{/if}}
                        {{/if}}
                        {{#each question in questions itemController='edit.item.question'}}
                            <div class="row">
                                <div {{bind-attr class=':col-md-12 :question-list-item question.isCurrent:active-question'}}>
                                    {{#if showQuestionListCheckBoxes}}
                                        {{input type="checkbox" checked=question.isChecked class='question-list-checkbox'}}
                                    {{/if}}
                                    {{#link-to 'editQuestion' question}}
                                        Q{{question.itemNumber}}: {{text-preview question.stem 30}}
                                    {{/link-to}}
                                </div>
                            </div>
                        {{/each}}
                        <div class="row">
                            <div {{bind-attr class=':col-md-12 :question-list-item isCreatingNewQuestion:active-question'}}>
                                {{#link-to 'edit.newQuestion' this}}
                                    + New question
                                {{/link-to}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-10 col-fix-right">
            {{outlet}}
        </div>
    </div>
</div>
