<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <section class="row margin-bottom-16">
                    <article class="col-md-1">
                        <h4>TITLE</h4>
                    </article>
                    <article class="col-md-5">
                        {{input type="text" class="form-control input-lg" placeholder="Type your test title here."
                        value=model.title}}
                    </article>
                </section>
                <section class="row">
                    <article class="col-md-1">
                        <h5 class="">CATEGORY</h5>
                    </article>
                    <article class="col-md-5">
                        {{#if model.category}}
                            <ul class="tags margin-bottom-8">
                                {{#if model.category.parent}}
                                    <li {{action 'removeCategory' model.category.parent}}
                                            class="tag category">{{model.category.parent.name}}</li>
                                {{/if}}
                                <li {{action 'removeCategory' model.category}}
                                        class="tag category">{{model.category.name}}</li>
                            </ul>
                        {{else}}
                            <div class="row">
                                <div class="col-md-12 margin-bottom-16">
                                    {{view 'select'
                                    classNames='form-control'
                                    content=parentCategories
                                    optionValuePath="content"
                                    optionLabelPath="content.name"
                                    selection=parentCategory
                                    prompt="Please select a subject"}}
                                </div>
                            </div>
                            {{#if childCategories.length}}
                                <div class="row">
                                    <div class="col-md-12 margin-bottom-16">
                                        {{view 'select'
                                        classNames='form-control'
                                        content=childCategories
                                        optionValuePath="content"
                                        optionLabelPath="content.name"
                                        selection=childCategory
                                        prompt="Please select a subject area"}}
                                    </div>
                                </div>
                            {{/if}}
                        {{/if}}
                    </article>
                    <article class="col-md-1">
                        <h5>DESCRIPTION</h5>
                    </article>
                    <article class="col-md-5">
                        <div class="textarea-holder">
                            {{textarea value=model.description class="form-control"
                            placeholder="Help other's understand what this test is about."}}
                        </div>
                    </article>
                </section>
                <section class="row">
                    <article class="col-md-1">
                        <h5 class="">TAGS</h5>
                    </article>
                    <article class="col-md-5">
                        <ul class="tags">
                            {{#each model.tags as |tag|}}
                                <li class="tag" {{action "removeTag" tag}}>{{tag}}</li>
                            {{/each}}
                            <li class="tag default">
                                {{#if addingTag}}
                                    {{input type='text' value=newTag placeholder="Type a tag..."
                                    id="new-tag" action="completeAddingTag"}}
                                    <i {{bind-attr class=":fa :fa-plus :add-tag newTag.length::close-tag"}}
                                        {{action 'completeAddingTag'}}></i>
                                {{else}}
                                    <span {{action 'startAddingNewTag'}}>+ add</span>
                                {{/if}}
                            </li>
                        </ul>
                    </article>
                    <article class="col-md-6 text-right">
                        <div class="togglebutton togglebutton-info inline-block margin-right-8 margin-top-8">
                            <label class="text-left">
                                <strong class="margin-right-8">Public</strong>
                                {{input type="checkbox" checked=model.isPublic}}<span class="toggle"></span>
                            </label>
                        </div>
                        <div class="btn-group">
                            <button class="btn btn-flat btn-icon margin-right-8" {{action 'deleteTest' model}}>
                                <i class="mdi-action-delete"></i>
                            </button>
                            <button class="btn btn-primary" {{action 'finishedEditing'}}>
                                Done
                            </button>
                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 margin-top-16">

            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>QUESTIONS LIST</strong>
                </div>
                <div class="panel-body">
                    {{#each model.questions itemController='edit.item.question' as |question index|}}
                        {{#link-to 'editQuestion' question.model tagName='div' class='question-list-item-row row'}}
                            <div {{bind-attr class=':col-md-12 :question-list-item question.isCurrent:active-question'}}>
                                {{#link-to 'editQuestion' question.model}}
                                    Q{{friendly-index index}}: {{question.model.stem}}
                                {{/link-to}}
                                <i class="fa fa-minus-circle" {{action 'deleteQuestion'
                                question.model question.isCurrent}} title="Delete this question"></i>
                            </div>
                        {{/link-to}}
                    {{/each}}
                    <div class="row">
                        <div {{bind-attr class=':col-md-12 :question-list-item isCreatingNewQuestion:active-question'}}>
                            {{#link-to 'edit.newQuestion' this.model}}
                                + New question
                            {{/link-to}}
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <div class="col-md-9 col-fix-right margin-top-16">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>QUESTION</strong>
                </div>
                <div class="panel-body">
                    {{outlet}}
                </div>
            </div>

        </div>
    </div>
</div>
