<div class="container">
    <section class="row">
        <article class="col-md-12">
            <div class="card">
                <section class="row">
                    <article class="col-md-12">
                        <h3 class="text-center">Why MyCQs?</h3>
                        <section class="row">
                            <article class="col-md-4 text-center">
                                <h1><i class="fa fa-pencil"></i></h1>
                                <h4>Create</h4>

                                <p>Write tests in the multiple-choice question (MCQ) format</p>
                            </article>
                            <article class="col-md-4 text-center">
                                <h1><i class="fa fa-file-text-o"></i></h1>
                                <h4>Practice</h4>

                                <p>Take MCQ tests on the go and track your results</p>
                            </article>
                            <article class="col-md-4 text-center">
                                <h1><i class="fa fa-share-alt-square"></i></h1>
                                <h4>Share</h4>

                                <p>Share tests with your colleagues and friends. Find MCQs written
                                by other members!</p>
                            </article>
                        </section>
                    </article>
                </section>
                <hr>
                <section class="row">
                    <article class="col-md-3 col-md-push-2 margin-top-16">
                        <div class="pricing-table red rounded"><!-- BODY BOX-->
                            <div class="pricing-table-header"><!-- HEADER BOX-->

                                <span class="heading">BASIC</span>
                                <span class="price-value">Free</span>

                            </div>
                            <!--/ BODY BOX-->

                            <div class="pricing-table-space"></div>
                            <!-- CONTENT BOX-->
                            <div class="pricing-table-features">
                                <p><strong>Create</strong> multiple-choice question tests (MCQs)</p>

                                <p><strong>Practice</strong> MCQs</p>

                                <p><strong>Share</strong> MCQs</p>

                                <p><strong>Groups</strong> for Tests</p>

                            </div>
                            <!-- /  CONTENT BOX-->

                            <div class="pricing-table-sign-up"><!-- BUTTON BOX-->
                                {{#if currentUser}}
                                    <button disabled class="btn btn-large btn-block btn-danger">ALREADY ACTIVE!</button>
                                {{else}}
                                    <button {{action 'openModal' 'application/modal/login-or-register'}}
                                            class="btn btn-large btn-block btn-danger">JOIN NOW!</button>
                                {{/if}}
                            </div>
                            <!-- BUTTON BOX-->
                        </div>
                        <!--/ BODY BOX-->
                    </article>
                    <article class="col-md-5 col-md-push-2 margin-top-16">
                        <div class="pricing-table blue rounded"><!-- BODY BOX-->
                            <div class="pricing-table-header"><!-- HEADER BOX-->

                                <span class="heading">PREMIUM</span>
                                <span class="price-value">$<span>1.41</span><span class="mo">/mo*</span></span>
                            </div>
                            <!--/ BODY BOX-->

                            <div class="pricing-table-space"></div>
                            <!-- CONTENT BOX-->
                            <div class="pricing-table-features">
                                <p><strong>Basic</strong> package</p>

                                <p><strong>Spaced Repetition Service</strong> learn more</p>

                                <p><strong>Personalised</strong> learning</p>

                                <p><strong>Private</strong> groups</p>

                                <p>* Value on annual $16.99 subscription, else $2.99/mo.</p>
                            </div>
                            <!-- /  CONTENT BOX-->

                            <div class="pricing-table-sign-up"><!-- BUTTON BOX-->
                                {{#if currentUser}}
                                    {{#if currentUser.privateData.isPremium}}
                                        <button disabled class="btn btn-large btn-block btn-info">ALREADY ACTIVE!</button>
                                    {{else}}
                                        {{#if currentUser.privateData.premiumMonthTrialRedeemed}}
                                            <button {{action 'openModal' 'application/modal/premium-payment' 'application/stripe'}}
                                                    class="btn btn-large btn-block btn-info">SUBSCRIBE NOW!</button>
                                        {{else}}
                                            <button {{action 'openModal' 'application/modal/premium-payment' 'application/stripe'}}
                                                    class="btn btn-large btn-block btn-info">GET FREE MONTH TRIAL!</button>
                                        {{/if}}
                                    {{/if}}
                                {{else}}
                                    <button {{action 'openModal' 'application/modal/premium-payment' 'application/stripe'}}
                                            class="btn btn-large btn-block btn-info">GET FREE MONTH TRIAL!</button>
                                {{/if}}
                            </div>
                            <!-- BUTTON BOX-->
                        </div>
                        <!--/ BODY BOX-->
                    </article>
                </section>
            </div>
        </article>
    </section>
</div>
<p class="pull-right">You can upgrade to Premium and claim your free month trial at any time!</p>