<div class="mycqs-page-header">
    <div class="container">
        <h2>Medical Question Bank <smal>beta</smal></h2>

        <p>Thousands of verified, professionally written Medical MCQs tailored for you!</p>
    </div>
</div>
<div class="container">
    {{#if showGenerator}}
        <section class="row professional-bank-filter-background professional-bank-filter-list">
            <h4 class="margin-bottom-8">Add questions in categories by clicking <i class="fa fa-plus-circle"></i>, or
                click the category title to view subcategories.</h4>
            {{partial 'medical/breadcrumb-navigation'}}
            <div class="inner-list inline-block">
                <div class="container-fluid">
                    <section class="row">
                        <article class="col-md-12 col-fix-middle">
                            {{#unless loading}}
                                {{#unless selectedLevel1}}
                                    {{#each level in levels}}
                                        {{render 'medical/-level-card' level}}
                                    {{/each}}
                                {{/unless}}
                                {{#if selectedLevel1}}
                                    {{#unless selectedLevel2}}
                                        {{#each level in level2}}
                                            {{render 'medical/-level-card' level}}
                                        {{/each}}
                                    {{/unless}}
                                {{/if}}
                                {{#if selectedLevel2}}
                                    {{#unless selectedLevel3}}
                                        {{#each level in level3}}
                                            {{render 'medical/-level-card' level}}
                                        {{/each}}
                                    {{/unless}}
                                {{/if}}
                            {{else}}
                                <article class="col-xs-12 text-center">
                                    <img src="img/loading-bar.gif" alt="Loading..."/>
                                </article>
                            {{/unless}}
                        </article>
                    </section>
                </div>
                <div class="added-categories">
                    {{#each addedLevel in addedLevels}}
                        <div class="added-category margin-right-8 inline-block margin-bottom-8"
                            {{action 'addLevelInType' addedLevel}}>
                            {{addedLevel.title}}
                            <i class="fa fa-close"></i>
                        </div>
                    {{/each}}
                </div>

                <div class="professional-bank-generate text-center">
                    {{#if totalQuestions}}
                        <h4>Out of {{totalQuestions}} {{pluralize-word 'question' totalQuestions}},
                            I would like to take {{input type='number' value=maxQuestions class='form-control'}}
                            {{#if enoughQuestionsForDifficultySelection}}
                                questions of&nbsp;
                                {{view 'select' content=difficultyLevels value=difficulty class='form-control'}}&nbsp;
                                difficulty
                            {{/if}}: {{async-button default='Generate Test' pending='Generating...'
                            fulfilled='Preparing...' rejected='Error!' reset='true' action='generateTest'
                            class='btn btn-success'}}</h4>
                    {{else}}
                        <h4>Add categories to generate a medical mcq test</h4>
                    {{/if}}
                </div>
            </div>
        </section>
    {{else}}
        <section class="row">
            <article class="col-xs-4 col-xs-push-4 text-center">
                <div class="card">
                    {{#if currentUser}}
                        {{#if verifyingUser}}
                            <h5>Verifying beta access, please wait</h5>
                            <h4><img src="img/loading-bar.gif"/></h4>
                        {{else}}
                            <h5 class="margin-bottom-16">
                                This is medical test generator is in beta, please let us know
                                if you come across any problems!
                            </h5>
                            {{!--{{input type='text' class='form-control' placeholder='Enter beta passkey' value=betaPasskey
                            action='verifyBetaPasskeyEnter'}}--}}
                            {{async-button default='Let me in!' pending='Alright, hold on...' fulfilled='Preparing!'
                            rejected='Sorry your passkey was rejected!' reset=true action='verifyBetaPasskey'
                            class='btn btn-success margin-top-16' id='verify-beta-passkey'}}
                        {{/if}}
                    {{else}}
                        <h4 class="margin-bottom-16">
                            This is medical generator is in beta, please login or sign up to access these questions
                        </h4>
                        <button class="btn btn-info"
                                {{action 'openModal' 'application/modal/login-or-register'
                                'application'}}>Login or Sign up</button>
                    {{/if}}
                </div>
            </article>
        </section>

    {{/if}}
</div>