<div class="container onboarding-container">
    <div class="well well-sm onboarding-well">
        <div class="container-fluid onboarding-firstSection">
            <section class="row">
                <h3 class="text-center margin-bottom-16">{{onboardingStepTitle}}</h3>
            </section>
            <section class="row margin-top-16">
                {{partial currentStepPartial}}
            </section>
        </div>
        <div class="onboarding-well-footer">
            {{#if showBack}}
                <button class="btn btn-default margin-left-8" {{action "goToPreviousStep"}}>
                    Go Back
                </button>
            {{/if}}

            {{#if onFinalStep}}
                {{#if currentStepComplete}}
                    {{#unless registrationComplete}}
                        {{async-button class="btn btn-primary pull-right margin-right-8" default="Check my details"
                        pending="Checking..." rejected="Error!" reset=true success="Great!" id="onboarding-registerWithEmail"
                        action="registerUserWithEmail"}}
                    {{else}}
                        <button class="btn btn-primary pull-right margin-right-8" {{action "finishOnboarding"}}>
                            Ready to Start
                        </button>
                    {{/unless}}
                {{else}}
                    <button class="btn btn-danger pull-right margin-right-8" disabled>
                        Start Studying Smart!
                    </button>
                {{/if}}
            {{else}}
                {{#if currentStepComplete}}
                    <button class="btn btn-primary pull-right margin-right-8" {{action "continueToNextStep"}}>
                        Continue
                    </button>
                {{else}}
                    <button class="btn btn-default pull-right margin-right-8" {{action "continueToNextStep"}}>
                        Skip
                    </button>
                {{/if}}
            {{/if}}

        </div>
    </div>

    <div class="progress onboarding">
        <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"
             {{bind-attr style=studyOptimizationBarStyle}}>
            <span class="sr-only">{{studyOptimizationProgress}}% Complete</span>
        </div>
        <span class="progress-type">STUDY OPTIMIZATION</span>
        <span class="progress-completed">{{studyOptimizationProgress}}%</span>
    </div>
</div>