<div class="container margin-bottom-16">
    <section class="row">
        <article class="col-md-9 margin-bottom-16">

            {{!-- Overview Panel --}}
            <div class="panel panel-secondary card">

                <div class="panel-heading">
                    <h4 class="no-margin">
                        Quiz Attempt | {{simple-date date=model.createdAt format="h:mm a, MMM Do YYYY"}}
                    </h4>
                </div>

                <div class="panel-body">

                    <section class="row">
                        <article class="col-md-12 col-lg-6 text-center">

                            <div class="test-information">
                                <h3 class="margin-top-16">
                                    {{#link-to 'test' model.test.slug}}
                                        {{model.test.title}}
                                    {{/link-to}}
                                </h3>
                                {{category-tags test=model.test canEdit=false class="inline-block"}}
                                {{module-tags test=model.test.tags canEdit=false class="inline-block"}}
                            </div>

                        </article>

                        <article class="col-md-12 col-lg-6 text-center margin-top-8">

                            {{!-- Score Indicator --}}
                            <div class="score-container inline-block">
                                {{ember-knob fgColor=style.colorSecondary bgColor=style.colorBorder width="90" height="90"
                                readOnly=true min=0 max=100 value=model.score angleArc=360 angleOffset=0 thickness=0.1
                                inputColor=style.colorOrange displayInput=false}}
                                <div class="score">
                                    {{model.score}}%
                                </div>
                                <div class="score-label">
                                    Score
                                </div>
                            </div>

                            <div class="vertical-separator"></div>

                            <div class="overview-stat-container inline-block">
                                <h4 class="stat">
                                    {{correctResponses.length}}/{{model.questions.length}}
                                </h4>
                                <h4 class="small">
                                    Answered Correctly
                                </h4>
                            </div>

                            <div class="vertical-separator"></div>

                            <div class="overview-stat-container inline-block">
                                <h4 class="stat">
                                    5
                                </h4>
                                <h4 class="small">
                                    Points Earned
                                </h4>
                            </div>

                        </article>

                    </section>

                </div>
            </div>


            <div class="panel panel-info card">
                <div class="panel-heading">
                    <h4 class="no-margin">Questions</h4>
                </div>
                <div class="panel-body">
                    {{#each allResponses itemController="result.item.response-card" as |response|}}
                        {{partial 'result/item/response-card'}}
                    {{/each}}
                </div>
            </div>

        </article>

        {{!-- Author Info --}}
        <article class="col-md-3 col-fix-right margin-bottom-16">

            <div class="panel panel-primary card margin-bottom-16 test-actions">
                <div class="panel-heading">
                    <h4 class="no-margin">What Next</h4>
                </div>
                <div class="panel-body">

                    <div class="action-link margin-bottom-8">
                        <i class="fa fa-fw fa-undo margin-right-8"></i>
                        {{#link-to 'test' model.test.slug class="action-item margin-bottom-8"}}
                            <span>Retry Quiz</span>
                        {{/link-to}}
                    </div>

                    {{#if goBackTo}}
                        <div class="action-link margin-bottom-8">
                            <i class="fa fa-fw fa-book margin-right-8"></i>
                            {{#if goBackTo.param}}
                                {{#unless goBackTo.subParam}}
                                    {{#link-to goBackTo.path goBackTo.param class="action-item margin-bottom-8"}}
                                        <span>Back to {{goBackTo.label}}</span>
                                    {{/link-to}}
                                {{else}}
                                    {{#link-to goBackTo.path goBackTo.param  goBackTo.subParam
                                    class="action-item margin-bottom-8"}}
                                        <span>Back to {{goBackTo.label}}</span>
                                    {{/link-to}}
                                {{/unless}}
                            {{else}}
                                {{#link-to goBackTo.path class="action-item margin-bottom-8"}}
                                    <span>Back to {{goBackTo.label}}</span>
                                {{/link-to}}
                            {{/if}}
                        </div>
                    {{/if}}

                    <div class="action-link">
                        <i class="fa fa-fw fa-search margin-right-8"></i>
                        {{#link-to 'category' model.test.category.slug class="action-item margin-bottom-8"}}
                            <span>Find Similar Quizzes</span>
                        {{/link-to}}
                    </div>

                </div>
            </div>

            {{user-card user=model.test.author}}

        </article>
    </section>
</div>

{{!--
<div class="container margin-bottom-16 ">
    <div class="card padding-bottom-0">
        <h3>Result overview</h3>
        <hr>
        <div class="row margin-bottom-16">
            <div class="col-md-12">
                <h4>You scored <span style="font-size:x-large;">{{math-round model.score}}%</span>{{#if model.test}}
                    &nbsp;in {{#link-to 'testInfo' model.test.slug tagName='a'}}
                    {{model.test.title}}{{/link-to}}{{/if}}.
                    <small class="pull-right text-center">Test taken {{from-now time=model.createdAt}}</small>
                </h4>
            </div>
        </div>
        {{#unless model.isGenerated}}
            <div class="row margin-bottom-16">
                <div class="col-md-6">
                    <p>Community average</p>
                    {{progress-bar progress=model.test.averageScore}}
                    <p>Your score</p>
                    {{progress-bar progress=model.score}}
                </div>
                {{#if currentUser.privateData.isPremium}}
                    <div class="col-md-6">
                        {{#unless addingOrRemovingQuestionsToSRS}}
                            {{#if areQuestionsAddedToSRS}}
                                <h5>
                                    <img class="circular-image margin-right-8" src="img/srs-icon.png"/>
                                    Questions in this test have been added to your spaced repetition list.
                                </h5>
                                <button class="btn btn-primary margin-top-16 margin-right-8"
                                    {{action 'removeQuestionsFromSRS'}}>Remove questions from this test
                                </button>
                            {{else}}
                                <h5>
                                    <img class="circular-image margin-right-8" src="img/srs-icon.png"/>
                                    Add these questions to your spaced repetition list?
                                </h5>
                                <button class="btn btn-primary margin-top-16 margin-right-8"
                                    {{action 'addQuestionsToSRS' true}}>Add all questions
                                </button>
                                <button class="btn btn-success margin-top-16"
                                    {{action 'addQuestionsToSRS' false}}>Only add incorrectly answered questions
                                </button>
                            {{/if}}
                        {{else}}
                            <h5>Making changes to your spaced repetition list...</h5>
                        {{/unless}}
                    </div>
                {{/if}}
            </div>
        {{/unless}}
        <div class="row">
            <div {{bind-attr class=":col-md-4 :my-tab isTabAll:is-active"}} {{action 'switchTab' 'all'}}>
                <h5 class="text-uppercase">All ({{allResponses.length}})</h5>
            </div>
            <div {{bind-attr class=":col-md-4 :my-tab isTabCorrect:is-active"}} {{action 'switchTab' 'correct'}}>
                <h5 class="text-uppercase">Correct ({{correctResponses.length}})</h5>
            </div>
            <div {{bind-attr class=":col-md-4 :my-tab isTabIncorrect:is-active"}} {{action 'switchTab' 'incorrect'}}>
                <h5 class="text-uppercase">Incorrect ({{incorrectResponses.length}})</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <article class="col-xs-3 margin-top-16">
            {{#if model.test.group.name.length}}
                {{#link-to 'group' model.test.group.slug}}<i class="fa fa-arrow-circle-o-left margin-right-8"></i>
                    Go to {{model.test.group.name}}{{/link-to}}
            {{/if}}
            {{#if model.isProfessional}}
                {{#link-to 'medical'}}<i class="fa fa-arrow-circle-o-left margin-right-8"></i>
                    Generate another test{{/link-to}}
            {{/if}}
        </article>
    </div>
    <div class="row">
        <div class="col-md-9">
            {{#if isTabAll}}
                {{#each allResponses itemController="result.item.response-card" as |response|}}
                    {{partial 'result/response-card'}}
                {{/each}}
            {{/if}}
            {{#if isTabCorrect}}
                {{#each correctResponses itemController="result.item.response-card" as |response|}}
                    {{partial 'result/response-card'}}
                {{/each}}
            {{/if}}
            {{#if isTabIncorrect}}
                {{#each incorrectResponses itemController="result.item.response-card" as |response|}}
                    {{partial 'result/response-card'}}
                {{/each}}
            {{/if}}
        </div>
        <div class="col-md-3 margin-top-16 col-fix-right">
            {{#if categoryTests.length}}
                <div class="card">
                    <h4 class="margin-bottom-16">Recent {{model.test.category.name}} tests</h4>
                    {{#each categoryTest in categoryTests}}
                        <p>{{#link-to 'test' categoryTest.slug}}{{categoryTest.title}}{{/link-to}}</p>
                    {{/each}}
                    <p class="margin-top-16">{{#link-to 'category' model.test.category.slug}}
                        See all {{model.test.category.totalTests}} tests!
                    {{/link-to}}</p>
                </div>
            {{/if}}
        </div>
    </div>
</div>
--}}