<div class="container">
    <div class="card padding-bottom-0">
        <h3>Result overview</h3>
        <hr>
        <div class="row margin-bottom-16">
            <div class="col-md-12">
                <h4>You scored <span style="font-size:x-large;">{{math-round score 2}}% </span>
                    in {{#link-to 'testInfo' test.slug tagName='a'}}{{test.title}}{{/link-to}}.
                    <small class="pull-right text-center">Test taken {{from-now time=createdAt}}</small>
                </h4>
            </div>
        </div>
        {{#unless isSRSAttempt}}
            <div class="row margin-bottom-16">
                <div class="col-md-6">
                    <p>Community average</p>
                    {{progress-bar progress=test.averageScore}}
                    <p>Your score</p>
                    {{progress-bar progress=score}}
                </div>
                {{#if currentUser.privateData.spacedRepetitionActivated}}
                    <div class="col-md-6">
                        {{#unless addingOrRemovingQuestionsToSRS}}
                            {{#if areQuestionsAddedToSRS}}
                                <h5>
                                    <img class="circular-image margin-right-8" src="img/srs-icon.png"/>
                                    Questions in this test have been added to your spaced repetition list.
                                </h5>
                                <button class="btn btn-primary margin-top-16 margin-right-8"
                                    {{action 'removeQuestionsFromSRS'}}>Remove questions from this test
                                </button>
                            {{else}}
                                <h5>
                                    <img class="circular-image margin-right-8" src="img/srs-icon.png"/>
                                    Add these questions to your spaced repetition list?
                                </h5>
                                <button class="btn btn-primary margin-top-16 margin-right-8"
                                    {{action 'addQuestionsToSRS' true}}>Add all questions
                                </button>
                                <button class="btn btn-success margin-top-16"
                                    {{action 'addQuestionsToSRS' false}}>Only add incorrectly answered questions
                                </button>
                            {{/if}}
                        {{else}}
                            <h5>Making changes to your spaced repetition list...</h5>
                        {{/unless}}
                    </div>
                {{/if}}
            </div>
        {{/unless}}
        <div class="row">
            <div {{bind-attr class=":col-md-4 :my-tab isTabAll:is-active"}} {{action 'switchTab' 'all'}}>
                <h5 class="text-uppercase">All ({{allResponses.length}})</h5>
            </div>
            <div {{bind-attr class=":col-md-4 :my-tab isTabCorrect:is-active"}} {{action 'switchTab' 'correct'}}>
                <h5 class="text-uppercase">Correct ({{correctResponses.length}})</h5>
            </div>
            <div {{bind-attr class=":col-md-4 :my-tab isTabIncorrect:is-active"}} {{action 'switchTab' 'incorrect'}}>
                <h5 class="text-uppercase">Incorrect ({{incorrectResponses.length}})</h5>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            {{#if isTabAll}}
                {{#each response in allResponses itemController='result.item.response-card'}}
                    {{partial 'result/response-card'}}
                {{/each}}
            {{/if}}
            {{#if isTabCorrect}}
                {{#each response in correctResponses itemController='result.item.response-card'}}
                    {{partial 'result/response-card'}}
                {{/each}}
            {{/if}}
            {{#if isTabIncorrect}}
                {{#each response in incorrectResponses itemController='result.item.response-card'}}
                    {{partial 'result/response-card'}}
                {{/each}}
            {{/if}}
        </div>
        <div class="col-md-3 margin-top-16 col-fix-right">
            {{#if test.author}}
                {{render 'user/-author-info' test}}
            {{/if}}
            {{#if categoryTests.length}}
                <div class="card margin-top-16">
                    <h4 class="margin-bottom-16">Recent {{test.category.name}} tests</h4>
                    {{#each categoryTest in categoryTests}}
                        <p>{{#link-to 'test' categoryTest.slug}}{{categoryTest.title}}{{/link-to}}</p>
                    {{/each}}
                    <p class="margin-top-16">{{#link-to 'category' test.category.slug}}
                        See all {{test.category.totalTests}} tests!
                    {{/link-to}}</p>
                </div>
            {{/if}}
        </div>
    </div>

</div>