<div class="container margin-bottom-16">
    <section class="row">
        <article class="col-md-12">
            <ol class="breadcrumb">
                {{#unless isGenerated}}
                    {{#link-to 'browse' tagName='li'}}{{#link-to 'browse'}}Browse{{/link-to}}{{/link-to}}
                    {{#if model.category.parent.slug}}
                        {{#link-to 'category' model.category.parent.slug tagName='li'}}
                            {{#link-to 'category' model.category.parent.slug}}
                                {{model.category.parent.name}}
                            {{/link-to}}
                        {{/link-to}}
                        {{#link-to 'subcategory' model.category.parent.slug model.category.slug tagName='li'}}
                            {{#link-to 'subcategory' model.category.parent.slug model.category.slug}}
                                {{model.category.name}}
                            {{/link-to}}
                        {{/link-to}}
                    {{else}}
                        {{#link-to 'category' model.category.slug tagName='li'}}
                            {{#link-to 'category' model.category.slug}}
                                {{model.category.name}}
                            {{/link-to}}
                        {{/link-to}}
                    {{/if}}
                    {{#link-to 'testInfo' model.slug tagName='li'}}
                        {{#link-to 'testInfo' model.slug}}
                            {{model.title}}
                        {{/link-to}}
                    {{/link-to}}
                    {{#link-to 'test' model.slug tagName='li'}}
                        Take test
                    {{/link-to}}
                {{/unless}}
            </ol>
        </article>
    </section>

    <section class="row">
        <article class="col-md-9 margin-bottom-16">

            <section class="row">
                <article class="col-md-12">
                    {{#unless loading}}

                        <div class="card take-test">
                            {{!-- Question Title + Category Tags --}}
                            <div class="title-and-tags">
                                <h2 class="title">{{model.title}}</h2>
                                <div class="category-and-module-tags-container">
                                    {{category-tags canEdit=false test=model
                                    class="category-tag-container inline-block"}}
                                    {{module-tags canEdit=false tags=model.tags
                                    class="inline-block"}}
                                </div>
                            </div>

                            {{!-- Question Progress Bar--}}
                            <div class="question-progress-container margin-bottom-16">
                                <div class="question-progress"
                                    {{bind-attr
                                    style=questionProgressStyle
                                    }}>
                                </div>
                            </div>

                            {{!-- Question Stem + Options Container (Min-Height for UX stability) --}}
                            <div {{bind-attr class=":question-stem-and-option-container :inline-block
                            currentQuestion.image.url.length:has-image"}}>

                                {{!-- Question Number + Stem--}}
                                <div class="row margin-bottom-16">
                                    <div class="col-md-12">
                                        <div class="question-stem-container">
                                            <span class="question-counter inline-top">{{currentQuestionNumber}}</span>

                                            <p class="question-stem margin-top-0 inline-top">
                                                {{currentQuestion.stem}}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                {{!-- Options (Label + Phrase) loop --}}
                                <div class="options-container">
                                    {{#each currentQuestion.shuffledOptions as |option|}}
                                        <div class="row" {{action 'optionSelected' _view.contentIndex}}>
                                            <div {{bind-attr class=":col-md-12 :option :card option.isSelected"}}>
                                                <div class="option-label inline-block margin-right-16">
                                                    {{alphabetise-index _view.contentIndex}}
                                                </div>
                                                <span class="phrase inline-block">{{option.phrase}}</span>
                                            </div>
                                        </div>
                                    {{/each}}
                                </div>
                            </div>


                            {{#if currentQuestion.image.url.length}}
                                <div class="image-container inline-top">
                                    <img class="image" {{bind-attr src=currentQuestion.image.secureUrl}}
                                    {{action 'openModal' 'application/modal/image' true currentQuestion.image.secureUrl}}/>
                                </div>
                            {{/if}}

                            <hr class="full-hr margin-top-8 margin-bottom-8">

                            {{!-- Question Navigation--}}
                            <div class="row question-navigation-container">
                                <div class="col-sm-6 col-xs-12">
                                    <button class="btn btn-default btn-with-icon margin-right-8" {{action 'previousQuestion'}}>
                                        <span class="left-section inline-block">
                                            <i class="fa fa-fw fa-arrow-left"></i>
                                        </span>
                                        <span class="inline-block">Prev</span>
                                    </button>

                                    <button class="btn btn-default btn-with-icon next-question" {{action 'nextQuestion'}}>
                                        <span class="inline-block">Next</span>
                                        <span class="right-section inline-block">
                                            <i class="fa fa-fw fa-arrow-right"></i>
                                        </span>
                                    </button>
                                </div>
                                <div class="col-sm-6 col-xs-12 finish-test-button-container">
                                    <button class="btn btn-ghost"
                                        {{action 'confirmFinish'}}>Finish
                                    </button>
                                </div>

                                <p class="navigation-counter">
                                    Q<strong>{{currentQuestionNumber}}</strong> of {{shuffledQuestions.length}}
                                </p>
                            </div>

                        </div>
                    {{else}}
                        <div class="card text-center">
                            <h3>{{loading-bar}} {{loading}}</h3>
                        </div>
                    {{/unless}}
                </article>
            </section>
        </article>


        <article class="col-md-3 col-fix-right">
            <section class="row">
                {{#unless isGeneratedAttempt}}
                    <article class="col-md-12 col-sm-6 col-xs-12 margin-bottom-16">
                        {{user-card user=model.author}}
                    </article>
                {{/unless}}
            </section>
        </article>
    </section>
</div>