<div class="container">
    <div class="card">
        <div class="cover-image" {{bind-attr style=coverImageStyle}}>
            <div class="scrim"></div>
            {{render 'profile-image' this}}

            <h2>{{#link-to 'user' this.slug}}{{name}}{{/link-to}}</h2>
            <h5>{{#unless isCurrentUser}}
                {{#if isFollowing}}
                    <a {{action 'unfollowUser' this}}
                            style="position: absolute;
                            cursor:pointer;
                        left: 184px;
                        bottom: 16px;
                        color: whitesmoke;
                        font-size: 18px;">Following</a>
                {{else}}
                    <a {{action 'followUser' this}}
                            style="position: absolute;
                            cursor:pointer;
                        left: 184px;
                        bottom: 16px;
                        color: whitesmoke;
                        font-size: 18px;">Follow</a>
                {{/if}}
            {{/unless}}
            </h5>

            <div class="user-navigation">
                {{#link-to 'user.index' tagName='button'}}Overview{{/link-to}}
                {{#link-to 'user.tests' tagName='button'}}{{numberOfTests}}
                    <small> Tests</small>{{/link-to}}
                {{#link-to 'user.following' tagName='button'}}{{numberFollowing}}
                    <small> Following</small>{{/link-to}}
                {{#link-to 'user.followers' tagName='button'}}{{numberOfFollowers}}
                    <small> Followers</small>{{/link-to}}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card margin-top-16">
                        <!-- This will force fetch course and institution before displaying -->
                        {{#if course.institution.fullName}}
                            <p>In year {{yearNumber}} of <a {{bind-attr href=courseFacebookPageUrl}}
                                    >{{course.name}}</a> at <a {{bind-attr href=institutionFacebookPageUrl}}
                                    >{{course.institution.fullName}}</a>
                            </p>
                        {{else}}
                            <p>{{#if isCurrentUser}}You have not{{else}}{{firstName}} has not{{/if}} added any course
                                information yet.</p>
                        {{/if}}
                        {{#if isCurrentUser}}
                            {{#if course}}
                                <p>
                                    <a href='javascript:void(0)'
                                        {{action 'openModal' 'user/modal/course-selection' 'user'}}>Edit course
                                        details</a>
                                </p>
                            {{else}}
                                <p><a href='javascript:void(0)'
                                    {{action 'openModal' 'user/modal/course-selection' 'user'}}>Add course details</a>
                                </p>
                            {{/if}}
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9 action-column">
            {{outlet}}
        </div>
    </div>
</div>